[2019-01-10 14:41] lizr2004 commented on #862
[code]
Like this?

[2019-01-12 21:33] tkaitchuck commented on #812
It would be useful to have a config option to set a default. That would avoid having to type it every time, and prevent the loss of syntax highlighting within the IDE.

[2019-01-14 15:47] steveklabnik commented on #828
Okay, so I think, after doing some investigations, the issue is basically that:

1. because the links used to be relative to the root, they happened to work for print.html, because it was at the site root
2. now that links are not relative to the root, they no longer work.

This means that we need some sort of "URL normalization" pass, which has to know how to re-target all of the links in the tex

[2019-01-18 12:37] IBISLabUMD commented on #813
This successfully worked for me: https://gitlab.com/nmg/ngspice-manual/raw/master/.gitlab-ci.yml

[2019-01-19 01:48] lzutao opened #869 "Update ace.js"
Could we just update [`ace.js`](mdBook/src/theme/playpen_editor/ace.js)? The new script should fix the error:

[code]

---

**Edit:** Related links

* https://ace.c9.io/#nav=embedding
* https://cdnjs.com/libraries/ace

[2019-01-19 01:55] lzutao commented on #869
r? @projektir @steveklabnik

[2019-01-19 14:08] weihanglo commented on #858
As a contributor, if a project lacks of the dev roadmap and proper issue management, I often feel confused while figuring out which issues or pull requests are ongoing. In my opinion, just like every software development management does. A well-managed timetable and a clear priority levels of issues would help contributors be more comfortable to engage a project. Maybe we can start from making our

[2019-01-23 05:09] Michael-F-Bryan commented on #858
Thanks @weihanglo, you put it into words a lot better than I could! I think this project could do with a bit more organisation. Until now we've been going along "organically", adding features or fixing bugs as we see fit. This is great for autonomy, but makes it difficult for people to contribute to the project.

@steveklabnik used to help out with commenting on PRs and acting as the go-between wh

[2019-01-24 12:13] ojn commented on #864
Nodebook interactive tutorial book has done in with CSS and a simple regex https://github.com/oncletom/nodebook/blob/master/src/asciidoctor-extension-bash-dollar.js

Do you think it's a suitable way to achieve the same in mbBook?

[2019-02-04 14:06] ehuss commented on #820
I opened PR #872 to get started fixing this.  If that gets merged, the next steps are to update the deploy API keys.

[2019-02-04 15:46] jamesmunns commented on #820
Thanks @ehuss! Let me know if I can help with anything.

[2019-02-11 17:13] rerime opened #873 "Add next page also at top of page in mobile version"
for fast page turning

[2019-02-11 17:13] rerime opened #874 "There is no next page button"
At this pages
https://rust-lang-nursery.github.io/cli-wg/index.html
https://rustwasm.github.io/book/
https://rust-embedded.github.io/book/

[2019-02-12 15:52] juanibiapina commented on #858
It seems like there's a lot of people not only interested, but actively contributing PRs. What is missing is just someone (or a group of people) to take care of merging those PRs. A few of them are just fixing bugs and build problems.

To me it seems this project is almost complete, in a sense that it is used in production by at least one major book. It probably doesn't need new features soon. I t

[2019-02-12 17:46] mattico commented on #858
I'd encourage those that want to help to email Steve Klabnik or someone else from rust-lang-nursery to get commit access here. They don't seem to be stingy granting it which makes sense since there's limited damage one can do with it. There's a lot of good work being submitted here and not enough maintainer time to get it merged.

[2019-02-12 17:58] steveklabnik commented on #858
I have been meaning to reply to this thread but haven't had the chance;
it's likely I will next week. Sorry for the delay. Help will certainly be
good, but I'm in the process of moving house.

On Tue, Feb 12, 2019 at 12:46 PM Matt Ickstadt <notifications@github.com>
wrote:

[2019-02-14 21:19] wduquette opened #876 "Collapsible table of contents"
Add expand/collapse controls to the table of contents sidebar, to make long tables of contents easier to navigate.

[2019-02-14 21:21] wduquette opened #877 "Display project/book logo in table-of-contents sidebar"
All mdbook books look pretty much alike; and to make matters worse the book title is understated, at least in the default theme.  I'd like to be able to add a graphic to the top of the table of contents, to visually distinguish one mdbook from another.

[2019-02-23 15:12] chinedufn opened #879 "Including other files between some start and end string"
Right now you can include the contents of a file in between two line numbers.

---

This has been useful - but can lead to some rot if you modify a file and forget to update your mdbook.

---

That rot has led me to sometimes split some code into another file - not because I wanted to or thought that it made sense - but because I wanted to be able to include it into an mdbook without forgetting to

[2019-02-26 15:31] d8aninja commented on #88
One of the things that doesn't seem to be mentioned anywhere on this ticket is the ability to _highlight the important bits_.  I have used a chrome extension called Hypothesis to do this until recently but a) chrome extension, ew b) its pretty sloppy about whether the highlights are saved under your personal view or public view (ie, in some cases you can see others' highlights) and c) I say recent

[2019-02-27 10:50] folex commented on #632
Please do! This would enable to include ToC of a specific document to the main ToC.

[2019-02-27 18:37] mrec commented on #821
In Chrome I need to both change `display` to `inline` **and** disable the `vertical-align:middle`.

[2019-02-27 23:47] ehuss opened #880 "mdbook internal HTML id's conflict with header id's."
If there is a page with a header of "Rust", then the fragment URL will not work for that section because there is a conflict with the id used by the theme selector.

To reproduce, create a page with `## Rust`.  If you try to click on the header, the right-pointing quotation mark does not appear. The `#rust` fragment does not scroll to the section.  The same will happen with other sections with the

[2019-02-28 13:36] mrec commented on #700
[There's an open ticket for it](https://github.com/raphlinus/pulldown-cmark/issues/27) from 2016, but there doesn't seem to be any activity on the project these days.

[2019-03-03 13:05] HobDev opened #881 "mdbook build run into an error"
I install the mdbook with terminal. Thereafter run the command `mdbook build`. But it through  the following error:
2019-03-03 18:31:32 [ERROR] (mdbook::utils): Error: Couldn't open SUMMARY.md
2019-03-03 18:31:32 [ERROR] (mdbook::utils): 	Caused By: No such file or directory (os error 2)
I runt the `mdbook build` command on my home directory.  I am on MacOS Mojave 10.14.3.

[2019-03-04 03:50] HobDev opened #882 ""Table of contents" does not show full titles and "Content" have large margins"
The Table to Content needs to be wider in order to read the titles. In "The Rust Programming Language Book" some of the titles not fully shown. This is because the `The Table of Content` is not flexible to adjust according to the size of the titles. Another way is to wrap the text of `titles` in new line.
 Further the content on the right side can also be widened to accommodate more content in sin

[2019-03-04 15:10] mrec commented on #830
Tangential, but are there use cases where this is deliberate? I'm wondering whether it would be helpful to have the book build report any orphan (non-SUMMARY) pages it finds.

[2019-03-04 17:14] mrec commented on #876
Is this a dupe of #25, or are you proposing something different?

[2019-03-04 17:27] mrec commented on #499
Is the amount to which it's "off" constant, or proportional to the number of hidden lines?

This is an old bug so Firefox and/or mdBook may well have changed, but as of 0.2.1 (and without any hidden lines) the issue I'm seeing is that the section header I'm jumping to gets hidden under the `position:sticky` `menu-bar` element, which is effectively floating on top of the content.

[2019-03-04 18:12] mrec commented on #881
Did you run [`mdbook init`](https://rust-lang-nursery.github.io/mdBook/cli/init.html) first to set up the book's skeleton? Or specify a [path to your book directory](https://rust-lang-nursery.github.io/mdBook/cli/build.html#specify-a-directory) if you already have a book project somewhere else?

[2019-03-05 04:34] HobDev commented on #881
@mrec  I get to build the book giving the correct path. Sorry for the raising such a issue.

[2019-03-05 04:34] #881 closed

[2019-03-08 13:58] yaymukund opened #884 "Clearing highlights after performing a search"
Moved from https://github.com/rust-lang/book/issues/1847

After searching for a very common term, the highlights can make it difficult to actually read the text. It would be nice to have an easy way to clear the highlight.

![screenshot-2019-03-08-02-03-11](https://user-images.githubusercontent.com/590450/54024143-bbc34500-414b-11e9-8f2a-926f186c9d79.png)

Currently, you have to delete the `?highl

[2019-03-08 16:04] ehuss commented on #884
Pressing [escape](https://github.com/rust-lang-nursery/mdBook/blame/c068703028d19fb6c5a4690e904ae6f2bd74292f/src/theme/searcher/searcher.js#L316-L325) should clear the highlight.

[2019-03-08 17:36] yaymukund commented on #884
@ehuss that works as you're searching, but not once you've clicked through to a search result. For example, [you can't hit `Esc` to clear the highlight on this page](https://doc.rust-lang.org/book/ch19-06-macros.html?highlight=macro#macros)

[2019-03-08 18:04] ehuss commented on #884
Esc works for me on that page. Which browser/version/platform are you on?

[2019-03-08 18:49] yaymukund commented on #884
Ah! It was an extension getting in the way. My mistake. Thank you for helping debug :sweat_smile:

[2019-03-08 18:49] #884 closed

[2019-03-09 15:29] kravemir commented on #539
Custom error pages are usually easy when developing custom application, and listening to HTTP directly.

However, static site generator generates only static HTML files with resources. And, error pages depend on the server serving the static site. And, those servers might have a different way of defining error pages. And, a server might not respect `.htaccess` files,..

For example, to define cust

[2019-03-09 17:05] derpmarine168 commented on #539
Gitlab pages is yet another site that uses `404.html`.

[2019-03-11 14:40] chinedufn commented on #879
Another thing that would be useful is being able to start from some string and then end at some offset number of lines.

[code]

So this would start at the first line that contained `"Include this in"` and end at that line number +10 (or end of file if there aren't 10 more lines)

[2019-03-12 21:09] krry opened #887 "The book's title is not centered."
Moving the theme ctrls to the right side leaves the title centered, at least when the git button is not shown. Also makes more sense interface-wise to group the cosmetic functions (Print and Theme) and the navigation functions (TOC and Search).

Happy to create a PR if y'all like this tiny tweak.

How it could be:
<img width="771" alt="Screenshot 2019-03-12 16 07 11" src="https://user-images.githu

[2019-03-15 02:20] ehuss commented on #858
@steveklabnik Have you had a chance to think about this more?  I'm willing to help review/merge small changes.  Some books can't migrate to 0.2 since they are blocked on some issues here.

[2019-03-15 08:11] joekyo opened #888 "function name with_preprecessor should be with_preprocessor"
s/preprecessor/preprocessor/

[2019-03-16 15:50] wduquette commented on #876
This would appear to be a dupe of #25.  (Looked for such a thing, didn't see it.)

[2019-03-16 15:50] #876 closed

[2019-03-21 18:03] lzutao opened #890 "Improve theme for highlighting toml config"
From https://doc.rust-lang.org/nightly/cargo/reference/config.html#configuration-keys
![image](https://user-images.githubusercontent.com/15225902/54774412-44f37500-4c3e-11e9-83db-9637336bd63f.png)

[2019-03-23 18:38] iofxl commented on #830
What I exactly want is,  the link is only in a `readme.md` file but is not in the `SUMMARY.md` can still work.

Now, such content in a `readme.md` file:

`[Link to xxx](xxx.md)`

this link will be rendered as `http://.../xxx.html`, so if this link is not in the `SUMMARY.md`, the page won't be found.

`

[2019-03-24 08:10] Dylan-DPC commented on #858
If you need a team to maintain this, I'm ready to help

[2019-03-25 15:39] steveklabnik commented on #858
Hey folks,

First of all, sorry for taking forever here. It turns out that moving across the country, quitting your job, and trying to get a new one means that some things fall through the cracks for a while :)

I *would* like to start a new team here to maintain mdbook. I don't have the time to do maintenance, and it's clear most of the current maintainers don't either.

Is there anyone in this t

[2019-03-25 16:06] Dylan-DPC commented on #858
@steveklabnik I can do it but someone else wants to step in and lead I'm fine with that as well.

[2019-03-25 16:34] weihanglo commented on #858
@steveklabnik I can also support both the maintenance and implementation works.

[2019-03-25 16:47] yaahallo commented on #858
I don't have time to jump in and help with organizing but if you need contributors to implement PRs I'm down to help.

[2019-03-25 16:51] chinedufn opened #893 "Zero exit code when plugin not found"
## Problem

I started adding the `mdbook-linkcheck` plugin to my book build process and was confused when CI was still passing even though I had forgotten to install the plugin in my ci config.

[code]

## Expected Behavior

Would expect that `mdbook build` would fail with a non zero exit code if we tried to use a plugin that it couldn't find.

[2019-03-25 19:29] carols10cents commented on #858
I don't have much time either, but as the other co-author on The Book, I'd be happy to test out PRs, provide a user perspective on any changes, weigh in on priorities, etc :) Please feel free to ping me whenever and I'll help out best I can!

[2019-03-27 18:53] chinedufn commented on #879
Made a preprocessor for this `mdbook-superimport` https://github.com/tailwind/mdbook-superimport/pull/1

[2019-03-27 18:53] #879 closed

[2019-04-02 16:46] moshg opened #895 "Line breaking configuration support"
In Japanese, words aren't separated by spaces. So it is not what I want that when single line break occurs, it is replaced by a space. I want line break erased.
Can mdBook provide the command line argument that enable this feature, or detect locale and enable this feature?

[2019-04-04 15:15] mrec commented on #895
Relevant discussion: https://talk.commonmark.org/t/soft-line-breaks-should-not-introduce-spaces/285

[2019-04-04 18:05] CBenoit commented on #879
An issue and pull request was already open: https://github.com/rust-lang-nursery/mdBook/pull/851 and https://github.com/rust-lang-nursery/mdBook/issues/811
But your `mdbook-bookimport` is a great replacement while we wait for a new maintainer! :+1:

[2019-04-04 18:24] chinedufn commented on #879
Ohhhh awesome thanks for the links!

[2019-04-05 05:21] moshg commented on #895
@mrec Thanks for the good link!
`ignore_line_breaks` and `east_asian_line_breaks`, which pandoc already has, seem good, though the name "east_asian_line_breaks" might be inappropriate because there might be other languages that don't use spaces to separate words.

[2019-04-05 05:32] moshg commented on #895
And `east_asian_line_breaks` by default and `always_soft_break_as_space` opt-in might be better.

[2019-04-05 10:28] dieulot opened #896 "Header links’ whitespace cause accidental activation"
When you click to the right of a header it’s still considered part of the link and it scrolls you to that header.

There’s little value to having an overflowing link like that, most of those clicks are likely accidental clicks. It personally happens to me a lot, both on desktop and on mobile. It’s a constant source of annoyance.

The solution is to put the &lt;a&gt; element inside the &lt;h2&gt;/&

[2019-04-08 21:45] rinon commented on #858
I'm using mdBook for a project and have written some small plugins and customizations. I'd be happy to review some PRs and work on issues, but I also can't commit to coordinating maintenance right now.

[2019-04-10 06:23] Lokathor commented on #874
There seems to be a problem with both the top level URL as well as the "introduction" page without the chapter number on it (if any), not getting the next buttons.

Compare:
* https://rust-lang.github.io/rust-bindgen/
* https://rust-lang.github.io/rust-bindgen/introduction.html

[2019-04-11 22:45] FreeMasen commented on #631
I am curious what the appetite for breaking up the `mdbook` library into a few smaller crates to allow for easier plugin development?

Currently if you want to build a preprocessor you are required to bring all filesystem portions of `mdbook` even though your application will only be concerned with reading from stdin, `Book` and sending that back out via `stdout`.

It seems silly to have to compil

[2019-04-12 14:59] gilescope commented on #730
or svgbob support

[2019-04-13 16:06] FreeMasen commented on #631
For a blog post I am working I have have set up what I described above as a fork or the current master. You can find it here.

https://github.com/freemasen/mdbook

[2019-04-17 21:45] steveklabnik commented on #858
Hey folks;

So, I've just removed all the old collaborators, for a fresh start. I've invited @Dylan-DPC, so that they can merge PRs. The first step will be going through all the open PRs, then looking at Issues, and once we have taken stock of where we're at, we can come up with a plan for an mdbook 1.0.

If you'd like to help, please review some PRs! Anyone can review a PR on GitHub, so you shoul

[2019-04-18 19:12] jeffvandyke commented on #760
As a related feature to having variables, a way to put conditionals in markdown would allow different outputs from the same source based on environment variables or configuration. A use case that's relevant to our company would be to bundle a help manual in a web application on multiple different embedded devices with a few different configuration options. It would be ideal to be able to condition

[2019-04-21 20:37] hnakamur commented on #495
Hi, I sent [merge requests to update the debian rustc package to 1.33.0](https://salsa.debian.org/rust-team/rust/merge_requests?scope=all&utf8=%E2%9C%93&state=merged) and I'm trying to package rustc 1.34.0 now and found this issue. I'd like to use full capability of this crate if possible.

Here are JavaScript and CSS files in commit cb94053779eb1c01367adf17b236eec0d59e9012

JavaScript files

* ./

[2019-04-22 22:08] ehuss opened #899 "Migrate from error_chain?"
`error_chain` is mostly unmaintained now, I think it would be a good idea to move off it.  I only have experience with `failure`, so that would be my preference as an alternative. But if anyone prefers something else, it would be good to discuss!

[2019-04-22 22:20] #679 closed

[2019-04-23 09:36] #826 closed

[2019-04-23 13:32] shepmaster commented on #899
I'd like to humbly suggest [SNAFU](https://docs.rs/snafu/0.2.2/snafu/). I think it's the bee's knees.

Is there anything concretely disliked about the current implementation that I could watch out for when preparing a PR for discussion?

[2019-04-24 15:49] shepmaster commented on #899
Some thoughts on a first skim:

- There are *a lot* of stringly-typed errors; basically any use of `error_chain`:

[code]

- Errors that could provide more information. In the same example, it would be nice to know *what* directory was unable to be cleared.

- Multiple errors don't expose *any* context. For example, I'm pretty sure that this error would be very hard for an end-user to debug, becau

[2019-04-26 16:26] gilescope commented on #172
Example use case:

Using mdbook on a standard github project with a README.md in the root of the repository. Currently it's really hard to reference this file as it's not in src.

(Would be good if it would just dump anything below the output dir in the root of the output dir.)

[2019-04-27 20:44] ddevault commented on #847
Hey guys, this is a serious problem. I'd apprecaite it if the maintainers took a moment to address it, rather than letting this issue continue to grow stale.

[2019-04-27 20:56] Dylan-DPC commented on #847
@ddevault sure will try and prioritise this and resolve it ASAP. Thanks

[2019-04-27 20:56] ddevault commented on #847
Thanks @Dylan-DPC, I appreciate it.

[2019-04-28 00:48] ehuss commented on #847
@Dylan-DPC I spent some time looking at #848 and it seems surprisingly complex. I'm also not sure how important non-latin fonts are, that PR does not include them. I think there would also be some licensing requirements for redistributing the fonts.  I would also think there should be some consideration for theming. As-is, it unconditionally copies the fonts into the output, even if you don't use

[2019-04-28 00:52] ddevault commented on #847
Google fonts use the Open Font License, which is a free (as in freedom) license that permits redistribution.

I'd suggest just using the system fonts and living with it if the user doesn't have them. It's not the end of the world.

[2019-04-28 01:21] ehuss commented on #847
I'm pretty sure Open Sans is Apache 2.0. I just meant the license needs to be included with the fonts.

[2019-04-28 18:15] FreeMasen opened #902 "Library depends on `same-file`"
Currently even the library associated with this project will require that it is compiled on either unix-like or windows target because of a transitive dependency. `same-file` is a dependency of `walkdir` which has 2 architecture dependent implementations of it's functionality. While the direct dependency on `walkdir` is in the `dev-dependencies` section, which would avoid any issues for users of t

[2019-04-28 19:32] carols10cents commented on #482
I'm going to close this given that maintainership is changing again, see #858, so I think this instance of maintainership transfer has been completed ❤️

[2019-04-28 19:32] #482 closed

[2019-04-28 19:41] carols10cents commented on #618
Ok I think I understand this one because I think I'm having the same issue.

When I have an external file that, say, looks like this:

[code]

And I include part of the file like this:

[code]

I correctly see the part of the file rendered:

<img width="764" alt="Screen Shot 2019-04-28 at 3 36 15 PM" src="https://user-images.githubusercontent.com/193874/56869198-709b1500-69cb-11e9-9c71-ef5afa16853

[2019-04-29 01:29] ehuss opened #904 "Setting up automatic deploy."
The current API keys are no longer valid, so deploy is currently broken. This is needed for cargo and the rust-lang reference to update. It is also needed to keep the gh-pages documentation up-to-date.

Someone with write access to the `rust-lang-nursery/mdBook` repository (and maybe Travis and Appveyor) needs to generate the new token. I'm not sure if this is the best process, but this appears to

[2019-04-29 15:45] carols10cents commented on #904
I might have some of the right permissions, I can certainly try.

I'm a bit confused why mdbook needs to be able to deploy its docs in order to update cargo and the reference? Can you elaborate please?

[2019-04-29 15:54] carols10cents commented on #904
In looking at [0.2.3's tagged build logs](https://travis-ci.com/rust-lang-nursery/mdBook/jobs/171456705#L934), it's erroring on the missing target, [which it looks like you fixed](https://github.com/rust-lang-nursery/mdBook/commit/966632a724a396007d7e5e52d007008dbb6c465f#diff-354f30a63fb0907d4ad57269548329e3).

Are you sure it's a permission issue now? Am I looking in the wrong place for logs?

[I

[2019-04-29 15:59] carols10cents commented on #904
ok I see this is for uploading release artifacts

[2019-04-29 16:04] carols10cents commented on #904
It looks like we can use [a deploy key](https://developer.github.com/v3/guides/managing-deploy-keys/#deploy-keys) instead of oauth?

[2019-04-29 16:07] carols10cents commented on #904
ugh that's what the github docs say, but not the travis docs....

[2019-04-29 16:20] carols10cents commented on #904
I'm out of time to spend on this for the moment; if someone else with the right permissions comes along and feels more confident about what needs to be done, please go ahead and take this.

If that doesn't happen, I'll check back in next time I have a few minutes, not sure when that'll be.

I'm currently stuck at really really wanting to use deploy keys because they only give access to one repo an

[2019-04-29 16:42] infinity0 commented on #495
Minifiers and bundlers aren't appropriate for Debian.

[2019-04-29 17:35] ehuss commented on #904
Thanks for taking a look!

This is for using pre-built binaries ([cargo](https://github.com/rust-lang/cargo/blob/85b4221a58cce743c937966ae934be966643c3a8/.travis.yml#L30), [reference](https://github.com/rust-lang-nursery/reference/blob/94ad2b83b473082706113cf9d74974d385464f42/.travis.yml#L7)).  At least in Cargo, we couldn't really afford the extra CI time to build mdbook every time, and caching d

[2019-04-29 22:53] Dylan-DPC commented on #893
hi @chinedufn can you send a PR that makes the required change?

[2019-04-29 22:55] Dylan-DPC commented on #877
hi @wduquette are you open to creating a PR that makes this change? Thanks

[2019-04-29 22:57] Dylan-DPC commented on #847
@aral or @ddevault are you open to sending a PR that makes this change? Thanks

[2019-04-29 22:57] Dylan-DPC commented on #847
@aral or @ddevault are you open to sending a PR that makes this change? Thanks

[2019-04-29 22:58] ddevault commented on #847
Sure, I'll see if I have some time tomorrow.

[2019-04-29 22:59] Dylan-DPC commented on #902
Fixed by PR linked (#903). Thanks

[2019-04-29 22:59] #902 closed

[2019-04-29 23:01] Dylan-DPC commented on #595
@dns2utf8 are you still facing this issue?

[2019-04-29 23:02] Dylan-DPC commented on #700
The feature is now available in the pulldown-cmark

[2019-04-29 23:04] Dylan-DPC commented on #420
Closing this as there's nothing we can do about it now

[2019-04-29 23:04] #420 closed

[2019-04-29 23:04] #275 closed

[2019-04-29 23:05] Dylan-DPC commented on #90
Closing this since it is outdated. if there are changes from this that are still to be made, we can create new issues for them.

[2019-04-29 23:05] #90 closed

[2019-04-29 23:24] ehuss commented on #700
I think the `ENABLE_STRIKETHROUGH` option will need to be added for this to work?  And I think it will need to wait for #898.

[2019-04-30 02:47] chinanf-boy commented on #835
@Dylan-DPC `I try, still not working`

## 1. `cargo install mdbook --force` update to v0.2.3
## 2. change book.toml

[code]

[docs:build options](https://rust-lang-nursery.github.io/mdBook/format/config.html#build-options)

## server `mdbook serve --open`

still render the code `{{# playpen}}` and `{{# include}}`
and README.md => index.md changed

No, not Working.

### Other try `preprocess = ["in

[2019-04-30 14:03] ddevault commented on #847
Started looking at this, but it seems like #848 is on point. The only change would be adding the license. Right?

[2019-04-30 16:53] ehuss commented on #847
I see two other minor issues with the PR:
- It doesn't support non-latin scripts.  All other scripts will fall back to the system `sans-serif`.
- It forces all books to include a copy of open-sans, even if they use a theme that modifies the font.

I'm not sure if either of those issues matters much.

[2019-04-30 16:55] ddevault commented on #847
@aral thoughts?

[2019-05-01 05:41] #862 closed

[2019-05-02 19:14] #537 closed

[2019-05-04 15:33] #888 closed

[2019-05-05 16:32] wduquette commented on #877
I suppose I could.  But I haven't looked at either the mdbook code or the generated HTML/JavaScript.

[2019-05-06 05:01] brainplot opened #910 "Prev/Next keyboard shortcuts not working properly"
Hi, I'm currently reading the book _The Rust Programming Language_ and I decided to build it from source checking out the latest version from [the official repository](https://github.com/rust-lang/book).
I installed mdBook via `cargo install mdbook` - without specifying any version number - and I got `mdBook v0.2.3`; then I opened the book in my browser with:
[code]
and I immediately noticed that

[2019-05-06 12:01] carols10cents commented on #910
Hi! This sounds like an issue with mdbook, could you refile this issue in the https://github.com/rust-lang-nursery/mdBook repo please? Thanks!

[2019-05-06 14:37] brainplot commented on #910
@carols10cents I'm confused. Isn't this the exact same repository you linked?

[2019-05-06 15:14] carols10cents commented on #910
LOL oops!!!! I was on mobile, and because you talked about the book so much, I thought your issue was filed against https://github.com/rust-lang/book, which I also get emails for. You are absolutely correct, I'm sorry for incorrectly closing this!

[2019-05-06 15:41] brainplot commented on #910
Don't worry, it happens! :)
I talked about the book to give a bit of context on what I tried and what wasn't working.

[2019-05-06 15:45] carols10cents commented on #910
Yes, thank you for that, it is very helpful :) My brain just wasn't working ;)

[2019-05-07 22:27] #874 closed

[2019-05-07 22:29] #910 closed

[2019-05-07 22:32] #772 closed

[2019-05-08 19:13] #832 closed

[2019-05-08 21:51] #789 closed

[2019-05-08 22:27] Dylan-DPC commented on #859
@travankor is it possible to send a PR that makes this change? thanks

[2019-05-08 22:31] Dylan-DPC commented on #595
Closing this issue due to inactivity. If you face the same issue on latest release or master, feel free to open a new issue. Thanks

[2019-05-08 22:31] #595 closed

[2019-05-09 18:22] Dylan-DPC commented on #677
@alexlitty hi. do you have time to submit a PR that makes this change?

[2019-05-09 18:49] Dylan-DPC commented on #833
@andrewhu-uw are you still facing this issue?

[2019-05-09 18:53] Dylan-DPC commented on #820
@ehuss the mentioned PR has been merged

[2019-05-10 18:33] alexlitty commented on #677
@Dylan-DPC I wish :)

[2019-05-13 13:58] Phrohdoh opened #919 "Request: Support external links"
It'd be nice if `mdbook` didn't generate a file structure for URIs in `SUMMARY.md` that begin with a protocol.

For example, I have the following:

[code]

The `[Wiki]` item would, ideally, be a link to https://github.com/OpenRA/OpenRA/wiki/Utility.

[2019-05-13 14:14] Phrohdoh commented on #919
The (completely valid) alternative is to make this a non-goal of `mdbook`.

Apply a 'WONTFIX' label of some sort to this ticket and, if/when this comes up in the future, indicate that summary items can not be external links (users should then put external links directly on a page).

[2019-05-13 20:08] ehuss commented on #904
I took another look.  AFAIK, deploy keys don't work for creating releases, since that requires the GitHub API.  I think the best (only?) option here is to create a dedicated github user with write access to this repo only.

[2019-05-14 11:22] mhf-ir opened #921 "How implement rtl"
How implement rtl languages?

Or in rtl pages scope with ltr, or in ltr page rtl section?

https://mhf-ir.github.io/i18nplease/

[2019-05-14 12:45] Phrohdoh opened #922 "Request: Set default theme from built-in themes"
I'd like to be able to set the default theme to one of the 'built-in' themes _without_ duplicating the files into my source tree.

I imagine a property like `default-theme = "navy"` in `book.toml` under the `book` table.

[2019-05-14 17:25] mrec commented on #919
As a user I think this would be surprising. If I were clicking around in the ToC pane and reading in the main pane, then clicked an innocuous-looking ToC entry and suddenly got shunted to a completely different page/site where I didn't have the ToC any more, I'd be a bit discombobulated.

I'd also suggest changing the issue title to _Request: Support external links **in SUMMARY.md**_ to make it cl

[2019-05-14 17:37] mrec commented on #922
I've wanted this too. Not sure how it would interact with hypothetical support for [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) if and when that becomes widely available, though. Maybe allow `default-theme-light` and `default-theme-dark`?

[2019-05-15 01:06] Phrohdoh commented on #919
You raise a good point regarding surprising readers!

Perhaps the best solution here is explicitly deciding to _not_ support this.

[2019-05-15 01:37] zzy commented on #922
[output.html]
theme = "src/theme"
default-theme = "rust"

[2019-05-15 01:41] Phrohdoh commented on #922
[code]

That appears to violate the _without duplicating the files into my source tree_ part of the OP, if I am not mistaken.

[2019-05-15 02:44] zzy commented on #921
Hi, gay, do you mean this?

1. mdbook init --theme rtltest;
2. edit src/theme/index.hbs
`<html lang="{{ language }}" class="sidebar-visible no-js" dir="rtl">`
3. It's look like all pages are rtl style.

[2019-05-16 15:50] #922 closed

[2019-05-16 16:39] mrec commented on #922
It looks like the [rust-lang-nursery.github.io copy](https://rust-lang-nursery.github.io/mdBook/format/config.html) of the user guide (linked from this project's README) is lagging behind [latest](https://github.com/rust-lang-nursery/mdBook/blob/master/book-example/src/format/config.md#html-renderer-options).

Also, the latest doc mentions the `default-theme` option but doesn't include it in the *

[2019-05-16 22:59] ehuss commented on #904
Automatic deploy is now working. There is now a dedicated account (`rust-mdbook-deploy`) and both gh-pages and releases seem to be working.

[2019-05-16 22:59] #904 closed

[2019-05-17 12:15] ehuss commented on #473
Task lists are now supported in pulldown-cmark.  This is blocked on #898.

[2019-05-17 13:03] ehuss commented on #747
`noplaypen` needs documentation.

Also, @killercup, is that good enough?

[2019-05-17 13:07] ehuss commented on #616
I think this is essentially done by #743.

[2019-05-17 13:07] #616 closed

[2019-05-17 13:14] ehuss commented on #632
Closing as duplicate of #167.

[2019-05-17 13:14] #632 closed

[2019-05-17 13:20] ehuss commented on #828
I believe all print links are now fixed via #866 and #871.

[2019-05-17 13:20] #828 closed

[2019-05-17 13:27] ehuss commented on #810
See also #694.

[2019-05-17 13:29] ehuss commented on #721
I believe this is fixed by #802.  As mentioned, see also #694 and #810 for making extra links more configurable.

As for the rust-lang-specific books, I plan to migrate more books to 0.2 in the near future, I'll try to add the `git-repository-url` to more rust-lang books as I do.

[2019-05-17 13:29] #721 closed

[2019-05-17 13:43] ehuss commented on #308
RBE has migrated, so I'm going to close this. The last issue seems to be covered by #356.

[2019-05-17 13:43] #308 closed

[2019-05-17 14:07] ehuss opened #927 "diff highlighting is not working"
The `diff` language highlighting doesn't seem to work for me.

[code]

Looks like:
<img width="283" alt="image" src="https://user-images.githubusercontent.com/43198/57933384-0eb72800-7872-11e9-931e-f96cd96aacc9.png">

The current CSS hljs theme does not define the .hljs-addition and .hljs-deletion classes. Several other themes seem to define it, so maybe just add it (and see what other classes are

[2019-05-17 14:41] ehuss commented on #713
Fixed by #804.

[2019-05-17 14:41] #713 closed

[2019-05-17 14:54] ehuss commented on #800
Closing as fixed.

[2019-05-17 14:54] #800 closed

[2019-05-17 15:24] ehuss commented on #840
This seems to be fixed in the latest mdbook.  For example: https://doc.rust-lang.org/nightly/book/print.html works. TRPL was updated to mdbook 0.2 just recently (https://github.com/rust-lang/rust/pull/59876), and will ride the train with rust 1.36.

[2019-05-17 15:24] #840 closed

[2019-05-17 16:59] jimis commented on #840
Indeed the nightly version of the book prints nicely. Thanks!

[2019-05-18 21:56] #591 closed

[2019-05-18 22:05] #798 closed

[2019-05-18 22:05] #835 closed

[2019-05-19 01:34] shepmaster commented on #899
Does mdBook have a minimum Rust version it targets? I'm seeing a few places that could make use of newer Rust features (like `fs::read_to_*`).

[2019-05-19 12:49] shepmaster commented on #899
I've [moved a few modules over to SNAFU](https://github.com/rust-lang-nursery/mdBook/compare/master...integer32llc:snafu?expand=1), if anyone is interested in checking it out or providing early-stage feedback.

[2019-05-20 15:20] ehuss commented on #703
Fixed by #929.

[2019-05-20 15:20] #703 closed

[2019-05-21 01:45] oren opened #930 "I can't see my website without pointing directly to the index.html file (github pages)"
Why can't I see my website? I am using github pages and I used the build command to generate it. I am able to see other mini sites I am hosting under the same repo.

This doesn't work:
http://oren.github.io/surf2

This works:
http://oren.github.io/surf2/index.html

The code:
https://github.com/oren/oren.github.io/blob/master/surf2/index.html

[2019-05-21 02:25] ehuss commented on #930
The link at http://oren.github.io/surf2 works for me. What are you seeing? Which browser are you using? Perhaps github had a delay getting the page up? Or maybe you need to flush your browser cache?

[2019-05-21 04:01] ehuss commented on #389
I believe this has been fixed since #338.

[2019-05-21 04:01] #389 closed

[2019-05-22 01:53] oren commented on #930
It's working now. Probably a cache issue. Thank you

[2019-05-22 01:53] #930 closed

[2019-05-22 02:22] oren opened #932 "Is it possible to have categories on the left nav?"
I was able to remove the numbers using `no-section-label = true` but I want to create categories that have different style that the pages they contain. Here is an example: https://oren.github.io/surf

[2019-05-24 13:51] lzutao commented on #890
To test highlighter.js and prism syntax highlighter, I wrote this gist:
https://gist.github.com/lzutao/f5513a5d9a122d1cbf846f2f097fad7f

Screenshot of that gist:
![image](https://user-images.githubusercontent.com/15225902/58332457-74ed0d80-7e65-11e9-98da-4a16a0b794d4.png)

[2019-05-24 13:51] lzutao commented on #890
cc highlightjs/highlight.js#2040

[2019-05-24 15:10] ehuss commented on #890
I already opened a hljs PR a few days ago: https://github.com/highlightjs/highlight.js/pull/2039

[2019-05-24 15:14] lzutao commented on #890
Glad to know that! Looking forward for you PR to beging merged.

[2019-05-25 12:39] #869 closed

[2019-05-26 11:59] lzutao opened #938 "Update toml and toml-query dependencies"
Block on matthiasbeyer/toml-query#43

[2019-05-30 05:09] XVilka commented on #657
What about using https://github.com/trishume/syntect instead? And don't force the readers to run more JS than is necessary.

[2019-05-31 16:00] #938 closed

[2019-06-01 05:41] krisradio commented on #932
+1, would be very cool, might be out of scope of the project tho.

[2019-06-01 05:44] krisradio commented on #877
+1 would be a cool addition.

This is possible by editing `index.hbs` or your stylesheets, right?

[2019-06-01 20:54] krisradio commented on #919
I think supporting this is a good idea.

There could be a flag, defaulting to true, that gives external links the little arrow-in-square icon indicating an external link. Everyone on the web knows what that means.

[2019-06-01 22:43] krisradio commented on #847
With this issue having survived from #20 to #847 to now, why hasn't this serious security flaw been fixed?

I just removed the google font dependence from my `book.js`. There's no font issue on mobile or desktop. Any web browser has fall-back fonts suitable for their users these days.

[2019-06-02 19:16] sytsereitsma commented on #839
@ehuss I'd like to pick this one up if that's ok.

[2019-06-02 22:19] ehuss commented on #839
@sytsereitsma I think it is intended that things like this should be developed as 3rd party [preprocessors](https://rust-lang-nursery.github.io/mdBook/for_developers/preprocessors.html). Feel free to go ahead and build one, and if you publish it on crates.io we can link to it here and the readme.

[2019-06-03 12:22] #838 closed

[2019-06-03 12:22] #890 closed

[2019-06-03 12:31] #896 closed

[2019-06-04 08:50] badboy opened #949 "Add back missing binary release or cut a patch release"
Hey,

can you please add binary releases for the currently stable version or cut a new patch release to generate a new binary?
I saw that the deploy of v0.2.3 failed, but the cause was fixed afterwards.

We're relying on mdbook for our documentation.
Unfortunately we're running into a bug with v0.2.1 (the last binary release) and now need to rebuild mdbook on CI all the time.
Relying on a binary r

[2019-06-04 11:09] tversteeg opened #950 "Create a book with intermediate files fully in memory using the API"
Is it possible to create a book fully in memory and not write any intermediate files to disk? I'm getting pretty far with this but `src/SUMMARY.md`, `src/chapter1.md` and `book.toml` are still created.

[code]

[2019-06-04 14:15] ehuss commented on #949
Hi! Maintainership has transitioned to new people, and we're just waiting to get ownership on crates.io to publish a new release. As soon as that is set up, we'll publish a new release.

[2019-06-04 14:15] #949 closed

[2019-06-04 14:41] badboy commented on #949
Perfect! Thanks for the quick turnaround.

[2019-06-06 10:10] XVilka commented on #88
Seems that [mdproof](https://github.com/Geemili/mdproof) can be used for such a task

[2019-06-06 18:41] MrFaul commented on #5
Wouldn't it be much easier to simply abuse the branches for translations and a small bot to throw a "needs review" for each language if the English version got updated?
This isn't meant to be a permanent solution, more as a stopgap for now since this issue blocks all enthusiasm for any pending translations.

IMO now incoming:
- Each translation is its own book and needs to be handled as one (it is

[2019-06-11 16:09] evitalis commented on #932
I don't think this should be out of scope as it makes more sense than numbers for many cases. Just discovered this though and support this idea.

[2019-06-11 16:19] evitalis commented on #847
I am also curious as to this rationale or any maintainer feedback. Seems to be important to many people.

[2019-06-12 02:02] ehuss commented on #847
@evitalis Someone just needs to do the work.  I would like to see a solution that is relatively easy to maintain, retains the default use of Open Sans and Source Code Pro, properly deals with licensing, doesn't force the inclusion of a lot of heavy-weight font files for books that have custom themes, maintains broad browser compatibility, and generally avoids too much disruption. I'd be willing to

[2019-06-12 14:59] #927 closed

[2019-06-12 15:02] #700 closed

[2019-06-12 21:15] martinjaeger commented on #723
I agree that this would be a nice feature.

[2019-06-12 22:01] #855 closed

[2019-06-13 14:04] #681 closed

[2019-06-17 20:03] sytsereitsma commented on #762
You do not strictly need a preprocessor for this, it works with a javascript hack too.
From my notes:
## Mermaid preprocessor
You can easily use mermaid by making the following changes to your book.toml:
[code]

Where:
* mermaid.min.js is the [mermaid release](https://unpkg.com/mermaid@8.0.0/dist/) you want to use
* mermaid.css come's from [badboy's repo](https://github.com/badboy/mdbook-mermaid/)

[2019-06-17 22:18] donbowman commented on #839
https://github.com/donbowman/gitbook-plugin-local-plantuml is how I did it w/ gitbook.

it would be super nice if we could do a plugin that would be the same [syntax](https://docs.gitlab.com/ee/administration/integration/plantuml.html) as gitlab+plantuml, then the committed files would render while in git as well as being generable.

[2019-06-18 23:29] ehuss opened #957 "sccache broken in CI"
I've noticed that caching seems to be broken on CI.  The `custom_preprocessors` test runs `cargo run --example nop-preprocessor` several times for different tests.  Each time it runs, it rebuilds mdbook from scratch, which takes a very long time.

I cleared the caches on Travis, which seemed to fix it temporarily, but it is breaking again.  Here is an example: https://travis-ci.com/rust-lang-nurse

[2019-06-19 01:29] ehuss commented on #481
Windows builds are working again in the latest release: https://github.com/rust-lang-nursery/mdBook/releases/tag/v0.3.0

[2019-06-19 01:29] #481 closed

[2019-06-19 01:30] ehuss commented on #763
Macos builds are working again in the latest release: https://github.com/rust-lang-nursery/mdBook/releases/tag/v0.3.0

[2019-06-19 01:30] #763 closed

[2019-06-19 01:31] ehuss commented on #820
Binary assets are now working in the latest release: https://github.com/rust-lang-nursery/mdBook/releases/tag/v0.3.0

[2019-06-19 01:31] #820 closed

[2019-06-19 06:06] lzutao commented on #957
I will try to build with latest mdbook from git to reproduce it.

[2019-06-19 17:31] ehuss commented on #234
I think this has long since been fixed.

[2019-06-19 17:31] #234 closed

[2019-06-21 04:56] lzutao commented on #957
I believe the issue should be fixed on latest sccache. We could choose to build sccache
from source, or temporary use my prebuilt version, or call for new sccache release.

[2019-06-28 12:26] plul commented on #473
#898 was merged. This can be closed.

[2019-06-28 14:27] ehuss commented on #473
Thanks!

[2019-06-28 14:27] #473 closed

[2019-06-29 20:42] #957 closed

[2019-07-01 18:44] Th3Whit3Wolf opened #968 "[Feature Request] build --release"
### Performance
I ran a [Google Speed Test](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Frust-lang-nursery.github.io%2FmdBook%2Findex.html&tab=desktop) on your [User Guide](https://rust-lang-nursery.github.io/mdBook/index.html) and it scored
- Mobile - 86%
- Desktop - 98%

### Why it matters
[Moz](https://moz.com/learn/seo/page-speed)

### Possible Solution
Three slowe

[2019-07-02 12:55] evitalis commented on #847
@ehuss see #848 someone seems to have done this work already but is pending a merge or more feedback/additional help.

[2019-07-02 16:57] bytesandwich opened #969 "Link to "create issue" for Runnable Rust snippets."
For broken code snippets, I think a link to create an issue or notify the authors some other way would be an awesome feature.

For example here's a broken snippet in [Failure's guide](https://boats.gitlab.io/failure/fail.html#cause) that I

<img width="778" alt="Screen Shot 2019-07-02 at 9 47 36 AM" src="https://user-images.githubusercontent.com/1048685/60530846-8a4c2780-9cae-11e9-9cc3-fb61af097b4

[2019-07-04 09:54] flodolo opened #971 "thread 'main' panicked at 'byte index 1 is not a char boundary"
I'm running mdBook 0.3 on macOS, and for some reasons it fails to build one of the file containing the ë character. The thing I don't understand is that I have other files with that character, and they build just fine.

Minimal file content in README.md

[code]

Error

[code]

[2019-07-04 10:02] flodolo commented on #971
Additional note: it doesn't seem to happen if the content of the file is just

[code]

[2019-07-05 10:39] KSXGitHub opened #972 "Search locally"
## Why?

I want to use a browser to open `file:///.../book/index.html` directly. The problem is, I cannot use the search button. This is because the web page attempts to use `fetch` to download `searchindex.json` via `file:` protocol.

## Suggestion

If `searchindex.json` is small enough (which is most cases), directly embed `searchindex.json` into a script tag within each page, and then use `HTML

[2019-07-05 10:46] KSXGitHub opened #973 "Element.createShadowRoot is deprecated and will be removed in M73"
Open Chrome DevTools in one of the page that is served via localhost and see this:

![deprecation message](https://user-images.githubusercontent.com/11488886/60717613-82a9ae80-9f4c-11e9-9267-6734215144d4.png)

[code]

[2019-07-05 16:47] zbraniecki commented on #971
Any chance you can run it with `RUST_BACKTRACE=1` to get the trace?

[2019-07-05 16:55] flodolo commented on #971
[code]

[2019-07-05 17:00] zbraniecki commented on #971
Ok, seems to be a bug in https://github.com/mattico/elasticlunr-rs

Basically, it doesn't expect english to use non-latin characters.

The kind of code that triggers the crash is https://github.com/mattico/elasticlunr-rs/blob/master/src/lang/en.rs#L213

It should instead use a safe slicing, and likely a different regexp.

[2019-07-05 17:03] flodolo commented on #971
Thanks for digging. I assume the best next step is to report the issue in the other repository?

[2019-07-05 17:14] ehuss commented on #847
@evitalis the feedback is listed above.  The PR author is the same as this issue.

[2019-07-05 18:24] bwinton commented on #971
The full backtrace is:
[code]

I've made [a pull request](https://github.com/mattico/elasticlunr-rs/pull/23) to elasticlunr-rs that looks like it'll fix this issue.

[2019-07-05 19:04] zbraniecki commented on #971
Thanks Blake! That looks like a good fix.

[2019-07-05 20:58] ehuss commented on #972
mdbook already has a fallback that uses the `<script>` tag to load the index.  https://github.com/rust-lang-nursery/mdBook/blob/3d45e4069348113ac4a6d8c18aa0115e51f078b9/src/theme/searcher/searcher.js#L468-L472

It should work for loading with `file:` urls.  What browser/platform are you using?  Are you using the latest mdbook?

[2019-07-05 21:09] ehuss commented on #973
I don't think this warning is generated by mdbook.  I think `content.min.js` implies it is coming from one of your extensions maybe.

[2019-07-05 21:09] #973 closed

[2019-07-06 00:31] KSXGitHub commented on #972
It works. My bad.

[2019-07-06 00:31] #972 closed

[2019-07-06 00:38] KSXGitHub commented on #972
BTW, since the fallback (`searchindex.js`) should work on both `file:` and `http:`, why bother use `fetch(path_to_root + 'searchindex.json')` at all?

[2019-07-06 11:04] jens1o commented on #651
is there anything I can work on to make this a reality?

[2019-07-06 14:26] oyvindln commented on #46
Would it be possible to add an option when generating that simply disables those external stylesheets so default fonts are used?

[2019-07-08 02:20] alexwanng opened #974 "I don't need offline mode, how should I config?"
I have lots of files on my mdbook , so now it appears an WARN:
[code]
and I cann't load my page from browser.

So, I'd like to remove offline model, how should I do?

Thanks.

[2019-07-08 04:51] leesei commented on #651
Well, it is indeed a JS thingy. Just like MathJax it is included via CDN.
[Browser · KaTeX](https://katex.org/docs/browser.html)

[2019-07-08 04:59] leesei commented on #839
May be a preprecessor is better for this, see [example mermaid integration](https://github.com/rust-lang-nursery/mdBook/issues/762#issuecomment-502830041).

[2019-07-08 08:46] flodolo opened #975 "Preprocessor in Python?"
I'm trying to figure out how to write a preprocessor in Python, given that it's listed in the [example](https://rust-lang-nursery.github.io/mdBook/for_developers/preprocessors.html), but I can't even get started.

1) A simple script that read stdin and write to stdout without any changes

[code]

Results in

[code]

Clearly I'm missing something obvious.

2) Path to the script. I can call a script

[2019-07-08 10:08] sytsereitsma commented on #839
I created a preprocessor [mdbook-plantuml](https://crates.io/crates/mdbook-plantuml).

[2019-07-08 14:56] alexwanng commented on #932
+1. especially when having lots of pages.

[2019-07-08 22:15] ehuss commented on #974
I'm not sure what you mean by "offline", but you can disable the search with the following in `book.toml`:

[code]

[2019-07-08 22:22] ehuss commented on #972
@KSXGitHub I believe it is to load it asynchronously and should be faster. The fallback is only necessary due to the CORS restrictions.

[2019-07-09 02:07] Turing-Chu opened #976 "how to convert markdown files not list in SUMMARY.md file?"
Hi, I find that `mdbook` can auto convert markdown file to html file which listed in `SUMMARY.md`.

The following is an example:

[code]
the file `chapter1_1.md` just appare in chapter_1.md and not in `SUMMARY.md`. So when i click `chapter1_1`, it return 404 error. Is it has some method to fix this problem: mdbook can create related html file for markdown file list in user defined markdown file ra

[2019-07-09 02:34] ehuss commented on #976
I think this has been asked for a few times, but it is currently not possible.  #830 seems to be the most relevant.

[2019-07-09 02:34] #976 closed

[2019-07-09 02:52] ehuss commented on #975
Preprocessors use a particular JSON api to exchange input and output.  I believe the input is an array of `[PreprocessorContext, Book]` and the output is just a serialized `Book`.  This isn't really documented, and I'm not sure if that is intentional.

[2019-07-09 02:56] ehuss commented on #969
I don't think that is something we would want to add, since many code snippets are intentionally broken.

You can set `git-repository-url` in the config which will provide an icon with a link to your repo to file issues.  Alternatively, you can customize the theme to add whichever icons you want.

[2019-07-09 02:56] #969 closed

[2019-07-09 03:13] ehuss commented on #950
I don't think the API is designed to do that.  It may be possible to not use `MDBook` and instead use the low-level `Book`, `Renderer`, `RenderContext` types directly, something like this:

[code]

However, I can't say how stable that API will be, or how easy it will be to use.

[2019-07-09 03:13] #950 closed

[2019-07-09 05:40] flodolo commented on #975
[code]

This fails with `mdbook build`(`json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)`). But, if I write to file the content of stdin once, then pipe it into this script, the JSON is correctly interpreted. And I have no clue why it would happen.

[2019-07-09 21:44] ehuss commented on #975
A minimal preprocessor in Python would look like this:

[code]

[2019-07-11 17:24] bwinton commented on #971
And [the PR](https://github.com/mattico/elasticlunr-rs/pull/23) has landed, so hopefully this will be fixed when we pull in the next version of that library! 😃

[2019-07-11 18:11] henryiii commented on #975
This was exactly what I was looking for. The docs does not really make it clear what the output should be. I've implemented a preprocessor in Python that sets up a tabbed interface for code or other content [here](https://gitlab.com/GooFit/rootbook).

[2019-07-13 04:59] #971 closed

[2019-07-15 20:06] CBenoit commented on #811
Done! See https://github.com/rust-lang-nursery/mdBook/pull/851

[2019-07-15 20:06] #811 closed

[2019-07-16 13:48] heyakyra opened #982 "Single-Page Application (SPA) Mode"
It would be nice to be able to render the entire book into a SPA that doesn't load a new html file for each page and instead uses JavaScript to switch pages.

[2019-07-16 13:49] heyakyra commented on #301
Maybe this should be renamed Single-File Input Mode? I just filed a separate ticket for a single page mode (as in rendered as a single page application) #982 so not sure the best way to distinguish these two

[2019-07-16 22:08] heyakyra commented on #301
I have tried several ways to workaround this. A single introduction file doesn't allow the sidebar to be populated with links to the heading anchors.

both of these `SUMMARY.md` attempts simply break the build step (not surprising, just wish there was a reasonable workaround in the meantime)
[code]

[code]

[2019-07-17 16:39] meichstedt commented on #830
I just stumbled across this issue trying to find out whether there's a way to do the same thing, more or less.

My use case would be a chapter that contains a complete reference of many concepts, each as individual markdown files. I would like to add just the chapter as such in the _summary_, and link to an index file. However, I wouldn't want to have 30 or more child pages linked underneath that

[2019-07-19 18:30] zicklag commented on #58
I agree with @ishitatsuyuki. If the TOC is in the sidebar it makes sure that it is not in the way, but that you can still get to it whenever you need to.

[2019-07-20 01:28] lily-commure opened #984 "Internal links to README.md are broken"
`README.md` gets translated to `index.html`, but internal links (except for those in `SUMMARY.md`) don't get translated.  So they point to a non-existent `README.html` path.  mdBook should either generate both `index.html` and `README.html` or translate internal links so that they point to `index.html` instead.

[2019-07-20 11:46] Dylan-DPC commented on #58
This is an old issue and some of the facts and opinions might have changed over time. If you need this, kindly make a new issue about it so that we can reevaluate it. Thanks

[2019-07-20 11:46] #58 closed

[2019-07-20 11:47] Dylan-DPC commented on #301
Closing this since we can carry on the discussion on the new issue. Thanks

[2019-07-20 11:47] #301 closed

[2019-07-20 11:49] Dylan-DPC commented on #14
Closing this issue due to inactivity. If needed we can discuss this in an new issue. Thanks

[2019-07-20 11:49] #14 closed

[2019-07-20 11:50] Dylan-DPC commented on #185
This was fixed in #310

[2019-07-20 11:50] #185 closed

[2019-07-20 12:11] est31 commented on #301
@Dylan-DPC no it's two different things. Please don't close. SPAs are a js heavy application coding pattern while this issue concerns having writing to a single html file, optimally without any js involved needing to view it.

I dislike the way the books are structured that there is forced interactivity. You have to click these buttons instead of just being able to scroll down the page. It makes q

[2019-07-20 13:57] Michael-F-Bryan commented on #14
Thanks @Dylan-DPC. I think we should have closed the issue after merging #361.

[2019-07-21 12:46] srimad-bhagavatam opened #986 "Default Fonts"
Hello, I hope all are in good health and mood when you receive this.
I love your software! <3

How can I remove the fonts.googleapis url? Is it built into the binary? Manually deleting it is not a problem just tedious because I've been working on a massive 2GB encyclopedia, of which has only one image and the rest is text.
This is the blessing of the Supreme Person because its super fast, robust,

[2019-07-21 19:38] 17cupsofcoffee commented on #986
The `link` tags for the fonts are in [`index.hbs`](https://github.com/rust-lang-nursery/mdBook/blob/master/src/theme/index.hbs) - you can [override that template](https://rust-lang-nursery.github.io/mdBook/format/theme/index.html) by making a copy of that file at `/theme/index.hbs` in your project - that'll allow you to remove the tags.

[2019-07-22 01:24] evitalis commented on #847
Noticed this was linked over in the [mkdocs repo](https://github.com/mkdocs/mkdocs/issues/1138) for a similar issue. Perhaps both projects could resolve the problems in a similar way or help brainstorm a reasonable solution?

[2019-07-22 16:47] fabioluciano opened #987 "Print book version"
There is any way to print the version of the book?

[code]

how to print version in my documentation?

[2019-07-22 18:15] ehuss commented on #987
After you run `mdbook build` and open the book in a web browser, there is a print icon in the upper right corner you can click on to print it. Is that what you're looking for?
<img width="42" alt="image" src="https://user-images.githubusercontent.com/43198/61654758-f8fb2000-ac71-11e9-8c1a-245938688af4.png">

[2019-07-22 18:53] fabioluciano commented on #987
Hi @ehuss, no. Isnt that. Havinf the `book.toml` defined before, how to print the variable version.

[2019-07-22 19:53] ehuss commented on #987
Ah.  mdbook doesn't really have variable substitution. You can use [includes](https://rust-lang-nursery.github.io/mdBook/format/mdbook.html#including-files) to include a file which has your version string. Or you can create a [preprocessor](https://rust-lang-nursery.github.io/mdBook/for_developers/preprocessors.html) which does whatever kind of substitutions or templating you want.

[2019-07-23 13:21] est31 opened #988 "Ability to output into a single dom tree (html file)"
Continuation of #301 after that one was closed.

Right now mdbook creates multiple html files and you are forced to navigate through them via controls. Right now books often have entire pages full of one headline, one sentence and otherwise whitespace (beyond index, search bar, etc). IMO this makes quickly skimming books unneccessarily hard. It'd be therefore prefferable to have the entire book co

[2019-07-23 13:22] est31 commented on #301
Ok I've agreed with @Dylan-DPC (who still seems to be a bit confused) to open a new issue here: https://github.com/rust-lang-nursery/mdBook/issues/988

[2019-07-23 13:23] Dylan-DPC commented on #301
I'm not confused now :P but still prefer a new issue so that we don't notify everyone here and also so that we don't overlook it (because we rarely check old issues at the moment). Sorry for the trouble and thanks!

[2019-07-24 14:25] WofWca opened #990 "style: Odd outline in Chrome"
The problem appears when you click on menu bar buttons. The outline remains until you focus something else and it looks odd.
![image](https://user-images.githubusercontent.com/39462442/61801722-d7f92180-ae61-11e9-89e4-d106aafee1a3.png)

Chrome ver: 75.0.3770.142, Win 10.
Same on mobile.
This doesn't appear in Firefox.

[2019-07-24 14:54] srimad-bhagavatam commented on #986
So I can make a copy of any of the files, say a case file, edit it and it will take the effects with the next build. Thank you! I should of kept reading the manual, it was right there. I appreciate your swift response.

[2019-07-25 03:56] #986 closed

[2019-07-26 12:43] jeffvandyke commented on #760
Askama vs Handlebars... thoughts? Askama will be much faster ([benchmarks](https://github.com/djc/template-benchmarks-rs)), Handlebars *might* be more well known, but Askama isn't difficult... I think having a templating language for variables *and* conditionals, is important for any static site generator.

[2019-07-28 09:53] huangjj27 commented on #5
How is the progress for this feature? is that usable now?

[2019-07-28 10:28] Himself65 commented on #5
+1

[2019-07-28 13:45] WofWca commented on #984
Ok, here's an example:
If you want to add a link to some page, you can type `[Some page](some_dir/some_page.md)`, but if you try to link README this way, the link will be broken.

[2019-07-28 14:08] WofWca commented on #982
Related (dup?) #546

[2019-07-29 11:44] heyakyra commented on #982
Hm, I suppose #546 is one possible way to achieve this. Another would be a virtual DOM similar to what Elm or React would provide.

[2019-07-29 11:45] heyakyra commented on #301
Errr... I believe #988 is a duplicate of #982, but this ticket was meant to be aboout the *input* being a single file.

[2019-07-29 11:45] heyakyra commented on #988
This seems like a duplicate of #982, while #301 was meant to be aboout the *input* being a single file.

[2019-07-29 11:52] Dylan-DPC commented on #988
thanks @heyakyra, but I told them to create this issue because it is different from SPA

[2019-07-29 12:17] est31 commented on #988
Lol, it's a bit confusing.

@heyakyra if I read your request correctly, what you want is to create a JS application that behaves to the user like the current thing except that more of it is done via JS. Is that right?

What I want is that mdbook in addition to creating multiple small files also creates a file that is a combination of all the small files into one big scrollable html file. Without a

[2019-07-29 13:58] heyakyra commented on #988
@est31 That's right, and I see now that it is different from what I suggest, but it is also still different from #301. So I was just suggesting to @Dylan-DPC who said in the other report:

but I don't think it should be closed since it is different from mine and from this one.

[2019-07-29 14:03] est31 commented on #988
@heyakyra oh you are right, now I realize. This issue is different from #301. I originally got confused because I reported the single page question on another repo and it got closed as dupe of #301: https://github.com/rust-lang-nursery/reference/issues/68

[2019-07-29 14:05] Dylan-DPC commented on #988
@heyakyra yes. I mainly closed it because it is an old issue and I didn't want to ping people who may no longer be concerned by that issue any more. Hence suggested to create a new issue :)

[2019-07-29 15:22] Dushistov commented on #218
This things also happens with usage of "-d",
I use cargo's workspace with structure like this:

[code]

if I run `mdbook build` inside `book` all work fine,
but when I try put html files into root of worspace, `mdbook` delete entire workspace :(

[code]

[2019-07-31 17:25] #987 closed

[2019-08-01 02:44] kondongx commented on #708
BTW, this solve my problem. Thank you!

[2019-08-02 06:00] WofWca opened #992 "feature: Add chapther numbers to search result breadcrumbs"
This would

[2019-08-03 16:16] tesuji opened #995 "[Tracking issue] sccache no longer work in nightly CI"
Waiting for https://github.com/mozilla/sccache/issues/488.

[2019-08-05 13:04] 6cdh opened #997 "Mathematical formula support is terrible"
# Question

I use Katex to render Mathematical formula

[code]

It can't be displayed correctly. In fact, it is converted to the following HTML

[code]

`_` was incorrectly converted to `<em>`

Then I switched to MathJax, the result has not changed. I use `<p>` to surround `$$...$$` in source code to solve this problem. But it is not portable and redundant. Is there any other easy way to fix it?

[2019-08-07 02:30] lzutao commented on #995
mozilla/sccache#488 fixed. Waiting for new sccache release.

[2019-08-08 16:12] t1anchen commented on #847
Is it viable to consider removing Google Font online dependencies first? Every time when the book is generated by `mdbook build`, opening page will cause the browser to raise an attamption to connect to Google services, which might be extremely painful (it has to wait until the connection timeout) under the restricted network circumstances. Can we make content visible first and then consider decor

[2019-08-08 20:12] ehuss commented on #997
I think these are known issues.  See #400 and #662 and #651.

[2019-08-09 10:41] jasonwilliams commented on #546
@sorin-davidoi what are the issues?
Is there anything i can pick up from this to carry on the work you were doing? It looks like this has just come to a stop

[2019-08-09 11:02] sorin-davidoi commented on #546
@jasonwilliams I think the main issue was the use of external dependencies, since they paths need to be hardcoded in multiple places (and it also makes it much harder to compute their revision). Not sure how valid this still is since I'm stopped watching this project a while back.

[2019-08-09 12:33] jasonwilliams commented on #546
@sorin-davidoi thanks, why is the paths changing a problem?
the workbox tool you use seems to accept regular expressions, could you not make a regex based on the version? Or does this not solve the problem?

I can start by bringing the external deps into the project locally, but is this a hard copy and paste or a build function which can fetch these deps? (like npm)

[2019-08-09 12:36] sorin-davidoi commented on #546
I guess that could work.

Probably a hard copy, but it would be nice to hear the opinion of one of the maintainers.

[2019-08-09 12:39] jasonwilliams commented on #546
Assuming the regex works, were there any other blockers to getting this working?

[2019-08-09 12:44] sorin-davidoi commented on #546
Ideally you would want to have a list of all these assets upfront, so they can be prefetched. If you don't have that you risk running into the following situation:
 - all the pages (html) are prefetched
 - user goes offline
 - user goes to page X which we didn't load before
 - page X needs resource R (e.g. mathJAX, syntax highlighting for a particular language) but it can't be fetched

[2019-08-09 13:26] jasonwilliams commented on #546
Is there a good directory right now to put all of these assets?

[2019-08-09 16:46] efx commented on #400
I'll naively plug [tectonic](https://github.com/tectonic-typesetting/tectonic). It is a full LaTeX engine partially written in rust that could potentially integrate with mdBook for advanced formatting needs.

[2019-08-09 16:49] #823 closed

[2019-08-09 17:51] 6cdh commented on #997
Wrapping the math equations with HTML tags seems to work only for block equations. For inline equations, this method doesn't work. If you write `a*b*c`, you can insert a space after `*` to render correctly such as `a* b*c` or `a * b * c`. Using HTML tag is ineffective.

[2019-08-12 19:27] dvogt23 commented on #576
I would like to switch from gitbook with auto-generated SUMMARY.md with gitbook-summary wich creates a summary with "empty" chapters like:

[code]

mdbook fails with that stucture because of EmptyChapter.

[2019-08-13 16:17] krsna-rand opened #1002 "Requesting Assistance"
Hey all. I hope y'all are well and in good mood whe you receive this.
I have been hacking away for 12+ hours your searcher.js and the generated index.html but Im unsuccessful atm.

All I want to do is:
Remove the toggle button and always show the search bar.
Results are displayed only after pressing enter. Instead of a live search. I have a large data set and this will make UX much better.

If you

[2019-08-14 23:35] krisradio commented on #1002
My search function is broken for unrelated reasons right now, so I don't know if the following technique interferes with search functionality in any way. But it definitely _does_ make the search bar always-on and remove the search icon from the toolbar. I hope this helps you. :)

### Editing search.js
The main functions you need to look at are in searcher.js. They are `showSearch`, on line 362, an

[2019-08-15 00:43] krsna-rand commented on #1002
Hey this is great! Thank you very much for your time!
I dont think its broken, I like it very much, it definitely works as I want to.
If you have some time you can see it in action.
(Your search in action)[https://krsna-rand.github.io]
Select 'Random' from the menu.

[2019-08-15 01:22] krisradio commented on #1002
You're welcome, it was a fun challenge.

I don't have a donation page really, but you could check out my blog at [krisrad.io](https://krisrad.io), and share it with anyone into decentralization and the peer-to-peer web. I would very much appreciate that!

As for disabling live search, probably adding some keyboard detection in the `doSearch` function (line 437) of searcher.js could do it. Javascri

[2019-08-15 04:27] gnzlbg opened #1004 "Headings can become smaller than the surrounding text"
In the UCGs book we have observed that when using e.g. `#####...` headings at some point they start becoming smaller than the actual text of the document.

A good rule of thumb is that the smallest size available for a heading should be slightly larger than the size of **bold** text.

I'm not sure whether this is a bug or a feature request. Is there a way to manually control this?

[2019-08-15 05:07] krsna-rand commented on #1002
I will certainly do that. Maybe an Amazon gift card? I do appreciate to you. Im glad you found the site of interest. Stay tuned in.  Indeed providence is controlled. No such thing as luck. Take care of the Me inside

[2019-08-15 05:07] #1002 closed

[2019-08-15 13:05] ccharles commented on #874
Is this actually fixed?

I'm seeing the same behaviour with mdBook v0.3.1, which [contains the merged commit][1] from #916:

- `http://my-book/` has no navigation ❌
- `http://my-book/index.html` has no navigation ❌
- `http://my-book/any-page.html` has navigation ✔️

[1]: https://github.com/rust-lang-nursery/mdBook/commit/a674c9eff158d37048d5d70c0fe3b71f2c9800c2

[2019-08-15 15:50] ehuss commented on #874
@ccharles Thanks, I'm not sure what happened, somehow I botched the fix. I posted a new fix at #1005.

[2019-08-15 17:10] ehuss commented on #1004
The font size is part of your browser's default style.  You can set `additional-css` in `book.toml` to a css file to include that adjusts it how you want.

I would also encourage to consider splitting the page into sub pages if it is getting that heavily nested.

[2019-08-15 17:49] ccharles commented on #874
Awesome, thanks for tackling this so quickly @ehuss!

[2019-08-16 05:25] Lokathor opened #1006 "How do you specify dependencies for `mdbook test`?"
It's unclear in the "Configuration" documentation for mdbook how you're supposed to specify dependencies and such for the tests in an mdbook book.

[2019-08-16 06:58] XVilka commented on #815
Would be nice to have! I heard some people migrating from mdBook to another solutions, some proprietary exactly because of the missing export to PDF.

[2019-08-16 08:49] kuznero opened #1007 "MathJax does not work together with MermaidJS"
Here is an example `boot.toml`:

[code]

[2019-08-16 16:48] ngirard opened #1008 "Improving documentation about mdbook-linkcheck"
Documentation about how to integrate mdbook-linkcheck with CI tools is currently sparse, and probably a common need.

It might just be enough to add such
[code]
lines to an example, most probably in `book-example/src/continuous-integration.md`, but where exactly, I thought you might now better ?

[2019-08-16 16:55] ngirard opened #1009 "FontAwesome icons not rendered locally"
I'm currently working on the documentation of [Ion](https://gitlab.redox-os.org/redox-os/ion), whose sources can be found [here](https://gitlab.redox-os.org/redox-os/ion/tree/master/manual) and published html pages [there](https://doc.redox-os.org/ion-manual/).

Oddly enough, while the published pages do display the FontAwesome icons correctly, I can't see them when I render the manual locally (Ub

[2019-08-16 17:43] ehuss commented on #1009
Are you using `mdbook serve` to view locally?  Are there any error messages in the browser console?  Does the network tab in the browser's developer tools show it downloading FA?

[2019-08-16 18:01] ehuss commented on #1006
You cannot, unfortunately.  See #706.

[2019-08-16 18:01] #1006 closed

[2019-08-16 18:09] Lokathor opened #1010 "Add the ability to specify dependencies for `mdbook test` to use when building"
You apparently [cannot currently](https://github.com/rust-lang-nursery/mdBook/issues/1006) specify a dependency to be used during `mdbook test`, but this is obviously extremely limiting in a language that tries to keep the stdlib minimal and push things into crates.

Perhaps `mdbook` could search for a `Cargo.toml` in the same folder as the `book.toml` or something like that, then use that depende

[2019-08-16 18:09] Lokathor commented on #1010
whoops, i missed that this is an open issue, my mistake

[2019-08-16 18:09] #1010 closed

[2019-08-16 19:06] ngirard commented on #1009
Aww...stupid me... I was just building the manual and opening the pages via my browser. `mdbook serve` obviously solved my problem.

Thanks for your help, @ehuss !

[2019-08-16 19:06] #1009 closed

[2019-08-16 20:07] krsna-rand opened #1011 "Searcher.js Results"
Is it possible to make results ordered? Im ignorant with JS and json. Im trying to learn. If you go to my repo you can download my searchindex.js{on} and see my data set. For an example of what I want just head [here](https://krsna-rand.github.io/srch.app/index.html) and type whatever, i.e. life. So you can see the results. I would like them in order. I was speaking to the dev of the script in ano

[2019-08-17 13:54] ngirard opened #1012 "Undesired subdirectories when using mdbook-linkcheck"
Before using `mdbook-linkcheck`, we had our environment set up to work with the documentation generated to such `target_dir` directory.

But after using `mdbook-linkcheck`, the documentation moved to `target_dir/html` and an additional, empty `target_dir/linkcheck` is created, breaking our setup.

Is there a way of getting rid of both undesired directories `html` and `linkcheck` ?

And in any case

[2019-08-18 15:01] Lokathor opened #1013 "Book configuration should have a License field"
Books have licenses the same as anything else.

[2019-08-19 05:13] Michael-F-Bryan commented on #815
I'm not too involved in `mdbook` development these days, but if someone wants to help work on [`mdbook-epub`](https://github.com/Michael-F-Bryan/mdbook-epub) I'd be happy to add them as a collaborator.

[2019-08-19 05:18] XVilka commented on #815
There is also [mdproof](https://github.com/Geemili/mdproof) for generating PDFs from Markdown files. Maybe it can be integrated with mdBook?

[2019-08-20 04:25] lbeckman314 commented on #815
I'm currently working on [`mdbook-latex`](https://github.com/lbeckman314/mdbook-latex), a backend for mdbook that aims to support LaTeX and PDF exports.  It's primarily built upon [pulldown-cmark](https://github.com/raphlinus/pulldown-cmark), [Tectonic](https://tectonic-typesetting.github.io/en-US/), [md2pdf](https://gitea.tforgione.fr/tforgione/md2pdf/), and a lot of other great programs.

Here i

[2019-08-20 04:50] XVilka commented on #815
+100500 for Tectonic. They seem to improve based on [arXiv dataset testing](https://github.com/tectonic-typesetting/tectonic/issues/397), along with better [integration with texlab](https://github.com/tectonic-typesetting/tectonic/issues/412).

[2019-08-20 05:02] lbeckman314 commented on #815
That's awesome! I'll check out [mdproof](https://github.com/Geemili/mdproof) as well, It would be great to have the option to skip any LaTeX dependencies if you wanted a quick and simple PDF.

[2019-08-20 14:30] Karuturirs opened #1014 "offline docs doesnot show symbols proper on firefox"
The offline docs does not show symbols properly such as navigation to previous page, next page, table of content, change theme, search and print this book in firefox browser only.

open docs in firefox.

//version

    rustc 1.37.0 (eae3437 2019-08-13)
    binary: rustc
    commit-hash: eae3437
    commit-date: 2019-08-13
    host: x86_64-apple-darwin
    release: 1.37.0
    LLVM version: 8.0

Fir

[2019-08-20 15:33] ehuss commented on #1014
I think you need to update to Firefox 68.0.2. From the release notes:

[2019-08-20 15:39] Karuturirs commented on #1014
Updated the my firefox to 68.0.2 working fine.
Thanks. Closing it.

[2019-08-20 15:39] #1014 closed

[2019-08-21 07:13] snalexp opened #1015 "Files copied to output directory with readonly attribute cause subsequent build/serve failure"
We store our book source in Perforce which typically causes files on the local drive to be read-only.

When we `mdbook build`, our images from the `src/image` directory end up marked as read-only in the `book/img` directory and subsequent builds will fail like this:

[code]

Would it be possible to copy the files and drop the RO attribute, or to be more forceful in cleaning the output directory.

[2019-08-22 04:03] wusunlab opened #1016 "feature request: automatically generate SUMMARY.md from the list of src/*.md files"
It would be nice if there is an option to generate `SUMMARY.md` automatically from the list of markdown files under `src` (except `SUMMARY.md` itself).  The generated `SUMMARY.md` would map the directory structure.  For example, if I have chapters and sections organized in subfolders,

[code]

the generated `SUMMARY.md` could be look like

[code]

The advantage of this feature would be to save the

[2019-08-23 15:17] #799 closed

[2019-08-23 15:18] pietroalbini commented on #799
Closing as requested by @xampprocky

[2019-08-25 05:09] #997 closed

[2019-08-25 16:39] bheisler opened #1017 "Reduce dependency tree"
Hey, thanks for the work on mdbook!

Would it be possible to try to prune mdBook's dependency tree?

My documentation build in Travis needs to download and compile ~300 crates to install mdbook on every build. This takes a long time (~10 minutes for mdbook). I then install `mdbook-linkcheck`, which depends on mdbook and so it has to download and recompile the whole tree again. The long compile tim

[2019-08-25 17:35] ehuss commented on #1017
Binary releases are made available at https://github.com/rust-lang-nursery/mdBook/releases, which is what I use to reduce CI time.  That may not help with `mdbook-linkcheck`, though.  There is also a number of Cargo features which you can turn off to reduce the compile time (almost twice as fast with all of them off).

There are a few deps that could maybe be trimmed, but they will unlikely make a

[2019-08-25 23:45] bheisler commented on #1017
Ah, I hadn't known about the cargo features; that will help.

I currently force-install on every build to make sure that it has the latest version, so caching doesn't really help there. I'll keep an eye on the `install-upgrade` option; hopefully it's stabilized soon.

[2019-08-28 08:33] gnzlbg opened #1019 "lint on relative links to md files using html extension"
`mdbook` should lint against relative links to markdown files that use the html or other extensions. For example, linking against

[code]

using

[code]

should warn or error that the `md` extension should be preferred instead. Otherwise if the markdown is compiled to something else, like pdf or some other format, those links will break.

[2019-08-29 17:55] jparris opened #1020 "Disable / Modify search hot key"
Hi there,

Using the {{#include file}} operator I've included a html file that contains a interactive javascript widget. Everything works perfectly expect for the fact that the "s" key press triggers search which then begins consuming the key presses.

I'd like to be able to re-bind or disable the search hot key.

-Jon

[2019-08-30 11:30] mrec commented on #1016
Are you proposing that titles are generated from the slugged filenames? That feels a bit limiting.

A possible alternative might be to take the ordering from filenames, but titles from the top-level headings in each file.

[2019-08-31 02:20] wusunlab commented on #1016
Hi, sorry if it wasn't clear. I was suggesting that the chapter or section title could be parsed from the top-level heading of each markdown file.  I was able to prototype this in a crude way in Python. So I think this could be doable in Rust as well, though I'm not familiar with markdown parsing.

[2019-09-08 21:27] evanjs commented on #351
It would also be nice if we had a set of themes common to both rustdoc and mdBook.
I've been torn on where to post this as it deals with both projects, but this issue seems pretty relevant.

[2019-09-09 11:13] 6cdh opened #1022 "Unexpected refresh"
system: 4.19.69-1-MANJARO

mdbook: v0.3.1

Once I edit the source, the web page refreshes twice.

[code]

It seems that the first refresh is unexpected.

[2019-09-11 16:39] evitalis commented on #847
Been looking to revisit this application but this is still a blocker for me. Just curious, what is everyone else in the thread doing to avoid the Google fonts pending an official fix?

[2019-09-11 16:46] ddevault commented on #847
I've been porting my book to a custom software which is not maintained by people who care more about aesthetics than the confidentiality of their reader's personal information.

[2019-09-12 10:36] zhimoe opened #1023 "provide a add chapter cli"
great works. how can I add a new chapter by cli? like `mdbook new section-2/new-cli-for-add-chapter-page`, will generate a md file in section-2 folder and the first line is `# new clie for add chapter page`

[2019-09-13 08:15] andrewdavidmackenzie opened #1024 "How to document a project with files in source hierarchy with mdbook"
I have a project with a number of markdown files throughout the source code hierarchy, and I also have a "book" in a docs directory.

[code]

I would like to document this project using mdbook, with the ability to refer to markdown files in the source directories from markdown files under /docs.

I understand (and tests seem to confirm it) that I cannot refer to markdown files via links that are N

[2019-09-13 18:15] ehuss commented on #1024
You can refer to files outside of the book, it just depends on how it is deployed.  For example, the rust-lang books all deploy to https://doc.rust-lang.org/.  Each book can do relative links to other things outside of the book with relative links. For example, [the reference](https://doc.rust-lang.org/reference/) links to the [standard library docs](https://doc.rust-lang.org/std/) with links like

[2019-09-13 19:28] andrewdavidmackenzie commented on #1024
OK, thanks for reply.

I was trying to link to an external md file in the hope it would be built also (same FS, same "project" even if outside of the book directory), but that doesn't work.

I notice your examples links to an html file.
How is that other file built?

In my case the `mdbook build` wouldn't built the html from the md (right?) and I don't have another book build to build it.

I sas t

[2019-09-13 20:51] ehuss commented on #1024
The other files can be built using any tool. In the `std` case it is `rustdoc`. Or it can be other books built with mdbook. Or it can be buit with jekyll if it is a github site.  Or it can be hand written html.

I think for now, `{{include}}` might be your best bet.  I doubt mdbook will ever try to build pages linked to from outside of its source directory.

[2019-09-13 21:41] andrewdavidmackenzie commented on #1024
OK, that kind of makes sense....where would you stop.

What about the simple option, of the root directory having book.toml and
SUMMARY.md and being configurable as the “src” directory and mdbook being
able to build it all without some infinite loop that fills the disk?

On Fri, 13 Sep 2019 at 22:51, Eric Huss <notifications@github.com> wrote:

[2019-09-14 17:32] andrewdavidmackenzie commented on #1024
OK, I see this is due to the call to `copy_files_except_ext()` in the html renderer, causing a recursive copy that fills the file system.

Would you accept a PR that excluded the build directory itself (the destination of the copy) from such a copy, avoiding recursion - and opening up the ability to "anchor" a book in the root directory of a project and solving my issue (unless there is a command

[2019-09-14 18:35] andrewdavidmackenzie commented on #1024
So, I have a PR ready that would change the behaviour, to avoid a never-ending recursive copy where "build_dir" is under "src" directory.

I think it "doesn't do any harm" as such, even if the current recommendation is to *not* structure your project such. And it effectively avoids the problem warned against in the docs `Note: Make sure to run the build command in the root directory and not in the

[2019-09-14 23:16] andrewdavidmackenzie commented on #394
I couldn't get either cases to work `-L path to local crate`, or `-L ./target/debug/deps`

is there some secret I'm not getting

[2019-09-16 16:03] adamchalmers opened #1028 "How to add line numbers to default playpen?"
I notice that the Ace editor can be configured to show/hide line numbers by setting `showLineNumbers`, but `mdbook` explicitly [sets this to false](https://github.com/rust-lang-nursery/mdBook/blob/master/src/theme/playpen_editor/editor.js#L13).

I couldn't see a way to pass configuration from my `mdbook` project's `.toml` to override this. IMO it would be a big improvement if book authors could co

[2019-09-19 00:02] andrewdavidmackenzie commented on #1024
For the ignore functionality I would use the existing "ignore" crate from the ripgrep project, and using the provided method to override the name of the ignore file from ".gitignore" to ".mdbookignore"

[2019-09-19 08:24] JensRantil opened #1029 "Clicking scrolled link in menu jumps back up to top"
To recreate:

 * Using default theme on a book that has left menu table of content (toc) long enough that it requires a scrolling:
   * Scroll to the last item in the left menu.
   * Click it.

What happened: The toc jumped back up to the top.

Expected: That the clicked link was visible.

Why is this important? That the clicked link is visible is a usability thing as it allows a reader to clickly

[2019-09-22 00:58] srimad-bhagavatam opened #1031 "Upgrade to Font Awesome 5"
**fa fa-search** icon is broken for v4.7

https://fontawesome.com/v4.7.0/icon/search

[2019-09-22 11:51] TjeuKayim opened #1032 "Do not ignore `HtmlConfig` syntax errors silently"
`HtmlConfig` parsing error are silently ignored and the default values are used. This makes it hard for users to troubleshoot typos in their `book.toml`.

I tried this `book.toml`:

[code]

*I expected to see this happen*: mdBook displays a warning or error message when building if the configuration contains a syntax error, like
`[WARNING] (mdbook::book): Configuration value for 'output.html.curly

[2019-09-22 19:54] Dylan-DPC commented on #1031
Hi. Is it possible for you to send a PR that fixes it?

[2019-09-22 19:59] krsna-rand commented on #1031
I wish I could but I'm just an end-user. I tried to manually use v5 and it doesnt work either. I emailed FontAwesome support.

[2019-09-23 11:49] JensRantil opened #1034 "Support for non-menu pages"
We just noticed that `mdbook` doesn't compile/build pages which are not linked from `SUMMARY.md`. Background here is that we would like some pages which are only accessible through search and/or links from other pages.

So far we haven't found a way to generate these pages and found no issue adressing this. Let us know if this a duplicate.

[2019-09-23 13:51] ehuss commented on #1034
Thanks for the report. I think this is more or less #830, so I'm going to close in favor of that.

[2019-09-23 13:51] #1034 closed

[2019-09-24 08:04] Lokathor commented on #1017
@bheisler until then try something like this

[code]

[2019-09-24 13:03] andymac-2 commented on #1028
@Michael-F-Bryan  I would like to take on this issue. I apologize if you're the wrong person to ping.

[2019-09-24 14:23] Michael-F-Bryan commented on #1028
Thanks for volunteering to help, @andymac-2!

At a glance, you would need to add a new `show-line-numbers` option to [the `HtmlConfig`][1] so it's configurable from `book.toml` under the `output.html` table.

From there you'll have to figure out how to tell Ace to show/hide line numbers (probably by playing with from the generated HTML, [around here somewhere][2]). The context info passed to each

[2019-09-24 14:36] andymac-2 commented on #1028
Already done ;) PR  #1035 has the required implementation, and updates the docs accordingly. Thanks for your help! You're the first name that pops up on the `CONTRIBUTORS` file

[2019-09-25 04:43] krsna-rand commented on #1031
The folks at FontAwesome have fixed the issue. Please close this.
Thank you very much for all the hard work and love you put into this great software.

[2019-09-25 07:18] #1031 closed

[2019-09-25 08:02] TjeuKayim opened #1036 "Configure JSON env variable create-missing"
In my CI/CD build pipeline, I need to disable `build.create_missing`.
An environment variable `MDBOOK_BUILD__CREATE_MISSING` produces the expected result:
[code]
However, when using JSON, the configuration gets ignored:
[code]
Other configuration parameters as JSON work as expected, like `MDBOOK_OUTPUT__LINKCHECK='{"follow-web-links": true}'`.

So, why is `MDBOOK_BUILD="{'create-missing': false}"`

[2019-09-26 14:12] hugmouse commented on #5
Bump.

[2019-09-26 17:28] #1032 closed

[2019-09-26 17:53] #1028 closed

[2019-09-26 18:30] ehuss opened #1040 "Menu bar covers section header on anchor links"
When clicking on a section header, it will scroll to the top of the page. However, if the  contents sidebar is currently visible, the menu bar at the top of the page covers the section header.  Example

![mdbook-cover](https://user-images.githubusercontent.com/43198/65714832-bfb7a580-e050-11e9-96fc-7d51438580b9.png)

Here I've reduced the opacity of the menu bar to illustrate that the section head

[2019-09-26 19:53] ehuss commented on #1036
There are a few issues here.

One is that your example is not passing valid JSON.  Strings need to be in double quotes, like:

[code]

It should probably have some warnings about this.

Next is that it is not doing kebab-case translation to underscores, so that won't work, either.

Finally, the config structures aren't designed to be partially filled (it assumes certain defaults, like the `build.h

[2019-09-27 05:18] TjeuKayim commented on #1036
Thanks for the explanation.
Though it is invalid JSON, the documentation use single quotes at https://rust-lang-nursery.github.io/mdBook/format/config.html#environment-variables.
I tried using single quotes, double quotes, underscore instead of dash. It doesn't seem to have any effect.

[2019-09-29 15:51] rutrum opened #1042 "Feature request: serve multiple mdBooks in one site"
I have a lot of mdbooks now.  In particular, I use them for notes in my classes.  I would love a way to have a single webpage serve multiple mdbooks.  In particular, I wish there was a way to structure an mdbook project to serve multiple books (each with a distinct SUMMARY.md), so I could view all my class notes in one repository.

[2019-09-30 06:51] XVilka commented on #815
Note, there is [ongoing effort](https://github.com/tectonic-typesetting/tectonic/issues/459) to Oxidize the Tectonic, and ditch legacy C code out of its engine. After this is done, probably more integration can be done.

[2019-10-01 20:47] DhruvDh opened #1043 "[Feature Request] Copy code button should be optional"
The copy code button functionality should configurable in `book.toml`.

Particularly on mobile, the copy button is an eye-sore and is mostly useless, since no one is going to be able to make use of copied code on non-computers. On mobile the button is also relatively large compared to the rest of the content and seems to take away from what is otherwise a very clean and minimal design.

Also, for

[2019-10-03 01:33] amanjeev opened #1046 "Better message when `mdbook clean` is run on clean workspace"
Currently, if you run `mdbook clean` twice, you get the following error:

[code]

Would it make sense to show a better message to the user when running `mdbook clean` on an already clean workspace?

If you think this proposal makes sense, I could perhaps do this but I would need suggestions from you. If you think I am missing something and this is not a good idea, please close this issue.

Thank y

[2019-10-03 01:55] rnitta commented on #1046
How about replacing [`fs::remove_dir_all`](https://github.com/rust-lang-nursery/mdBook/blob/a6f317e352855fe058af82d18cae5541c6b356d3/src/cmd/clean.rs#L32) with [`fs::remove_dir_content`](https://github.com/rust-lang-nursery/mdBook/blob/d371001ab82fb13b1457ca0df9cc7ecd773414b5/src/utils/fs.rs#L78-L90) like [here](https://github.com/rust-lang-nursery/mdBook/blob/a873d468711e14fc291b69f23f50b6769f9e6

[2019-10-03 10:34] amanjeev commented on #1046
@rnitta Thank you. I would like to know if it is ok to not remove the build directory? If you see, as an example, `cargo clean` which removes the `target` directory. What do you think?

[2019-10-04 03:20] vvanpo opened #1049 "Ctrl + Enter playpen shortcut"
The [rust-by-example](https://doc.rust-lang.org/stable/rust-by-example/hello.html) documentation invites us to use "ctrl + enter" to run playpen code, but this doesn't work (at least, not for macOS in either Chrome nor Safari).

[2019-10-04 05:30] andymac-2 commented on #1043
@ehuss I'd like to claim this issue

[2019-10-04 08:32] Dylan-DPC commented on #1043
@andymac-2 sure go ahead

[2019-10-04 19:46] ehuss commented on #1046
I think it would be good if it didn't print anything if the output directory doesn't exist, and exited 0.  Also, unless you see a reason, I think it would be fine to just delete the directory, too, I don't see a reason to keep an empty directory around.  That is, just wrap the `fs::remove_dir_all` with a check if the path exists.

[2019-10-04 19:49] amanjeev commented on #1046
@ehuss I think that is also consistent with `cargo clean`. Will do!

[2019-10-05 12:23] ad-si opened #1053 "Strip HTML from ids"
This markdown

[code]
yields this HTML

[code]

I think the HTML should be stripped before creating the `id` and the `href`, so that it's something like:
[code]

[2019-10-05 17:19] #1029 closed

[2019-10-05 18:37] ehuss opened #1054 "Change default dark theme"
#1037 added the ability to support automatic dark theme detection.  The default wasn't changed to avoid potentially breaking anyone with custom themes.  This issue is to track changing the default to one of the dark themes as a breaking change in 0.4.

[2019-10-05 19:13] ehuss opened #1057 "Appveyor is not working"
Appveyor seemed to stop working about 2 weeks ago with:

[2019-10-05 21:03] #1046 closed

[2019-10-05 22:27] #618 closed

[2019-10-06 17:26] caladd commented on #821
I'll take care of this.

[2019-10-07 07:24] #821 closed

[2019-10-07 11:38] csingewald opened #1059 "id for header tag (h1, h2, ...) and german Ä,Ö,Ü"
The id for each header tag (h1, h2, ...) is generated using to_ascii_lowercase in ˋnormalize_id´ located in utils/mod.rs
This does not process unicode charcters like the german Ä,Ö,Ü, MENÜ converts to ˋmenÜ´

to_lowercase would be a better choice for this purpose.

[2019-10-08 12:03] MageSlayer opened #1060 "Remote links do not work as expected"
Trying to use remote links to other .md's sections results in creating files instead (e.g. "intrinsics.md#link" filename)

e.g. when writing summary as:
[code]

Local links work fine though.

Both 0.3.1 and git versions checked.

[2019-10-08 13:53] ehuss commented on #1060
Thanks for the report!  I think this is a duplicate of #167, so I'm going to close in favor of that.

[2019-10-08 13:53] #1060 closed

[2019-10-08 19:49] davidomarf opened #1061 "Underscores in Ace Editor are not rendered with Ace default CSS"
Hi. I opened an issue in another repository (https://github.com/rust-lang/rust-by-example/issues/1279) thinking it belonged there.

However, I found mdBook, and followed the documentation, which is also implemented with mdBook, and found the same problem:

![image](https://user-images.githubusercontent.com/22549761/66428005-ce03ab00-e9da-11e9-967f-f60fedaa9122.png)

[2019-10-08 19:53] davidomarf commented on #1061
I zoomed in to a 110% and they're rendered:
![image](https://user-images.githubusercontent.com/22549761/66428252-56824b80-e9db-11e9-81ae-9b1a700640e2.png)

So I should also add the resolution as reference: `1366 x 768`.

Even if they're rendered, I still make the suggestion of the font to be replaced.

[2019-10-08 20:14] ehuss commented on #1061
It sounds like you have a bad font installed?  What happens if you uninstall it?  Or install one of the other fonts that have higher priority?

It's also helpful if you include which browser, OS, versions, etc. that you have tried.

[2019-10-08 20:34] davidomarf commented on #1061
Sorry, I didn't wanted to fill this issue with the same content I wrote in the other issue I linked.

I'm copying it directly from there, making some changes to remove irrelevant information.

I just tried to see the same pages in Firefox and found no problem.

The fact that the zoom fixed the problem in Chrome, makes me think that it's also the resolution that is causing problems.

---
### `font`

[2019-10-08 20:44] davidomarf commented on #1061
I originally thought you didn't read the linked issue, but reading your comment again, makes me think you did.

Should installing the other higher-priority fonts be considered an appropiate fix? I feel this is a very particular case, that affects Chrome on (at least) 1366 x 768 displays, and when you don't have either of Monaco, Menlo, Ubunto Mono, or Consolas font installed.

[2019-10-09 14:02] mat-mcloughlin opened #1063 "ANCHOR and left align"
Is there any way to get an anchor import to left align?

Whenever I import a code sample that is tabbed in the codebase it also comes in tabbed in the documentation. For example:

<img width="223" alt="image" src="https://user-images.githubusercontent.com/2362687/66488363-b1807500-eaa5-11e9-919a-daece52647c7.png">

Perhaps this can be fixed with some CSS. I'm just not sure how

[2019-10-11 03:41] rnitta commented on #1049
It doesn't seem to be issue of mdbook.

[code]

It may be the dead comment of [rust  by example](https://github.com/rust-lang/rust-by-example).

Rust-by-example  used to be built with gitbook, but currently using mdbook.
At that time, the command `Ctrl-Enter` would work, but it seems that the feature had lost in the migration from gitbook to mdbook.

https://github.com/rust-lang/rust-by-example/co

[2019-10-11 04:00] ngolin opened #1067 "Sidebar can't scroll to current active section"
Sidebar on the left can't auto scroll to the current active section. This is something to do with the `book.js`. I'm ready to propose a PR.

[2019-10-11 12:16] #1049 closed

[2019-10-11 12:21] #1061 closed

[2019-10-12 15:57] mkurnikov commented on #88
Trying to open `print.html` page from the browser gives me out-of-memory, but this one works
[code]

[2019-10-14 08:07] Michael-F-Bryan commented on #1017
I use `mdbook` for several documenting several closed-source projects and use a similar technique to @Lokathor. The only difference being I'll check the `--version` and do a `--force` install otherwise.

Another optimisation you can use is `cargo install --debug mdbook` to skip optimisations.

Thanks for pointing that out @ehuss. There's some work I'd like to do soon, so I'll see if I can upload s

[2019-10-14 16:33] Flying-Toast commented on #1054
Reminder to change the documentation too when this happens:
https://github.com/rust-lang-nursery/mdBook/blob/d63ef8330dfea202116bfef525e1ccac20f1fab7/src/config.rs#L444
https://github.com/rust-lang-nursery/mdBook/blob/d63ef8330dfea202116bfef525e1ccac20f1fab7/book-example/src/format/config.md#L156

[2019-10-14 18:32] mrec commented on #1067
Hi - I'm not an mdBook maintainer and have no authoritah over PRs, but wanted to mention that `scrollIntoViewIfNeeded` is [nonstandard and very poorly supported](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoViewIfNeeded). Does the standard [`scrollIntoView`](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView) not work here?

[2019-10-15 02:24] ngolin commented on #1067
Now it's `.scrollIntoView({ block: 'center' });`.

[2019-10-15 17:25] Dylan-DPC commented on #995
@lzutao scache has released a new version, CI looks fine, anything else?

[2019-10-15 17:26] Dylan-DPC commented on #858
We are good at this stage, though a few more maintainers would be helpful. If anyone is reading this and interested in maintaining, just leave a comment here even though it is closed. Thanks

[2019-10-15 17:26] #858 closed

[2019-10-15 17:31] lzutao commented on #995
I am thinking about caching target/ dir instead of using sccache. Will try a look and
investigate it later.

[2019-10-15 17:32] weihanglo commented on #858
I am interested in maintaining works, though need some instructions and guidance.

[2019-10-16 08:27] Dylan-DPC commented on #858
@weihanglo sure. is there any other place i can contact you (e.g. discord)

[2019-10-17 10:44] #1043 closed

[2019-10-18 11:57] blastur commented on #847
+1 for getting this fixed; Google surveillance is one thing, but for me the book is completely broken because I'm in a special network environment where domains resolve but all network access is permitted. So the book just won't load as long as these Google references are in the file.

I did what krisradio did, edited index.hbs and recompiled mdBook, but this is not a good solution longterm.

[2019-10-19 06:04] weihanglo commented on #1057
Maybe we can migrate our CI/CD process to GitHub Action or Azure pipeline. Unifying infra to a single services seems to be a great direction to me.

[2019-10-19 13:37] ehuss commented on #1057
Yea, we are migrating to GitHub Actions.  I have a branch with all the changes, I just need to do some testing on it.  I got my personal account in the beta a couple days ago, and I just need some time to test it.  I also need some time from the infra group to enable it and encrypt some tokens.  I'll try to get it going soon.

[2019-10-21 21:20] ehuss commented on #1057
Fixed via #1071.

[2019-10-21 21:20] #1057 closed

[2019-10-24 18:04] mark-i-m opened #1074 "Error rendering "index": No title found for chapter in JSON data"
I tried updating mdbook to 0.3.2, but I am getting the following error:

[code]

What does this error mean? Is there some sort of JSON header we need to add to some files?

EDIT: Lol, forgot to mention that this is for the [rustc-guide](https://github.com/rust-lang/rustc-guide)

[2019-10-24 18:39] ehuss commented on #1074
Sorry about that, looks to be caused by #1005, and having spacers in the SUMMARY.  I'll open a PR soon.

[2019-10-24 18:42] mark-i-m commented on #1074
No worries @ehuss ! Thanks for all your work on mdbook. You've been adding a lot of genuinely useful features and fixes lately.

[2019-10-25 12:21] Michael-F-Bryan commented on #1017
Something that may be useful in diagnosing the cause of slow compilations is `cargo build -Ztimings`. It generates a really useful HTML file that visualises the compilation process.

I had a quick look around c9dae170f38bae0907a86eff36406f1231b580ec...

This is the timings report: [timings.zip](https://github.com/rust-lang-nursery/mdBook/files/3771934/timings.zip)

The dependency graph:

![depende

[2019-10-25 13:54] ehuss commented on #1017
Yea, I've looked at this in the past, there are a large number of duplicated dependencies.  Getting rid of toml_query seems doable, it is fairly expensive.  I also noticed `iron` had some outdated dependencies, and hadn't been updated in a long time.  If anyone knows of a lightweight web server that is actively maintained, I think it might be good to look at that.  It might be hard to get rid of `

[2019-10-25 15:19] Michael-F-Bryan commented on #1017
I'm working on a minimal replacement for `toml_query`. The API is pretty straightforward so it shouldn't be too difficult.

The `mdbook-linkcheck` program has a `--standalone` flag so it can be used outside of a `mdbook` plugin context (e.g. `mdbook-linkcheck  path/to/my/book`), so under the hood it'll require everything related to `MDBook::load()`.

We could always split the HTML renderer out int

[2019-10-25 15:33] #1074 closed

[2019-10-26 18:34] #1040 closed

[2019-10-26 23:04] ehuss commented on #634
PR #1077 mostly fixes this, so closing for now.

[2019-10-26 23:04] #634 closed

[2019-10-27 14:51] #203 closed

[2019-10-28 18:37] deg4uss3r opened #1078 "Non `light` Default Theme Isn't Served On Page Load"
When using the `default-theme` configuration option on `mdbook v0.3.3` the "default theme" is not the theme rendered when opening `book/index.html` or connecting to `localhost:3000` with `mdbook serve` running, it appears to always render `light`.

here's my book.toml:
[code]

The page shows I have `Ayu` selected as the default them but renders as `light`, tried clearing all caches and removing `b

[2019-10-28 18:46] ehuss commented on #1078
I think it might be case sensitive.  Can you try with lowercase `ayu` and see if that works?

[2019-10-28 18:49] deg4uss3r commented on #1078
...yup that was it. Should we add a `.lower()` in there somewhere in the theme matching to make some lives easier in the future?

I did have `Ayu` instead of `ayu` because that's how it was capitalized in the list (shown in the image above).

[2019-10-28 18:51] Dylan-DPC commented on #1078
Yes that's a good idea

[2019-10-28 19:09] deg4uss3r commented on #1078
Waiting review 😸

[2019-10-28 22:35] XAMPPRocky opened #1080 "Move Repository To rust-lang"
Hello, the current `rust-lang-nursery` organisation is considered deprecated, and the Rust Programming Language organisation is trying to consolidate managing Rust's GitHub organisations, as such we'd like you to consider moving your repository to the main `rust-lang` organisation instead.

### How Do I Move To `rust-lang`?
You won't be able to transfer your repository directly, you'll need to tra

[2019-10-28 22:37] steveklabnik commented on #1080
I've been meaning to do this, but needed to take some time to make sure stuff won't break.

Given that I'm on core, I should be able to do this myself, I'd imagine.

I'll take some time to investigate this week.

[2019-10-28 23:17] ehuss commented on #1080
Sounds good to me.

From what I understand github pages are *not* redirected, so we'll need to update the README link and a few places in the code that reference rust-lang.nursery.github.io.  I think most other links are redirected?  It looks like releases should be redirected, which is probably one of the few things that matters since that could break outside user's CI.

I think the deploy key *m

[2019-10-29 03:50] taills opened #1081 "Unable to search for Chinese Keywords"
Unable to search for Chinese Keywords
![image](https://user-images.githubusercontent.com/47925925/67736356-4857a600-fa42-11e9-9cbb-f86b98555f45.png)

[2019-10-29 12:56] steveklabnik commented on #1080
I'm gonna give this one a go now, let's see how it goes.

Yes, I think that's true.

I'm going to

1. move the repo
2. push a commit updating the README
3. see if that breaks CI or not

And we'll go from there. :)

[2019-10-29 13:16] #1080 closed

[2019-10-29 13:17] steveklabnik commented on #1080
So, one wrinkle: while actions are enabled for the org, they also need to be turned on per-repo. As such, I had to close my first PR and then open a new one. But it looks like they're working just fine.

We'll need to cut a release in order to update the links on crates.io.  @ehuss maybe you want to give that a try? That would also exercise the "release" action, which is the only thing that wouldn

[2019-10-29 16:23] weihanglo commented on #1081
mdBook uses [elasticlunr.js](https://github.com/weixsong/elasticlunr.js) for offline searching under the hood. And according to this issue https://github.com/weixsong/elasticlunr.js/issues/53, it seems that there is no plan to support searching in other languages.

[2019-10-29 17:37] lzutao commented on #995
Now we moved to GitHub actions, but the CI provider hasn't supported caching yet. We could close thi

[2019-10-29 17:42] ehuss commented on #1080
v0.3.4 has been published with all the links updated.  The deploy key somehow magically worked.  Thanks @steveklabnik!

[2019-10-29 23:49] steveklabnik commented on #1080
Amazing! Thanks so much :)

[2019-10-31 14:41] vext01 opened #1084 "Unable to parse WebSocket key"
Today's master, built on OpenBSD, release mode. Freshly initialised book:

[code]

Hit the URL in firefox:
[code]

Browser shows:
[code]

Tried over an ssh tunnel to a Linux machine and got the same.

Also tried with chromium to both OpenBSD and Linux hosts with the same results.

Any ideas?

[2019-10-31 15:11] marioidival commented on #451
mdBook supports tests?

[2019-10-31 16:17] steveklabnik commented on #451
mdbook test will work similarly to doc tests for cargo test, yes.

[2019-10-31 17:25] jacob-hughes commented on #1084
`mdbook init && mdbook serve` works okay for me on x86_64-linux-gnu

[2019-10-31 17:32] vext01 commented on #1084
Which browser? Firefox?

[2019-10-31 17:37] jacob-hughes commented on #1084
Yes, Firefox 69.0.2

[2019-11-01 05:15] dhayakawa-idcf commented on #5
+1

[2019-11-01 05:16] bells17 commented on #5
+1

[2019-11-01 11:22] vext01 commented on #1084
As a workaround, you can use another web server to serve up the `book` directory.

E.g.
[code]

[2019-11-01 11:43] vext01 commented on #1084
This was user error! Because the last line in the console output was:
[code]

I thought I was supposed to hit `http://localhost:3001`. I was wrong.

Closing.

[2019-11-01 11:43] #1084 closed

[2019-11-01 17:15] dylanowen commented on #730
I created a preprocessor for this:
https://github.com/dylanowen/mdbook-graphviz
https://crates.io/crates/mdbook-graphviz

I just finished the first version so there aren't a ton of features.

I opted for this syntax:
[code]

[2019-11-02 02:02] jdxcode opened #1085 "viewed chapters"
I'd love it if there was a way for me to tell how far along a book I am. If previously viewed chapters showed up gray or maybe a little "unread" label showed on unread chapters?

Of course I could use bookmarks but that would require me to have to update the bookmark every time I view a new chapter.

Open to ideas and happy to implement as well.

[2019-11-02 07:12] weihanglo commented on #1085
Great! I am thinking of the same feature these days and already have some open questions:

- Would it enable by default? If yes, does it break current user experience? I know some of the book in the wild are used as references but not tutorials. It should be disabled on these types of books.
- What the definition of _read_ behavior? Scroll down to a specific percentage like 80%? Or just count the

[2019-11-02 07:20] jdxcode commented on #1085
I don't think you need to track anything, the browser already tracks viewed pages so we just need to add a style for `a:visited` like I showed: https://www.w3schools.com/cssref/sel_visited.asp

[2019-11-02 07:25] weihanglo commented on #1085
My fault. Shouldn't expand the question too much. Just make it simple and use `visited` selector.

[2019-11-02 14:45] jdxcode commented on #1085
no worries, I was considering the same exact thing until it dawned on me this is a standard browser thing :)

In regards to enabling by default I'm not sure. I imagine we could just have a css class to enable/disable the functionality.

[2019-11-04 11:35] bluetech commented on #801
This was fixed in https://github.com/rust-lang/mdBook/pull/1058.

[2019-11-04 11:35] #801 closed

[2019-11-04 12:47] sytsereitsma opened #1087 "Preprocessor output files are deleted when hbs renderer is called (from mdBook > 0.3.1)"
Hi,

I have a preprocessor (mdbook-plantuml) which creates files in the book/img directory. The changes in issue #985, remove these files again (the destination.exists() if clause in Renderer::render(...) in src/renderer/html_handlebars/hbs_renderer.rs).

This kind of breaks my preprocessor :-(

Any ideas on how this could/should be fixed?

Sytse

[2019-11-04 21:50] ehuss commented on #1087
@Michael-F-Bryan can you take a look at this?

[2019-11-05 05:04] Kampfkarren opened #1090 "Publish the mdBook to gh-pages workflow as a separate action"
I'd like to integrate my book as a GitHub pages. This repository already has an action for this: https://github.com/rust-lang/mdBook/blob/master/.github/workflows/deploy.yml

However, I'm required to copy and paste all of this into my own repository, instead of using something simpler like:

[code]

[2019-11-05 07:47] sytsereitsma commented on #1087
I think a solution could be extending the Renderer trait with a prepare function, which can be called before running the preprocessor.

[2019-11-05 11:40] Michael-F-Bryan commented on #1087
I wouldn't expect a preprocessor to be touching anything within another backend's output directory. That could end up being quite brittle because you're making assumptions on how the backend will render things.

Your idea of lifecycle methods (e.g. `before_preprocess()`) is a good one, although we'd need to update the 3rd party plugin mechanism to take it into account. One way this could be propag

[2019-11-05 12:55] #1078 closed

[2019-11-05 13:41] sytsereitsma commented on #1087
@Michael-F-Bryan I'll change my preprocessor to use data URIs to avoid the issue altogether. You have a nice point where my preprocessor should be independent of the renderer.

I do think the lifecycle methods can avoid the problem (e.g. for other preprocessors). It is very difficult to troubleshoot for a regular user because it just seems as if the preprocessor does not work properly.

Didn't kno

[2019-11-05 14:06] Michael-F-Bryan commented on #1087
See https://github.com/sytsereitsma/mdbook-plantuml/issues/7#issuecomment-549794682. You can write error messages to STDERR and return a non-zero exit code from the preprocessor to let users know about errors.

If we were to go down the lifecycle method path, can you think of any other lifecycle methods we may want to add to either the preprocessor or renderer?

[2019-11-06 07:27] sytsereitsma commented on #1087
As far as my preprocessor is concerned everything is working fine. It's just that the output gets deleted once it is done :-)

Regarding the lifecycle methods I do not see any other sensible method than before_preprocessor when looking at MDBook::execute_build_process (src/book/mod.rs).

I have one more suggestion. Since deleting a directory is a significant operation, I'd add a log message when p

[2019-11-06 21:32] dylanowen commented on #1087
I ran into this issue as well with https://github.com/dylanowen/mdbook-graphviz I "solved" it by putting my output in the src directory which is pretty gross.

As for suggestions of what we could do. I like the model we have now where we're always operating across stdin -> stdout so chaining / modifying markdown works nicely.

What about extending `BookItem` to include a Resource File or adding Re

[2019-11-07 00:14] Michael-F-Bryan commented on #1087
I like the idea of adding a "resource" section to the `Book`. In theory this should be backwards compatible because the JSON deserializer would interpret a missing `"resource"` key as an empty `Vec<Resource>`.

It wouldn't be backwards compatible if we were to add *all* non-markdown files as `Resource`s to the `Book` , though (preprocessors/renderers not aware of `Resource`s would silently drop th

[2019-11-07 19:24] sebastianv89 opened #1091 "Error in hiding part of an example"
See the last example in this section: https://rust-lang.github.io/mdBook/format/mdbook.html#including-a-file-but-initially-hiding-all-except-specified-lines
It has not hidden one of the leading # symbols. This is not just less pretty, but it also breaks running the code on the playground. See the following screenshot.

![screenshot](https://user-images.githubusercontent.com/3017046/68420151-b51d1f

[2019-11-07 20:21] ehuss commented on #1091
Thanks for the report. This has been fixed in #1088, and I'll probably make a new release soonish.

[2019-11-07 20:21] #1091 closed

[2019-11-07 22:00] segfaultsourcery commented on #1016
Hi, I've been wanting this as well, but I've had trouble figuring out what the title should be for the folders. By title I mean the text used for the links in the summary.

I tried getting around the problem by assuming there's a file in each folder called `landing.md`. It's in the same spirit of `index.html`, and it'll be the first file linked to in any folder. The first line in this file determi

[2019-11-08 11:53] DannyBen opened #1092 "Suggestion: Ability to run server without livereload"
Hello,

I believe it would be beneficial if `mdbook serve` would support a flag to disable livereload (`--no-livereload` ?)

My use case is this:

1. I am serving `mdbook serve` locally during development, like everybody else.
2. My  `book.toml` specifies `build-dir = "docs"` so that GitHub pages can use this folder.
3. So of course, I am not `.gitignoring` the `docs` directory.
4. When exiting th

[2019-11-08 19:45] sytsereitsma commented on #1087
Something that came to mind.... Images can get rather large and plentiful, meaning the amount of data to transfer over stdio (and json) may get quite large. How about outputting to a 'preprocessor-resources' directory, which gets copied into the book output dir by the renderer?

[2019-11-09 17:14] Dylan-DPC commented on #1092
@DannyBen this looks good. Are you comfortable in sending us a PR that adds this functionality?

[2019-11-09 17:20] DannyBen commented on #1092
No, sorry. Haven't written a single line of code in Rust.

[2019-11-10 10:36] #1022 closed

[2019-11-10 16:37] Dylan-DPC commented on #1092
Then it is a good opportunity to learn ;) We can mentor you. But if you don't want to do, that's fine, i'll look into it or someone else might :) Thanks

[2019-11-10 16:56] DannyBen commented on #1092
Heh, thank you very much. I decided to give Rust a try, so I am learning (by following the super friendly doc.rust-lang.org/book), but it will take me a while to dare venture into someone else's crate... 😎

[2019-11-10 17:25] trosel commented on #5
Is anyone working on this? I know there was a PR a long time ago that looked great, but it was closed.

[2019-11-11 11:42] #812 closed

[2019-11-11 14:21] mdboom opened #1094 "Include directives to missing files do not return error"
Our project used some `include` directives, that due to refactoring, inadvertently pointed to the wrong location, resulting in log error messages like the following:

[code]

These errors don't result in returning an error code from the process, so we missed them in CI.

Should these (and maybe all error log messages), result in an error code?

[2019-11-12 01:15] LeakyBucket opened #1095 "Feature Request: Ability to build documentation outside of source tree"
I have a situation where I would like to build documentation that is maintainable both from the perspective of the repository but also potentially from the perspective of the mdbook.

In my situation I also have multiple repositories and would like to centralize the documentation for all of them.

I had hoped/expected that I could use git submodules and give the relative path to the markdown files

[2019-11-13 02:12] Michael-F-Bryan opened #1096 "SUMMARY.md can no longer contain HTML comments"
In one of my books I comment out not-yet-written chapters using HTML comments. After updating from `v0.3.4` to `v0.3.5`  running `mdbook build` now fails while parsing `SUMMARY.md`.

[code]

I believe the regression was introduced in #1021 when `pulldown-cmark` was updated.

[2019-11-13 02:14] Michael-F-Bryan commented on #1096
Minimal, reproducible example:

[code]

[2019-11-14 18:46] julianschacher opened #1098 "Include Statement Breaks when Given Path with Certain Special Characters"
The `#include` statement breaks when it is given a path with certain special characters.

Here an example. The following source:

![Screenshot_2019-11-14_19-40-20_+0100_Include_Statement_Breaks_when_Given_Path_with_Certain_Special_Characters_example_source_code](https://user-images.githubusercontent.com/26492670/68886258-2c792300-0717-11ea-8e00-eeb8a9f8c6b6.png)

Results in:

![Screenshot_2019-11-

[2019-11-17 15:41] kpp commented on #812
@steveklabnik Looks like `edition2018` is ignored by rustdoc.

src/chapter_1.md:

    # Chapter 1

[code]

[code]

However with:

[code]

Works as expected:

[code]

[2019-11-17 15:46] ehuss commented on #812
Yea, this was just recently discovered.  There is a PR (https://github.com/rust-lang/rust/pull/66238) to fix that.

[2019-11-17 15:48] kpp commented on #812
How about adding `edition=2018` option to mdbook config?

[2019-11-17 16:22] ehuss commented on #812
There was a recent PR to add that (#1086), but it had a problem so had to be reverted. I'm looking at fixing it, but I wanted to change how the config was defined.  It's near the top of my list, so hopefully soon!

[2019-11-20 22:26] brycefisher commented on #1020
Ditto! I want to keep search but enable my users to press S without triggering search, but right now, there's no clean way to disable that hot key on the page I want via configuration.

[2019-11-21 21:55] itsmeolivia commented on #1061
I'm running Chrome Version 78.0.3904.108 (Official Build) (64-bit) on a linux 4.19.67-2rodete2-amd64
 OS and I do not see underscores either. I can open a new issue if you prefer

[2019-11-22 10:56] jimbo1qaz opened #1102 "When pressing pagedown, sticky header covers top of new page"
Ever since https://github.com/rust-lang/mdBook/pull/1070, the sticky header does not disappear when I scroll down.

Every time i press "page down", it skips a few lines since the floating header covers the top of the resulting page

This occurs on 70.0.1 (64-bit). Normally Firefox has code to detect sticky headers and reduce the distance that PageDown travels. However Firefox fails to detect the h

[2019-11-22 16:08] ehuss commented on #1061
@itsmeolivia Which version of mdbook are you using?  Which linux distribution is that?

[2019-11-22 17:10] ehuss commented on #1102
@rnitta can you take a look at this?

[2019-11-23 17:09] uint commented on #602
Looks like `editable` is already documented by now.

Correct me where I'm wrong! As far as I can understand, `ignore` and `noplaypen` do the exact same thing and remove the run button. `mdbook-runnable` overwrites both and makes the thing runnable again, though I'm not sure what use case that would have?

The logic I found for this is in the [specific renderers](https://github.com/rust-lang/mdBook

[2019-11-24 15:34] PsiACE commented on #1090
Good idea, but I think these two goals are not consistent.

If you just want to deploy a personal book, consider using some more convenient deployment actions and using a pre-built mdBook.

[code]

Faster and more suitable.

[2019-11-24 23:15] Kampfkarren commented on #1090
I figured that out when I tried to integrate it, sadly. Any chance you could upload that somewhere though so using it is as easy as the snippet in the OP? 😀

[2019-11-25 05:27] PsiACE commented on #1090
Oversimplification may mean higher coupling.

[2019-11-25 12:08] PsiACE commented on #1016
I like this feature, which provides a pretty good basis for migration.

[2019-11-25 12:19] segfaultsourcery commented on #1016
@PsiACE Since OP seems to have disappeared, could you have a look at my PoC (above your comment) and tell me what you think?

[2019-11-25 13:15] PsiACE commented on #1016
I'll try it later. Thank you so much for your work.

[2019-11-26 14:35] EasiestSoft commented on #1096
I also hope this will be resolved soon

[2019-11-27 09:16] uint commented on #1098
I think I see what's going on with the colons. [The logic for parsing includes](https://github.com/rust-lang/mdBook/blob/master/src/preprocess/links.rs#L228-L244) takes the first colon and interprets it as a separator between the actual path and a range/anchor thingy.

I'll dig into what's up with pluses eventually.

It feels like without changing range/anchor syntax and breaking backwards compati

[2019-11-27 14:29] peaceiris commented on #1090
I published the GitHub Actions for mdBook.

[peaceiris/actions-mdbook: GitHub Actions for mdBook (rust-lang/mdBook)](https://github.com/peaceiris/actions-mdbook)

We can run **mdBook** on a virtual machine of **GitHub Actions** by this action. Linux, macOS, and Windows are supported.

Here is an example workflow to deploy to GitHub Pages.

[code]

Fetch the latest version of mdBook.

[code]

- [pe

[2019-11-27 14:49] PsiACE commented on #1090
@peaceiris Good Job.

[2019-11-27 16:33] #1090 closed

[2019-11-27 17:49] albfan commented on #1061
I think this is related https://github.com/ajaxorg/ace/issues/4000#issuecomment-559189283

[2019-11-30 11:00] Shreyas4991 opened #1105 "Pre-rendering math"
As things stand now, rendering of mathematics is very slow and jarring. I believe one solution for this is to render math as MathML or SVG during the build process rather than handling it on the client side. Both Mathjax and KaTeX offer this ability, albeit in Javascript (Node). I assume there are rust equivalents for the same. I suggest that mathematics be rendered when running the build command.

[2019-12-01 13:57] Arshiamidos opened #1106 "remember sidebar scroll"
when page refresh the sidebar is reset to top again

[2019-12-01 18:05] lzutao opened #1107 "Is the feature `output` or `debug` un-used?"
https://github.com/rust-lang/mdBook/blob/e3717ad47bf5a659c7b7084b8b006fa05e9d9ff8/Cargo.toml#L60

Grepping all `feature` doesn't show anything about `output` feature:
[code]

[2019-12-01 18:53] ehuss commented on #1107
Looks they were removed when mdbook switched to the `log` crate in #164.  We can probably remove it from Cargo.toml in 0.4.

[2019-12-02 09:05] Arshiamidos commented on #1106
PR #1108

[2019-12-02 17:02] #1106 closed

[2019-12-04 22:46] ehuss commented on #602
There is a subtle distinction from `ignore` and `noplaypen` where `noplaypen` blocks will still be tested.  It might be good to include the rustdoc attrs since they are relevant to how things work.  And some examples would be good, too.

- `editable` — Allows a code block to be editable, requires `output.html.playpen.editable=true` in config.
- `noplaypen` — Will not show playground link, but will

[2019-12-06 03:54] JoshOrndorff commented on #1007
Have you gotten mermaid to work on its own? I'm facing an issue that js files in a location other than the root don't work. What if you move mermaid out of the `assets` directory? https://github.com/substrate-developer-hub/recipes/pull/54

[2019-12-06 04:01] JoshOrndorff opened #1111 "additional-js files must be in root directory?"
I'm using `additional-js` to include some google analytics and consent items. I would like those scripts to live in a dedicated directory, but they will not load from anywhere other than the root.

`additional-js = ["static/js/load.js", "static/js/config.js", "static/js/klaro.min.js"]`

We've had to make this patch to work around the issue https://github.com/substrate-developer-hub/recipes/pull/54

[2019-12-09 15:09] sytsereitsma commented on #1087
Hi Guys,

I'd like to see this resolved. The serve command gets into an infinite regeneration loop because the files in the src dir are modified by the preprocessor (with the workaround I created).

I'm more than happy to create a PR for this, but I'd like to have consensus on the path to follow.

As discussed above we have the following options (so far):
1. The before_preprocessor lifecycle metho

[2019-12-10 03:43] 20k-ultra opened #1112 "Apply selected theme to all pages when viewing mdBook locally (file:///) in Firefox"
When I select a theme and navigate to another page the theme is not persisted. This is because mdBooks stores the selected theme in localStorage but since these files are being served locally via file:/// each file is treated as its own domain and so the theme selected is only available to the HTML page that set the value.

I've successfully created a way to persist the theme across all pages usin

[2019-12-11 15:10] antipin00 opened #1113 "Search highlightning breaks inline code segments with '-' character"
Inline code segments that have '-' character break when searching for a string if the code segment ends with this string. [Example](https://doc.rust-lang.org/cargo/reference/unstable.html?highlight=tures#namespaced-features), [another example](https://doc.rust-lang.org/cargo/reference/unstable.html?highlight=ofile#config-profiles)
![broken_code_segment](https://user-images.githubusercontent.com/17

[2019-12-12 01:47] 20k-ultra commented on #1112
I think since this problem only exists for people that view books locally then it should only work when viewing locally. I saw in the code that google analytics code is only added if the user is not locally viewing the book so this logic exists already.

I'm working on this now and will just make PR when it's done.

[2019-12-12 02:29] 20k-ultra commented on #1112
Ok, discovered a few things. One, Chrome shares localStorage across the file:/// "domain" so this problem doesn't exist for Chrome users however I only use Firefox and just have Chrome to test behavior between browsers.

And so in Firefox my change to mdBook successfully creates a book that will persist the selected theme when viewing locally. I know this because I will compile mdBook then make [t

[2019-12-12 16:27] 20k-ultra commented on #1112
I am currently playing around with using cookies. Maybe the cookie implementation will persist across file:/// "domains". I'll have an update later today.

[2019-12-13 00:48] lvii opened #1114 "Does mdBook support GFM (GitHub Flavored Markdown) mode ?"
Hi

I have searched the document, it seemed that there were no any configurations about ***GFM (GitHub Flavored Markdown)*** mode support. Does mdBook support GitHub Flavored Markdown mode ?

Thanks.

[2019-12-13 01:17] dylanowen commented on #1087
That's a good point about transferring large amounts of data over stdio, I've been unable to find much info on the limits or performance hits for it though.

My rationale for passing data through stdout/in was that it would give preprocessors more power to interact with each other.

For example we could create a "Thumbnail Preprocessor" that would take in images in the src directory and generate a

[2019-12-13 01:35] ehuss commented on #1114
mdBook supports [Commonmark](https://commonmark.org/) plus [GFM tables](https://github.github.com/gfm/#tables-extension-), [GFM task lists](https://github.github.com/gfm/#task-list-items-extension-), [GFM strikethrough](https://github.github.com/gfm/#strikethrough-extension-), and [footnotes](https://github.com/commonmark/commonmark-spec/wiki/Deployed-Extensions#note).

[2019-12-13 01:40] ehuss commented on #1113
Thanks for the report. This has already been fixed (via #1058 I think).  The fix is currently on Rust's beta channel (which should hit stable next week).

[2019-12-13 01:40] #1113 closed

[2019-12-13 05:17] lvii commented on #1114
@ehuss Thanks.

Raw http link like `https://github.com/rust-lang/mdBook/` in markdown could **NOT** auto convert to html link. it must change to `<https://github.com/rust-lang/mdBook/>` markdown format.

I hope that mdBook would support this.

[2019-12-13 09:48] sytsereitsma commented on #1087
I'm not too worried about the stdio overhead compared to the whole sequence of events (i.e. generate a file, load it in memory, zip and encode it transfer it, extract and save it). My main concern is the unneeded data serialization/deserialization, even though that probably is a negligible overhead compared to the graphviz rendering.

So time to put the assumptions to the test and generate some da

[2019-12-13 16:50] ehuss commented on #1114
You may want to follow up on [pulldown-cmark](https://github.com/raphlinus/pulldown-cmark/) which is the markdown rendering engine.  The direct link for the extension is https://github.github.com/gfm/#autolinks-extension-

[2019-12-13 22:39] ehuss commented on #1111
It seems to work for me.  Can you say more about what was wrong?

Also, it looks like your project has already moved them back to a dedicated folder via https://github.com/substrate-developer-hub/recipes/pull/87?

[2019-12-14 06:00] rendeko commented on #847
Is there something I can add to my additional-js in the meantime until this is added as an option? Without an option to not call Google API's, I'd prefer to use other software.

[2019-12-14 19:10] JoshOrndorff commented on #1111
Indeed they were moved back to the subdirectory, and thus the scripts no longer load.

When I load the live site (substrate.dev/recipes), the "can we use cookies" dialog does not show and my console says `Loading failed for the <script> with source "https://substrate.dev/recipes/klaro.min.js".`

It is trying to load that script from the root even though `book.toml` points to [a different location]

[2019-12-14 19:38] ehuss commented on #1111
Oh!  It looks like you're using an [old version](https://github.com/substrate-developer-hub/recipes/blob/4c5b927e250084adbf475ccc665659308a1a33d7/.travis.yml#L6) of mdbook.  I think this was fixed a while ago (#796).  Can you try the latest version (0.3.5)?

[2019-12-15 06:28] EasiestSoft opened #1116 "`include` does not work in SUMMARY.md"
I want to split the long list into separate files and then include them into SUMMARY.md, unfortunately, it doesn't work

[2019-12-16 03:00] lvii commented on #1114
@ehuss
Could mdbook support  changing markdown rendering engine like [pulldown-cmark](https://github.com/raphlinus/pulldown-cmark/) you just mentioned？

[2019-12-16 15:17] #1112 closed

[2019-12-16 17:33] ehuss commented on #1114
I don't understand the question.  If you're asking about using a different rendering engine, I'd prefer not to.

[2019-12-16 21:04] JoshOrndorff commented on #1111
Thank you for your time finding this issue!

[2019-12-16 21:04] #1111 closed

[2019-12-17 07:39] runiq commented on #884
Would you consider adding a UI element for clearing the highlights? I cannot remove them on mobile without editing the URL.

[2019-12-17 22:11] ehuss commented on #884
@runiq sounds like a good idea, can you file a new issue?  Also, maybe some suggestions on how it should work.  It probably doesn't need to be mobile-specific because `Esc` is not always discoverable.  Even better if you can point to some popular sites that do something similar.  (I know [python](https://docs.python.org/3/library/os.html?highlight=os) does, but I don't see *any* way to clear the h

[2019-12-18 13:54] runiq opened #1117 "Removing search highlights on mobile not possible"
(New issue as per https://github.com/rust-lang/mdBook/issues/884#issuecomment-566772116)

At the moment, search result highlights can be either removed by editing the page URL or [pressing Esc](https://github.com/rust-lang/mdBook/blame/c068703028d19fb6c5a4690e904ae6f2bd74292f/src/theme/searcher/searcher.js#L316-L325). This is a papercut especially (but not only) on mobile:

1. there is no Esc key

[2019-12-18 13:55] runiq commented on #884
@ehuss Done: https://github.com/rust-lang/mdBook/issues/1117

[2019-12-18 14:10] runiq commented on #1117
Some 'prior art' I have ready at my fingertips:

- GitBook [uses a sidebar](https://docs.gitbook.com/?q=gitbook) when searching, on both mobile and desktop. Terms are only highlighted in the sidebar, not in the page itself.
- Current Sphinx [only highlights on the search page itself](https://www.sphinx-doc.org/en/master/search.html?q=test), on desktop and mobile.
- The Qt docs [use Google search w

[2019-12-18 14:19] runiq commented on #1117
So it appears that this could be a unique selling point! :)

As for UI ideas: How about repurposing the search/magnifying glass button for clearing search highlights? Like this: If something is highlighted on the page, "highlight" the magnifying glass as well (i.e. have its background be the same color as a search highlight) so it stands out, and cross the icon out or something.

I'd try my hands

[2019-12-18 16:49] stardussttx opened #1118 "update the mdBook Documentation for author to fix menu-title render"
![image](https://user-images.githubusercontent.com/58855704/71105921-541d4880-21f9-11ea-9320-fbb507af0b07.png)

https://github.com/stardussttx/mao-sama-retry

[2019-12-18 18:54] omega-tree commented on #1020
This would be very useful!

[2019-12-19 03:05] cjayross opened #1119 "Feature request: Usability nitpick for the sidebar."
When using mdBook generated sites, I am very frequently jumping around to different sections outlined in the sidebar. The issue is that every time a page is loaded, the sidebar resets to it's default position—meaning that I have to scroll down to where I was every time I go to a new section, which can be frustrating.

Just my two cents.

[2019-12-19 08:45] zzc1231 opened #1120 "can't search chinese"
can't search chinese
maybe it's necessary

[2019-12-22 21:27] ehuss commented on #1119
I'm not sure if I'm following correctly, but I think that has been fixed (#1052).  Which version of mdbook are you using?  Which browser?  The sidebar should now have the selected page appear at the top.

[2019-12-22 21:29] ehuss commented on #1118
Can you provide more information?  I visited the site at the url given and I see:

<img width="456" alt="image" src="https://user-images.githubusercontent.com/43198/71327573-14878280-24bf-11ea-93c2-76c8a4d2ceb7.png">

[2019-12-23 11:55] buschtoens commented on #167
I'm still very interested in this feature! At the very least, I would recommend to throw an error with a link to this issue when trying to `build` a `SUMMARY.md` that has `#anchors`.

I have very little Rust experience so far (front end dev primarily), but can I potentially help with this? Would this feature be appreciated / accepted to begin with?

[2019-12-25 19:46] cjayross commented on #1119
You're right, that does look consistent with what I'm looking for. I'm on chromium. It must be that a few books I've been looking at are out of date.

[2019-12-26 04:14] stardussttx commented on #1118
I use Environment Variables in Travis CI let it output title, it doesn't work if you set book title in book.toml.

[2019-12-26 04:16] stardussttx commented on #1118
![Screenshot_20191226-121525_Chrome](https://user-images.githubusercontent.com/58855704/71457565-799de980-27d9-11ea-8a00-c87163cf58c3.png)

[2019-12-26 10:33] mobop opened #1121 "Is the sliding behaviour of left side menu correct?"
I except it to behave like material design on mobile. It should on top of the main content, like gitbook. Currently if you zoom out while menu is open on mobile you can see the whole page.

[2019-12-27 17:27] ehuss commented on #1119
Ok, closing then as I think this is fixed.

[2019-12-27 17:27] #1119 closed

[2019-12-27 17:45] ehuss commented on #1118
Ah, I see the problem.  The `authors` field needs to be an array of strings.

It's a bug that mdBook is not displaying a warning or error message.

[2019-12-28 04:10] stardussttx commented on #1118
It works .
***
[book]
title = "魔王大人、RETRY！"
**authors = ["神埼黑音"]**
***
I think we need to update the mdBook Documentation ?
***
[book]
title = "Example book"
**author = "John Doe"**
description = "The example book covers examples."
***

[2019-12-28 04:15] stardussttx commented on #596
https://github.com/rust-lang/mdBook/issues/1118

[2019-12-28 04:16] stardussttx commented on #1118
And close https://github.com/rust-lang/mdBook/issues/596

[2019-12-31 01:47] mraza007 commented on #29
Is there something similar for python

[2019-12-31 10:37] segfaultsourcery commented on #893
This has been sitting idle for a while, and it's fairly low hanging fruit, so I fixed it.

[2019-12-31 14:55] segfaultsourcery commented on #1013
How should it be used? Do you see it anywhere in the finished book?

[2020-01-04 12:34] uint commented on #1098
I finally (sorry) took a look. It looks like the plus is a different beast - the `find_links()` function uses regexp to find things and simply doesn't expect strings with pluses in them. [Here it is.](https://github.com/rust-lang/mdBook/blob/master/src/preprocess/links.rs#L362-L379)

Fixing this one is trivial. It seems to work fine after adding `\+` to the regexp.

I'd be happy to make a pull req

[2020-01-04 18:35] leudz opened #1124 "Can't compile v0.3.5 today"
Hi! First, thank you for this crate, it's awesome!

I use it to make a user guide for a crate but today I pushed some code (not part of the guide) and since then mdbook fails to compile.

<details>
<summary>Error</summary>

    Compiling mdbook v0.3.5
    error[E0277]: `(dyn std::error::Error + 'static)` cannot be sent between threads safely
    --> /home/runner/.cargo/registry/src/github.com-1ecc

[2020-01-04 23:46] SteVwonder commented on #1124
Thanks @leudz for documenting this and tracking down the root cause! Saved me a lot of time today 😄

FWIW to anyone else stumbling across this via searching, I temporarily worked around the problem by doing `cargo install --locked mdbook` since the upstream Cargo.lock still has handlbars v2.0.2 in it.

[2020-01-05 10:39] Dylan-DPC commented on #1124
2.0.3 is yanked so you shouldn't be having this problem. Can you do a fresh install and confirm?

[2020-01-05 23:39] SteVwonder commented on #1124
Works perfectly now.  Thanks!

[2020-01-06 03:56] #1124 closed

[2020-01-07 12:44] laubblaeser commented on #5
More information on the state of this feature would be welcome. :)

[2020-01-07 13:27] ctaggart opened #1126 "ignore files in the output directory"
Is there a way to have `mdbook serve` ignore a list of files in the output directory and not remove them? I want it to ignore the `.git` folder. The output folder is a separate .git repository.

[2020-01-10 17:52] azerupi commented on #1116
Hi,
The `include` directive is only available in the markdown files. The SUMMARY.md has a relatively strict format and no pre-processing is performed on it.

I don't think we want to add any pre-processing to the SUMMARY.md file. It would add more complexity for little gain, but that is my opinion.

If you really have summary files that are that long, I would suggest to create a small script to co

[2020-01-14 13:04] mobop commented on #1121
@alexcrichton ?

[2020-01-15 07:22] #1116 closed

[2020-01-16 14:42] segfaultsourcery commented on #1126
I just went hunting in the code, and I don't believe there's any way to turn this off, as [the entire folder is deleted and recreated by the renderer](https://github.com/rust-lang/mdBook/blob/1f505c2b2eecac73751b57496ee6dc33c91ffa6b/src/renderer/html_handlebars/hbs_renderer.rs#L291).

Would it be possible for you to create the git repository in the parent directory instead? That would completely s

[2020-01-16 15:15] segfaultsourcery commented on #1087
How about a slightly different approach, where in the first step of the build process, the `src` tree gets copied into an intermediary work directory (let's call it `prep`) that pre-processors can write to. Once they're done, the normal build takes over, but instead of building the files found in `src`, it builds whatever is found in `prep`. Once built, `prep` can safely be destroyed.

[2020-01-16 15:18] ctaggart commented on #1126
Thanks for looking into it.

[2020-01-16 15:18] #1126 closed

[2020-01-16 21:47] carols10cents opened #1127 "Include directives don't like being within blockquotes"
I'm using mdbook v0.3.5.

Here's the markdown I tried to write:

[code]

And here's the HTML I get when doing `mdbook build`, note the multiple `<blockquote>`s (I'd expect only one opening and one closing):

[code]

And a screenshot of this:

<img width="780" alt="Screen Shot of unexpected rendered HTML" src="https://user-images.githubusercontent.com/193874/72565438-d7c16800-387f-11ea-933c-f0eecaa

[2020-01-18 19:05] mobop commented on #1121
@nikomatsakis

[2020-01-18 19:06] Dylan-DPC commented on #1121
@mobop please do not mention people (especially those who aren't maintainers of the project)

[2020-01-18 19:34] #1121 closed

[2020-01-23 08:31] huangjj27 opened #1129 "It there any plan for gitbook-like comment system?"
I'm going to rewrite my posts with markdown, and tend to use mdbook, but I want some comment system so that I could get response from my readers. It there any plan?

[2020-01-23 19:31] Frago9876543210 commented on #17
I ran into the same problem. The book is located on website/book and css and js are files broken. Also, I could not find a way to set the `path_to_root` property using mdbook crate to build book

[2020-01-25 08:22] segfaultsourcery commented on #1129
I can't give a definite answer to this, because I don't know, but I don't _think_ there will be one any time soon because books are static. It should still be possible to add a [third party comment section](https://medium.com/level-up-web/most-popular-3rd-party-comment-systems-for-your-website-9f4329a4c6bf), however.

[2020-01-25 08:33] huangjj27 commented on #1129
thanks! That would be good enough

[2020-01-25 08:33] #1129 closed

[2020-01-25 23:27] tglman commented on #760
hi All,
I just implemented a variable preprocessor, based on regular expression and without anything complex, here it is: https://gitlab.com/tglman/mdbook-variables, I'm commenting here to get some early feedback before publishing it, so far it just replace `{{variable_name}}` with a value configured in the book.toml.

Looking for some feedback.
Regards

[2020-01-30 11:19] tarvos21 opened #1132 "Sidebar is broken on Edge browser"
Sidebar is not working on Edge browser, table of contents do not show correctly. Any suggestions for modifying the JS/CSS/HTML? Thanks!

[2020-01-30 22:50] cfsamson opened #1134 "Code block using the "async" keyword causes compilation failure"
Using any code using the `async` keyword inside a runnable code block, or using `include` or `playpen` directives to pull in a file containing code which contains the `async` keyword, generates a compiler error even though the code compiles and runs as expected on the playground.

## Steps to reproduce

1. create a new directories and `mdbook init`
2. Paste in the following to `chapter_1.md`:

[co

[2020-01-30 23:11] steveklabnik commented on #1134
I believe this is because it's testing with rust 2015, not 2018?

[2020-01-30 23:59] cfsamson commented on #1134
You're right. Adding `edition2018` to the code block solved it. I assumed that 2018 edition would be the default, and the examples from the `async book` had the following error:

[code]
So I assumed it was not the edition that was wrong, but it seems the error messages for async blocks and async functions are a bit different, the latter giving a better hint. Thanks for clearing that up so quickly.

[2020-01-30 23:59] #1134 closed

[2020-02-03 09:07] fulara opened #1138 "[feature request] Expandable sections - Ability to tell that particular section should be hidden by defaut"
I think github has feature like this it looks something like this:

You write sth similar to this in your markdown:
[code]

That would render as:

### Your collapsable section
And then there should be a button that would show this 'Content...' text.

Otherwise the 'Content...' is hidden.

This is useful for attaching logs on the markdown for example

[2020-02-03 12:22] mgeier commented on #1138
I think you are talking about the HTML element `<details>`, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details

Example:

[code]

... is displayed as (since Github comments allow `<details>` elements):

<details>
<summary>Click me!</summary>

[code]

</details>

[2020-02-03 15:01] fulara commented on #1138
Wow - thanks.

I just confirmed that this works.
Closing.

[2020-02-03 15:01] #1138 closed

[2020-02-05 15:52] CT075 opened #1139 "Formatting in SUMMARY.md"
Is there support for specially-formatted text in the ToC generated by SUMMARY? I am attempting to use mdbook to generate lecture notes, and it would be great to be able to use mathjax (or at least sub/superscript) in the sidebar.

If not, where would be a good place to look to add this functionality myself (on a local fork)?

[2020-02-06 17:00] lo48576 opened #1141 "Custom section (header) ID"
It would be useful if the section IDs can be specified manually (such as `# About foo {#foo}`, supported by many processors including [zola](https://github.com/getzola/zola/issues/433)).

For example, it would be useful when:

* Some of section names are very long, but wants IDs to be short enough.
* Attempt to prevent future link breakage, which can be caused by sections renaming or mdbook algori

[2020-02-06 17:20] ehuss commented on #1141
I think such a change would be best made as an extension in [pulldown-cmark](https://github.com/raphlinus/pulldown-cmark), the markdown processor mdbook uses.  Perhaps ask over there if it would be considered?

I usually just add `a` tags like `<a id="example-fragment"></a>` just before the header, but is certainly not ideal.

[2020-02-07 06:40] tarvos21 opened #1142 "Expose more variables to the templates"
https://rust-lang.github.io/mdBook/format/theme/index-hbs.html

If I want to add `font-size` and `font-family` data to the `index.hbs`, how could I do?

How to expose more variables from the `book.toml` configuration file?

Thanks!

[2020-02-12 16:45] robbie-mac opened #1143 "Error"

[2020-02-12 16:45] #1143 closed

[2020-02-12 16:54] Dylan-DPC commented on #1143
I hope that's not your password 😅

[2020-02-12 21:45] robbie-mac commented on #1143
It was… not anymore. 😉

That’s the problem with rushing while multitasking… sometimes your cursor isn’t where you think it is, and when you hit enter its too late.

From: Dylan DPC <notifications@github.com>
Sent: February 12, 2020 8:54 AM
To: rust-lang/mdBook <mdBook@noreply.github.com>
Cc: Robert McNicol <temp@mcnicol.ca>; State change <state_change@noreply.github.com>
Subject: Re: [rust-lang/md

[2020-02-12 21:48] robbie-mac commented on #1143
Well, it isnt NOW. 😁

That's what I get for rushing and multitasking.

[2020-02-16 08:25] peaceshi opened #1146 "Let additional-js support CDN"
![image](https://user-images.githubusercontent.com/10380828/74601386-c9fa3f00-50d8-11ea-8ced-5a7fbc322cb2.png)

working fine but at console

![image](https://user-images.githubusercontent.com/10380828/74601285-789d8000-50d7-11ea-9a47-5c2817d525a8.png)

![image](https://user-images.githubusercontent.com/10380828/74601282-73d8cc00-50d7-11ea-8345-37a2e7ac80e7.png)

[2020-02-17 15:13] hedgar2017 opened #1147 "Short common frequent words produce no search result"
I have noticed that standalone words like *for*, *if*, *and*, *not*, *in* lead to empty result in the book search.
It is hard to find out whether there are some exclusions for common words or the search does not show results if there are too many.
It can be counter-intuitive in some cases, especially for small books.
For example, we had a problem while looking for the `for` word occurrences trying

[2020-02-18 15:20] EvanCarroll opened #1149 "Wide mode should support rel=next and rel=previous"
Currently this is supported when not in wide-mode, and broken when in wide mode. This makes it consistent.

[2020-02-21 20:06] davidjimenez75 commented on #708
Not working for me if src/Images (used for EPUB3 compatibility) or src/image is a symlink (Windows and Linux)

[2020-02-22 09:25] peaceshi opened #1151 "DOMException: button# is not a valid selector"
https://github.com/rust-lang/mdBook/blob/4039c72fd350e4d91eb49d1e3e9b22155e9debaf/src/theme/book.js#L287

just need remove #.

[2020-02-22 10:03] peaceshi opened #1152 "Load git_repository_url into a new tab"
https://github.com/rust-lang/mdBook/blob/4039c72fd350e4d91eb49d1e3e9b22155e9debaf/src/theme/index.hbs#L130

[code]

[2020-02-22 10:05] peaceshi commented on #1146
just editing index.hbs is enough. close.

[2020-02-22 10:05] #1146 closed

[2020-02-22 10:11] peaceshi commented on #1120
see https://github.com/weixsong/elasticlunr.js/issues/53
https://github.com/rust-lang/mdBook/issues/1081

[2020-02-25 23:44] jasonwilliams commented on #546
Help Needed!

https://github.com/rust-lang/mdBook/pull/1000 seems to be working pretty well from what i can see so far, I just need some feedback now. The PR allows the rust book to be read offline, new changes will still take affect.

You can just navigate to https://jason-williams.co.uk/book/ and try it out, then leave any feedback in the issue above.

[2020-03-01 20:39] shilangyu commented on #651
I am willing to help with this, can I get some pointers?

[2020-03-01 20:50] shilangyu commented on #495
So currently there is no way to minify the generated files with `mdbook`?

[2020-03-02 15:26] jpgoldberg opened #1154 "Allow alternatives to `book.toml` on the command-line"
For various reasons, I need a different .toml file depending on whether I am building for HTML or PDF (with mdbook-latex). It would be nice if I could specify which TOML file to use during `mdbook build`.

(I realize as I ask this that I can just create different directories, each with their own `book.toml` file pointing to the common source to get the behavior that I want. So perhaps this feature

[2020-03-02 21:06] TianyiShi2001 commented on #815
That's a feature I'd definitely love to see. Currently I'm using R's [Bookdown](https://bookdown.org/yihui/bookdown/) and [blogdown](https://bookdown.org/yihui/blogdown/) to author books and blogs. I wish there will be similar implementations of these packages in Rust.

I'm current learning Rust, and I hope I can contribute to this feature (probably in the summer when I have a good understanding o

[2020-03-03 08:41] FrankHB opened #1155 "Missing support of byte order mark"
Markdown files encoded in UTF8+BOM can be rendered incorrectly, as `#` in the first line is not handled.

[2020-03-03 09:01] FrankHB opened #1156 "Feature: suppress copying files by configuration"
I find no options to ignore specific files to be built. Similar problems for `watch`/`serve` commands were mentioned in #831, and the improvement of the `[build]` configuration was also suggested there. But I think this is still a different issue better to be tracked separately.

A workaround to this problem is to specify `src` to a subdirectory. This can work, but far from perfect. It is not plea

[2020-03-03 09:18] FrankHB commented on #1156
To be more specific, [Butbucket](https://bitbucket.org) serves the project wikis as Mercurial repositories, but the Markdown features are limited. So, I decide to rearrange the documents in some other forms (hopefully with HTML output). However, at least the original `.md` documents still work without any changes online. If `mdbook` does not copy files (like my local `.hg` directory) by default, I

[2020-03-03 09:32] FrankHB commented on #1156
Since the default behavior [may be expected](https://github.com/rust-lang/mdBook/issues/441), I wish the configuration opt-in. This should not break any existing usage.

[2020-03-04 10:06] mash-graz opened #1157 "images will not be copied to 'book' if symbolic links are utilized in src folder"
as we work on a multilingual project and #5 (=multilingual support) is still unsolved, i had to look for a workaround. that's why i worked with two independent trees, each containing: SUMMARY.md, config.tom, and a src folder, but tried to use **symbolic links** for the actual content, which we still maintain in an external repository.

this works for most of the content, but **images will not be c

[2020-03-05 05:19] xuejipeng opened #1158 "link to gitbook"
Can a project built with mdbook be published to gitbook?

[2020-03-05 10:47] tommilligan opened #1159 "Install v0.3.5 fails without `--locked`"
Very similar to #1124. Installing mdbook with `cargo install --vers '^0.3.5' mdbook` currently fails with:

[code]

This can be fixed by simply appending `--locked` to the install command.

Would you accept a PR documenting this option in the installation instructions? It's not something I was aware of until my CI failed last night.

[2020-03-05 14:20] ehuss commented on #1159
That would be great!

We should also probably drop `failure` for `anyhow` sometime soon.  I'll try to prioritize some time to look at working on a 0.4 with several breaking changes.

[2020-03-06 07:37] GogoAkira commented on #1042
Hello
Did you ever figure this one out, I just discovered mdBook today :) and so with it I found rust.
I don't know about the 'serve' command since it serves on the same port, but if you serve your books with nginx a path to index.html for all the books should do the trick, right?

[2020-03-06 08:51] GogoAkira commented on #1042
Hello
I'm also thinking about this, I have nginx installed locally on computer.
From the documentation/guide I served both books like the example below
`mdbook serve path/to/book -p 8000 -n 127.0.0.1 --websocket-hostname 192.168.1.100`
I used two different IP's but same port numbers, and also same IP different port numbers 8001 and 8002 but the port for incoming 3001 was already taken, it still wo

[2020-03-06 11:45] zdenek-crha opened #1160 "server: reload on vim swap file update"
I am using `vim` to edit files while `mdbook server is running`. Every time `vim` updates it swap file I get page reload.

Swap file updates are happening even without file save, about every 30 seconds if there was some activity in the file. Constant reloads in `mdbook serve` is quite annoying, especially when editing long page and each reload jumps to the top.

I think `mdbook watch` will have sa

[2020-03-07 01:36] ehuss commented on #1160
You can create a file named `.gitignore` with `*.swp` to make it ignore these files.

[2020-03-07 07:19] krisradio commented on #1139
Hey @CT075, as per the [docs on SUMMARY.md](https://phaiax.github.io/mdBook/format/summary.html), the formatting on that file is very strict and won't allow Mathjax out of the box. To make that work, you'd probably need to look at the [For Developers](https://rust-lang.github.io/mdBook/for_developers/index.html) documentation. I don't know if you'd need a whole new backend or just a custom pre-pro

[2020-03-07 07:25] krisradio commented on #1158
Going off the [GitBook structure](https://github.com/GitbookIO/gitbook/blob/master/docs/structure.md), files are stored in a manner very similar to mdbook. You should be able to [find GitBook files in your home directory](https://github.com/GitbookIO/help.gitbook.com/blob/master/editor/where-are-the-files-stored.md) by default.

However, mdBook and GitBook have completely different build schemes.

[2020-03-07 07:32] krisradio commented on #1142
Look at the stylesheets referenced in index.hbs. You can add font-size and font-family there.

        <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">

        ...

        {{#each additional_css}}
        <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
        {{/each}}

Not sure what you mean about book.toml. Those variables are basically just use

[2020-03-07 10:16] tarvos21 commented on #1142
thanks!

[2020-03-07 10:16] #1142 closed

[2020-03-09 14:56] tglman commented on #167
Hi All,

I did an implementation for this case (the PR is already pointing to this issue), I saw in this issue some concern about this support, that I'm willing to tackle :).

First:

The current implementation does not do any check, but I could definitely do checks that verify that a "link.md#anchor" is a child of the "link.md" in the Toc hierarchy if this make sense for everyone.

This make sens

[2020-03-10 02:43] seankala commented on #662
I know this is a bit old, but this was very helpful! I couldn't find out what was going wrong despite having a hunch it was the italics and subscripts colliding. Thanks!

[2020-03-10 10:50] zdenek-crha commented on #1160
@ehuss Thanks for tip. I do have `*.swp` in the globale `$HOME/.gitignore` file and therefore it did not occur to me that adding it into book directory `.gitignore` might help.

I'll try to see if I can do documentation update PR sometime this week.

[2020-03-12 03:50] xuejipeng commented on #1158
@krisradio I have posted to my github pages, thx.

[2020-03-12 03:50] #1158 closed

[2020-03-12 15:55] non-descriptive commented on #458
Is it okay to rewrite `::helpers::toc` in the way [Zola](https://github.com/getzola/zola/blob/master/components/rendering/src/table_of_contents.rs) do it?

[2020-03-13 12:53] azerupi commented on #458
I think that part of the code hasn't really fundamentally changed since the early beginning. It would definitely benefit from some refactoring.

The code from Zola is really clean, if we can get something close to that it would be a big improvement. If you want to tackle this, I would say go for it! :slightly_smiling_face:

[2020-03-14 20:40] dacut commented on #850
Related, from https://github.com/rust-lang/rust-by-example/issues/1294

[2020-03-15 14:32] steveklabnik commented on #1151
(Marking as T-panic because the dom threw an exception. not technically a panic but close enough!)

[2020-03-16 12:46] emilianonatella opened #1165 "Deploy mdbook help"
Hi everyone, I have problems with the Deploying of my book on GitHub Pages.
Could any of you explain to me step by step how to deploy in the simplest possible hands?

**First try**
*Deploying Book to GitHub Pages with travis.yml*.
I have tried with tokens and travis.yml but something is not working.

 1. Go to Travis-ci.com and Sign up with GitHub.
 2. Accept the Authorization of Travis CI. You’ll

[2020-03-16 13:18] ehuss commented on #1165
It looks like maybe you got stuck around step 5?  Travis has step-by-step instructions on adding an environment variable here: https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings.  It's probably easiest to use the Travis UI (the "Settings" page).  You should be able to enter the environment variable `GITHUB_TOKEN` with the token you copied from GitHub.

[2020-03-16 16:38] emilianonatella commented on #1165
Thank you for your answer, I managed to create the environment variable with the name **"$GITHUB_TOKEN"** or I didn't have to enter the character **"$"** because does it add it automatically?

I think I did it correctly, created on my computer and put commands:
[code]

I don't understand the next steps well.
Create the book?
`$ mdbook build`
And then? add, commit and push to the master branch the

[2020-03-16 16:50] ehuss commented on #1165
Yea, you don't need the `$`.  That is just a convention for representing an environment variable. In various environments (particularly shells like bourne shell or bash), the `$` indicates variable substitution ("place the contents of the variable here").

When you create a book (such as with `mdbook init`), it creates a file named `book.toml` which contains information about your book (the name,

[2020-03-17 07:28] dalance opened #1166 "Hide line in editable code block"
I want to hide a line in editable code block.

[code]

The rendering result of mdbook v0.3.5 is below:

![image](https://user-images.githubusercontent.com/4331004/76832168-284b4680-686c-11ea-951b-9ad008872b30.png)

The line in `rust` block is hidden, but the line in `rust,editable` is not.
Is this the expected result?

[2020-03-18 04:39] #1096 closed

[2020-03-19 14:23] JHBitencourt commented on #483
Currently this is not possible.
If i have this structure:

[code]

I'll get this error while running `mdbook build`:

[code]

I would like to have sections without links though..

`mdbook --version` = `mdbook v0.3.5`

[2020-03-19 14:25] JHBitencourt commented on #576
+1 for this feature. Running on `mdbook v0.3.5` this is still not possible.

[2020-03-19 19:27] ehuss commented on #1149
Fixed by #1150.

[2020-03-19 19:27] #1149 closed

[2020-03-19 20:24] DannyBen opened #1168 "Sidebar line height issues in 0.3.6"
Version 0.3.6 brought an undesired sidebar line height difference between the selected page and the rest of the links.

Screencast below.
![screencast](https://user-images.githubusercontent.com/2405099/77111635-58dbdd80-6a30-11ea-92b4-392840f4c479.gif)

[2020-03-19 21:07] ehuss commented on #1168
Thanks for the report!  @sergeypedan, #1137 seems to have broken sidebar spacing, can you take a look at a fix?

[2020-03-19 21:28] azerupi commented on #576
There is a PR open (#1153) that restores this behavior with the format of empty markdown links:
[code]
It is in review, just a little more patience :slightly_smiling_face:

[2020-03-21 13:31] JakubKoralewski opened #1172 "[feature] I'd like to specify the order of preprocessors"
I'm building a preprocessor, but it requires that I work on the markdown file that already has the links resolved, i.e. it should have the `{{ #playpen }}`, `{{ #include }}`, and `{{ #rustdoc_include }}` already resolved. I'd like to work on Markdown files that have those `include`d files in the Markdown.

Very simply it would be awesome if I could just do:
[code]

But since this creates a toml ta

[2020-03-21 14:02] JakubKoralewski commented on #1172
Ok, this is embarassing. I gave the wrong path for the file, that's why it wasn't included. It now behaves as expected. Sorry.

Anyway, I guess in theory, if there was a lot of custom preprocessors (since it seems like you hardcoded `links` to run before all the other custom preprocessors(?)) it would be a useful feature to have some day.

[2020-03-22 11:39] AndreKR commented on #378
The problem currently still exists on https://doc.rust-lang.org/stable/.

See for example https://doc.rust-lang.org/stable/rust-by-example/scope/lifetime.html.
![image](https://user-images.githubusercontent.com/1188538/77247981-5519a800-6c36-11ea-83ff-01ee6cd1c9b8.png)

The problem is that while the font itself (Source Code Pro Medium) does include the box drawing characters (U+2500-259F), the hos

[2020-03-24 15:33] yech1990 commented on #277
@Michael-F-Bryan That is useful for migrating from markdown blog into mdbook. Meanwhile metadata  for 'create date', 'last modify date' and 'keywords' can be preserved.

[2020-03-24 22:40] mcarton commented on #167
This would break compatibility with other tools such as GitBook and GitHub which both require the full path before the anchor.

[2020-03-24 23:53] ehuss commented on #25
I believe this is now implemented by #1027.

[2020-03-24 23:53] #25 closed

[2020-03-24 23:53] ehuss commented on #187
I believe this is now implemented by #1027.

[2020-03-24 23:53] #187 closed

[2020-03-26 12:22] zzy opened #1176 "How to run serve/watch command in WSL2 and trigger the browser refresh in windows?"
Hi,

I run the serve/watch command in WSL2 and open the web browser in windows.
When the book's directory for changes,  it couldn't  rebuild the book and refresh web browser  for each change.
I had used --websocket-hostname option, but it couldn't trigger the browser refresh in windows.

Thanks.

[2020-03-27 10:45] hysencn commented on #1081
it is a good tools. I love it.

We, more than 1 million peoples, have the same issue. could you help on it?
need chinese search support.

or, could we search chinese with google?
How to do it?

[2020-03-29 13:50] DannyBen opened #1177 "Add ability to disable the Print button and print.html"
In some cases, I would like to avoid providing an easy way for the reader to simply snatch the entire content as one comfortable PDF. I would love the option to disable the button and of course, the generation of the `print.html` page.

Since [the config documentation page](https://github.com/rust-lang/mdBook/blob/master/book-example/src/format/config.md) does not contain the word "print", I am gu

[2020-03-29 14:19] Dylan-DPC commented on #1177
Hi. Thanks for the issue. Are you willing to send a PR that makes this change? Thanks

[2020-03-29 16:04] ehuss commented on #1177
There is already a PR for this at #1169.

[2020-03-29 16:09] DannyBen commented on #1177
Thank you, didn't think about searching in PRs.

[2020-04-01 17:43] trosel opened #1178 "Any ideas on how to render footnotes as sidenotes like the tufte style?"
I'm not sure how to go about this, but I want to render markdown footnotes as sidenotes like in tufte style https://edwardtufte.github.io/tufte-css/

Just looking for ideas

[2020-04-02 06:08] Lokathor opened #1179 "The "website" field of the repo should link to the user guide"
At the top of the repo next to the description there's also space for a website link, which is currently blank.

It should link to the user guide.

[2020-04-03 03:06] XAMPPRocky opened #1180 "Revert #1135"
Hey, I upgraded my mdbook and my project stopped building when using `mdbook-0.3.6` because of https://github.com/rust-lang/mdBook/pull/1135. I'm fairly sure its behaviour is incorrect and should be reverted. For some context, in rust-lang teams and projects groups have a meta repository for team coordination (e.g. [rust-lang/lang-team](https://github.com/rust-lang/lang-team)). Some of us also sta

[2020-04-03 04:47] ehuss commented on #1180
Sorry, I'm a bit confused.  Is it just not working correctly, or is it giving an error message?  It might be helpful to provide a reproduction, and an explanation of what isn't behaving as expected.  From the given links, I see a template of a book with 4 chapters, and I don't see anything particularly wrong with it.

[2020-04-03 10:09] XAMPPRocky commented on #1180
@ehuss Sorry, I wrote this late and forgot to include the logs. The project now fails to build with `0.3.6` with `Destination directory cannot be contained in source directory`. https://github.com/rust-lang/project-group-template/runs/556822171#step:3:12

[2020-04-03 17:12] #1180 closed

[2020-04-03 19:45] #1151 closed

[2020-04-03 20:24] ehuss commented on #1168
@DannyBen Can you try 0.3.7 and let me know if it works OK for you now?

[2020-04-03 21:26] DannyBen commented on #1168
Confirmed. Works beautifully now. Thanks for the quick fix.

[2020-04-07 20:58] karlicoss opened #1183 "org-mode support?"
Was wondering, how hard would it be to, in theory, support different input formats, like [org-mode](https://en.wikipedia.org/wiki/Org-mode)?

I've got a [personal wiki](https://beepb00p.xyz/exobrain) in org-mode and I'm using mdbook + [some hacky scripts](https://github.com/karlicoss/exobrain-compiler/tree/master/src) to convert it into markdown and publish as mdbook.

While it kind of works, it's

[2020-04-10 01:44] Recmo commented on #651
Unfortunately there is no easy way to inject HTML into the default template, but this worked for me:

`book.toml`
[code]

`katex.py`
[code]

`katex-header.html`:
[code]

[2020-04-10 19:51] pavelrappo commented on #674
It would definitely help if someone could describe the relationship between _playground_ and _playpen_.  When reading mdBook documentation it's not clear what the difference is between `{{#playpen}}` and fenced runnable code blocks. Both these types seem to be compiled and executed the same way by the Rust Playground.

[2020-04-10 21:03] ehuss commented on #674
`playpen` is just an old name for `playground`, they are one in the same.

`{{#playpen file.rs}}` is identical to:

[code]
[code]

[2020-04-11 22:54] troyerta commented on #1016
I have a python script that does this very thing. But you need to adopt my file naming convention to test it out immediately. Then you would need to change the convention to whatever you need. Right now, it just generates title from the filename.

So garlic-cheese-foccia-bread.md gets printed to the summary with the title "Garlic Cheese Foccia Bread". Nice and simple.

I us it maintain a large coo

[2020-04-11 23:20] troyerta opened #1185 "Add toggle-able checkboxes"
Hi all,

I've run into a use case for mdBook which could very much benefit from checkboxes.

It's nice to mark off your place in a list, or sequence of steps on a page. Is it possible to add something like this with a placeholder marker in mdBook markdown?

Maybe something like {{checkbox}} ? Maybe there is a better suggestion to go with instead?

Please let me know what you all think!

Thanks!

[2020-04-12 00:25] ehuss commented on #1185
You can use GitHub-style [task lists](https://github.github.com/gfm/#task-list-items-extension-).

[code]

renders as:

- [x] foo
  - [ ] bar
  - [x] baz
- [ ] bim

[2020-04-12 20:55] troyerta commented on #1185
I did not know about this feature - but it seems that they do not produce toggle-able checkboxes.

I'll add "toggling" to the issue title to clarify.

Is there a way to do this? This is for a commonly used list of procedures.

[2020-04-13 14:49] bamhm182 opened #1186 "mbbook serve doesn't see changes if .gitignore isn't in main mdbook folder"
## What happens

1. After running `mdbook init && mdbook serve` and visiting `http://localhost:3000` in `Firefox 75.0`, I am able to visit the website as expected with the following output:

[code]
2. Upon executing `echo "Hello" >> src/chapter_1.md` in a second terminal, I get the following output as expected.
[code]
3. Stop the server
4. Move the files into a subfolder without also moving `.giti

[2020-04-13 15:39] andrewdavidmackenzie commented on #1024
Fixed mostly by #1026

I will submit another more focused issue on the topic of ignoring undesired files in the copy action.

[2020-04-13 15:39] #1024 closed

[2020-04-13 15:44] andrewdavidmackenzie opened #1187 "Use an optional .mdbookignore file to specify files to not copy to the output directory"
Current Behaviour
===
Currently almost all files in the source directory are copied to the output directory, often copying unneeded or undesired files, which maybe uploaded to gh-pages or otherwise "published"

Proposed Change
===
Allow an optional “.mdbookignore” file (like .gitignore) to allow specifying patterns of files to ignore and hence NOT get copied during the build.

Implementation
===
I

[2020-04-13 16:18] ehuss commented on #1187
I might prefer just making it a field in the config, like `exclude = ["src/foo/*"]`.

But a question is, why add files to the src directory, but don't want them as part of the book? Why not just put those files somewhere else?

[2020-04-13 18:20] andrewdavidmackenzie commented on #1187
On the why: It's due to the structure of my book.

My book has a lot of it's content in a docs subfolder, BUT, it also includes README.md and other markdown files from multiple other sub-folders (it's a workspace rust project with multiple crates) so the docs files are mixed in with the code tree structure.

With the fix to avoid the recursive directory copy you merged recently I can now have my b

[2020-04-13 19:33] tendant commented on #1183
@karlicoss Have you tried https://ox-hugo.scripter.co? It can convert org file to markdown. You might need to clean up exported markdown file to make it work with mdBook.

[2020-04-13 19:51] karlicoss commented on #1183
@tendant thanks for the link! Yep, have seen it, but haven't found it much different from the standard org-mode exporter into markdown (also requires a bit of cleanup).

[2020-04-14 11:09] bamhm182 opened #1190 "Option for page breaks while printing"
##  What is Happening

When printing, multiple chapters can print on one page. This makes it a little difficult to find the beginning of new chapters as in some cases, the chapter may start at the bottom of a page.

[no_breaks.pdf](https://github.com/rust-lang/mdBook/files/4474913/no_breaks.pdf)

## What is Expected

As in real printed books, when a book is printed, the start of a new chapter mean

[2020-04-14 16:55] bamhm182 commented on #1185
So the reason that you can't check them is because they're not able to be saved. If you're cool with that and you just need a few checkboxes that will reset every time you visit the page, you can do the following:

1. Add the following to `./book.toml`:
[code]
2. Put the following in `./js/enable-checkboxes.js`:
[code]

Your mdbook now has checkboxes enabled across the board.

I don't know whether

[2020-04-14 18:01] troyerta commented on #1185
@bamhm182 Thanks very much for the tip! This definitely works as I hoped! Though it looks like a newline is placed between the checkbox and it's associated text. Is there a way to keep the text on the same line? It's neat that this can be done locally on my book alone - without affecting the program behavior for everyone else!.

- [ ] Expected output

- [ ]
  Current output

[2020-04-14 19:26] pavelrappo commented on #674
I do like it as a metaphor, though. Kids go outside of their house to get to a  playground. Toddlers stay inside and play in a playpen.

`mdBook` sends the snippets for compilation and execution, receives the results, and shows them in-place. Whereas `rustdoc` opens a new tab with your code copied to the playground.

Hope that makes sense.

[2020-04-14 19:48] shepmaster commented on #674
My original idea when opening this issue is that anything public-facing in mdBook be updated to use the term "playground". This *probably* would have backwards-compatibility effects, so I'd expect that `playpen` in code would stay around as aliases to the newly-renamed thing. Thus `#playpen` and `#playground` would do the same, but in all the docs it would only say "playground".

It's a low-priori

[2020-04-14 20:34] pavelrappo commented on #674
Right. Being consistent and expanding vocabulary only if absolutely necessary are good goals. Rustdoc seems to be using the word "playground", so one more reason for mdBook to use that instead of "playpen".

[2020-04-15 00:26] bamhm182 commented on #1185
Yeah, mdbook is fantastic. I just found out about it earlier this week and it has me wanting to learn Rust so I can contribute, haha. That's super weird that it is doing that for you... I can't get it to act like that on mine... I even copy-pasted exactly what I told you to add. I feel like perhaps your .md file is messed up. If you can't get it figured out, would it be possible to copy-paste your

[2020-04-15 05:52] Ramshandilya opened #1191 "Netlify Support"
Hi there,

I'm looking to publish my wiki build with mdbook on Netlify. I believe Netlify currently [doesn't support Rust](https://github.com/netlify/build-image/pull/320) in its build images.
I tweeted about this and [@rustlang suggested](https://twitter.com/rustlang/status/1250217411405627394?s=20) we open an issue and take it from there. So here we are :)

[2020-04-15 13:45] jamesmunns commented on #1191
Hey! I've used netlify to publish with mdbook before. You can use the binary releases that mdbook has, and set that in your deploy settings. Under `Build & Deploy` > `Continuous Deployment` > `Build Settings` > `Build command`, I use the following command:

[code]

Then I set the `publish directory` to `book` (or whatever your mdbook is configured to).

[2020-04-15 16:15] troyerta commented on #1185
Thanks for taking a look - I can just link you to the hosted source and result of the simplest method that produces the strange result.

It's a recipe book on github pages.. just for context

[Source](https://github.com/troyerta/recipes/blob/master/src/recipes/01-Appetizers/baked-brie-and-prosciutto-rolls.md)

[Result](https://troyerta.github.io/recipes/recipes/01-Appetizers/baked-brie-and-prosciu

[2020-04-15 16:41] steveklabnik commented on #1191
hey @Ramshandilya , thanks for actually doing this!

I was gonna suggest exactly what @jamesmunns was going to! Can you give it a try and let us know if it works for you?

[2020-04-15 16:52] Ramshandilya commented on #1191
Hi @steveklabnik
Just tried @jamesmunns 's suggestion and it worked. Thank you so much!  :)

[2020-04-15 16:52] #1191 closed

[2020-04-15 21:20] bamhm182 commented on #1185
I figured it out. It doesn't like the spaces between the items. I have no idea why...

This works:
[code]
This works:
[code]
This does not:
[code]

The first option should return the exact same result, but with the checkboxes inline. What is weird though is that mdbook outputs both a bullet and a checkbox, vs just the checkbox as is displayed in most other markdown interpreters.

[2020-04-16 00:45] troyerta commented on #1185
Thanks for figuring that out! I agree, this task list feature does not seem to work as expected, especially given the inline bullet point. I ran another test to try and narrow down the issue.

See the tested markdown source file in tests/dummy/book/src/first/markdown.md:
[code]

And the corresponding test case in rendered_output.rs:503:
[code]

It seems to be *expecting* a newline before each chec

[2020-04-16 06:55] englishm opened #1192 "Broaden scope of suppressed warnings for listings without a main function?"
At present, code listings without a `main` function will be wrapped in one and annotated with an `allow` lint check attribute provided by the following code:

https://github.com/rust-lang/mdBook/blob/769cc0a7c14fe133fc5eb223f435473730d0086e/src/renderer/html_handlebars/hbs_renderer.rs#L636

Should this lint check attribute be broadened in scope to suppress warnings for things like `dead_code` as w

[2020-04-17 08:04] chmp commented on #833
Not the original author, but I observed the same behavior. Specifically it seems that mdbooks copies the `.git` directory when `src = "."`. Deleting the copied `.git` in the build folder allows to rebuild. However, then again the .git folder is re-created in the build folder has to be manually deleted.

This issues seems to only occur after the first commit. On a freshly initialized repo without a

[2020-04-17 08:23] chmp commented on #833
Okay it seems the issue pops up in `src/renderer/html_handlebars/hbs_renderer.rs`:

[code]
I'm happy to contribute a fix for this issue. However, I guess there are mutliple ways to go about it:

1. Hardcode the exlusion of `.git` directories
2. Implementing a general exclusion mechanism ala #1187 and letting it default to `[".git"]`

Any preference how to fix this issue?

[2020-04-17 17:07] r3k2 opened #1193 "^^^^^ expected one of 8 possible token"
what is this? and why I am getting a rust error on my text not even a markdown part..
[code]

Thanks

[2020-04-17 18:47] Hitaro commented on #921
where the rtl.css should be located? Does _mdbook_ have any support for custom css files, something like this:

![Untitled](https://user-images.githubusercontent.com/18015032/79603349-7076b680-8101-11ea-8ffe-04dc1202bd5a.png)

[2020-04-17 18:50] ehuss commented on #1193
It is difficult to say without seeing the original text.  A likely cause is that indented text is considered a "code block" and code blocks default to the Rust language.

[2020-04-17 18:53] Hitaro opened #1194 "i18n"
May you please add support for internationalization? I mean something like [this](https://github.com/google/docsy/tree/master/i18n), possibility to switch to other languages via config file.

[2020-04-18 15:33] ehuss commented on #1192
Closed by #1195.

[2020-04-18 15:33] #1192 closed

[2020-04-19 00:36] mobop opened #1196 "menu sliding behaviour on mobile devices"
on mobile when i tap on the menu icon, the menu comes up and the page slides to right. but after that if i zoom out i can see the whole page.

i expect a behavior like gitbook.

implement gitbook like menu open behaviour.

Or is this is a design choice

[2020-04-20 02:13] r3k2 commented on #1193
@ehuss must be that... maybe.. you saying that if I use markdown like
[code]
will default to rust?

[2020-04-20 02:32] ehuss commented on #1193
Generally, yes.  There are some issues for providing a way to turn it off, such as https://github.com/rust-lang/rust/issues/59867 and https://github.com/rust-lang/rust/issues/64162.

[2020-04-21 02:04] Nashenas88 opened #1198 "Urls with ids end up with target out of view"
An example of this can be seen here: https://rustc-dev-guide.rust-lang.org/appendix/glossary.html#nll

Regardless of whether you're in desktop or mobile, the nll item it just out of view. This seems to be related to how the sticky header is implemented.

[2020-04-21 02:05] Nashenas88 commented on #1198
I've got a prototype in place at https://jsfiddle.net/q7pbjdxc/12/ that might also fix #1102.

[2020-04-21 08:00] mgeier commented on #1198
You could also try `scroll-margin-top: var(--header-height);` on the target element.

https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top

Does need a special case for Safari though, and doesn't work on Internet Explorer (who cares!):
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top#Browser_compatibility

[2020-04-21 20:05] ehuss commented on #232
gitignore support has been added in #1044.  I think that mostly covers the spirit of this issue, so if there are additional changes or enhancements desired (such as better defaults, or better git integration, or whatever), feel free to open a new issue.

[2020-04-21 20:05] #232 closed

[2020-04-21 22:58] ehuss commented on #1067
I think this should be more-or-less fixed with #1052 and #1161.

[2020-04-21 22:58] #1067 closed

[2020-04-21 22:59] vadixidav commented on #400
Does anyone happen to be working on this right now? If not, the Rust ML WG is interested in picking this task up.

[2020-04-21 23:10] ehuss commented on #1098
I would kinda prefer not to support colons in the path (and not deal with absolute Windows paths, or deal with an escaping system), but fixing other characters like `+` sounds good.

[2020-04-21 23:17] ehuss commented on #1094
Returning an error seems reasonable to me.

[2020-04-21 23:18] ehuss commented on #1120
Closing as duplicate of #1081.

[2020-04-21 23:18] #1120 closed

[2020-04-22 00:05] ehuss commented on #400
@vadixidav I doubt anyone is looking at it. Feel free to take a look, though I'm not up to speed with what the problems are (I think maybe mathjax needs to be a preprocessor?).

[2020-04-22 00:06] efx commented on #400
I am not @vadixidav.

[2020-04-22 00:07] ehuss commented on #1166
I believe there's no choice but to show the hidden lines.  The editor needs to contain the full content (ACE doesn't have "hidden line" support, which I'm not even sure what that would mean.)

[2020-04-22 00:07] #1166 closed

[2020-04-22 00:12] ehuss commented on #1193
Closing since this is an upstream rustdoc issue.

[2020-04-22 00:12] #1193 closed

[2020-04-22 00:14] ehuss commented on #1194
Multilingual support is a pretty big project.  There is quite a bit of discussion over at #5, so closing as a duplicate of that.

[2020-04-22 00:14] #1194 closed

[2020-04-22 01:30] dalance commented on #1166
I understand it.
Thanks!

[2020-04-22 02:00] jeanm commented on #400
I'm not working on this, but I'll leave two pointers here which are hopefully useful to people who are:
* [A summary of LaTeX equation syntax support in Markdown](https://github.com/cben/mathdown/wiki/math-in-markdown#appendix-summary-table) showing that the `$ ... $` / `$$ ... $$` syntax is currently the most widespread.
* For the rendering side of things, I'd also suggest looking at [KaTeX](http

[2020-04-22 07:16] bytesnake commented on #400
Hey, I created recently a small plugin to write scientific `mdbook`. This adds support for `latex`, `gnuplot`, and `bibtex` rendering. Equations are rendered to SVG without KaTeX or MathJax, but I'm planing to support them later on. I also added support for referencing/citations across the book. A sample can be found [here](https://bytesnake.github.io/mdbook_example/) and the github repository [he

[2020-04-22 10:54] Hitaro commented on #1194
Oh no! this is not about _multilingual feature_. Here I'm asking for i18n, that means posibility to translate default words such as "next, previous, etc".

[2020-04-24 17:57] ivilata commented on #847
I know this is very spartan and not a solution but it may help work around the issue for simple books:

[code]

[2020-04-24 20:01] hiddenhare opened #1200 "Scroll position lost when testing locally on Firefox"
Using the `mdbook` crate, version `0.3.7`, on Windows 10. There appears to be a scrolling bug on Firefox 75.0. To reproduce:

- Visit the book on the local filesystem using `file://`.

- From within the book, scroll partway down a page and then click a link to an external URL.

- Use the browser's "back" button to return to the page. The scrolling position will have reset to the top of the page.

[2020-04-25 15:52] simonrepp commented on #847
Looking through the PRs I'd say @aral and @pheki did a thorough job of adressing all concerns brought up so far (great work :+1: very thankful!).

I've recently adopted mdBook for a project and I was rather astonished to learn today that google fonts API calls were put into mdBook **at all**, I'd really have thought this would be an obvious no-go, but apparently that is not so. In any case I would

[2020-04-26 10:41] rgarrigue opened #1202 "Github Actions CI example for the doc"
Hi there

I played with mdbook and came up with https://github.com/rgarrigue/songbook/. It includes a Github Action pipeline "tag => build => publish epub as a release". Would you be interested in a PR to add this to the doc ?

Best regards,

[2020-04-28 16:04] xoac commented on #708
I have the same problem with local file. For example in `src/chapter/file.md` I have
[code]
path for `my image.jpg` is under `src/chapter/my image.jpg` I have also tried `chapter/my image.jpg` to make it work without success.

It works fine when I use http as link to image
mdbook version = v0.3.7

[2020-04-28 16:43] flajann2 opened #1203 "Org Mode Support"
Would you be open to pull requests for support for Org Mode? Just curious. Not making any commitment just yet.

[2020-04-28 17:12] briantliao opened #1204 "Typing s opens search"
When you type s, it opens search. Is there a way to disable this?

[2020-04-28 17:50] Dylan-DPC commented on #1203
@flajann2 sure go ahead

[2020-04-28 17:55] ehuss commented on #1203
I'm not sure what Org Mode would entail.  Isn't it a different format from markdown?  I don't think we'd want to add additional input formats at this time.  Perhaps try implementing an (external) preprocessor first?

Also, this issue is a duplicate of #1183.

[2020-04-28 18:20] ehuss commented on #708
@xoac I think if you have a spec in the filename you must use something like `%20`.  I believe the markdown spec does not allow spaces.

[2020-04-28 21:01] xoac commented on #708
Thanks. You were right. It was problem with whitespaces.

[2020-04-29 20:21] heyakyra commented on #815
This is a duplicate of #88 (Support ebooks and pdf export)

[2020-05-03 18:46] uint commented on #854
Funnily, code blocks marked `rs` don't get tested.

It looks to me like what happens is this: the book source is run through the links preprocessor, the processed files get dumped in a temporary folder with the same directory structure as the source and then run through `rustdoc --test`.

[Here's the relevant code for anyone interested.
](https://github.com/rust-lang/mdBook/blob/master/src/book/mo

[2020-05-03 19:27] ehuss commented on #854
I think it would probably be better to add an option to rustdoc to set the default language (https://github.com/rust-lang/rust/issues/59867).  Trying to rewrite the markdown would be tricky (would need to parse and transform the original text, and indented code blocks do not have a way to set the language).

I would also prefer to not add language aliases. That could get tricky with highlight.js.

[2020-05-04 05:55] Michael-F-Bryan commented on #1183
@karlicoss. instead of using your own build scripts or other hackiness, have you looked into making your own [preprocessor](https://rust-lang.github.io/mdBook/for_developers/preprocessors.html)?

What you'd need to do is create some script which:

1. reads a blob of JSON from stdin
2. scans through the book to find any chapters who's [`name`](https://docs.rs/mdbook/0.3.7/mdbook/book/struct.Chapter

[2020-05-04 06:18] Michael-F-Bryan opened #1209 "HTML renderer doesn't handle windows symlinks"
In one of my books, I'd like to distribute a copy of a PDF. To make sure the document in my book doesn't get out of sync with the original I'm using a symlink.

I'm on a windows computer, so I created the symlink with the following:

[code]

My directory structure looks something like this:

- `docs/`
  - `book.toml`
  - `src/`
    - `SUMMARY.md`
    - `overview.md`
    - `some-document.pdf` -> `.

[2020-05-04 06:24] karlicoss commented on #1183
@Michael-F-Bryan oh, that looks very neat, I'll check this out! And big thanks for the mentoring offer -- I'll let you know if I have any issues and will send you the final version when I prototype something.

[2020-05-04 13:39] Progdrasil commented on #771
Is there any news on this? seems like the branch has been stale for 2 years

[2020-05-04 13:59] ehuss commented on #1209
It doesn't look like this is specific to Windows, is it?  Symbolic links don't seem to work on unix, either. I think it might be something as simple as:

[code]

I think this was also reported at #1157.

[2020-05-07 08:28] fulara opened #1212 "[request] Authentication feature"
Would it be possible to add an authentication feature?
Reasoning:
Within company we have separation to different departments,
Currently our hosted mdbook page is open to everyone, which ideally wouldnt be the case.
It would be nice if there would be an option to enable authentication ( that has sso feature ideally ) and then selective select which users can access the book or not.

Is something li

[2020-05-07 12:15] SirTates opened #1213 "SUMMARY linking to heading creates file instead of what I would expect"
In markdown I can typically link to a header in another markdown file through the following syntax:

[code]

However (in the `SUMMARY.md` file only) mdbook creates a new file as opposed to creating a link to the page and overrides the last instance of the address markdownFile.html with the contents of that file.

I would expect it to be interpreted as a link to `markdownFile.html#heading-name`, li

[2020-05-07 16:32] ehuss commented on #1213
Thanks, this looks like the same as #167, so closing as a duplicate.

[2020-05-07 16:32] #1213 closed

[2020-05-09 05:35] netlander commented on #5
Any traction on this feature?

[2020-05-09 05:41] netlander commented on #921
Interested in RTL feature, anyone found a good solution?

[2020-05-09 08:36] Hitaro commented on #921
@netlander
- Add `additional-css= ["theme/rtl.css"]` to the _book.toml_
- Create a theme folder inside the root of your book project
- add some css rules into `theme/rtl.css`, for example:

[code]

Please your css classes here, if you found something.

[2020-05-10 02:26] futurist commented on #1081
For Chinese like languages, maybe it's not suitable for local search, instead could using some service like [algolia](https://github.com/algolia/docsearch), which also being used in [vuepress](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/theme-default/components/AlgoliaSearchBox.vue)

[2020-05-10 08:15] stappersg commented on #847
Pull Request  #848 _Serve fonts locally_  and #1188 _ Remove google fonts by serving them locally_  were already mentioned.  Now adding PR #1189 _Self-host fonts, add option to not copy to directory_ to this issue. I hope it helps to get it solved.

[2020-05-10 16:15] ehuss commented on #1212
Since mdBook is a static site generator, I don't think it will have built-in support for authentication. That usually requires some interaction with the server.  You may be able to configure your web server to provide authentication, or use a proxy which provides an authentication wall.

[2020-05-10 16:15] #1212 closed

[2020-05-11 14:42] slamonega opened #1216 "Import from Gitbook"
It is possible to import a Gitbook to mdBook?

[2020-05-11 19:22] rubenmoor opened #1217 "git build on nixos failed, could not compile `percent-encoding`"
on NixOS

    $> cargo --version
    cargo 1.32.0

    $> cargo install --git https://github.com/rust-lang/mdBook.git mdbook

       Compiling percent-encoding v2.1.0
    error: local variables in const fn are unstable
      --> /home/ruben/.cargo/registry/src/github.com-1ecc6299db9ec823/percent-encoding-2.1.0/lib.rs:72:13
       |
    72 |         let chunk = self.mask[byte as usize / BITS_PER_CH

[2020-05-11 19:38] ehuss commented on #1217
The minimum Rust version is 1.35.

[2020-05-11 21:01] rubenmoor commented on #1217
Making my first steps with `rust` on NixOS. This is one way to get it to work, including `mdbook`.

    # code/rust-mdbook/shell.nix
    # any stable channel should work, too
    with import <nixos-unstable> {};
    stdenv.mkDerivation {
        name = "my-rust-env";
        buildInputs = [
             pkgs.cargo
             pkgs.gcc
         ];
    }

And then in `code/rust-mdbook/`:

    nix-s

[2020-05-11 21:01] #1217 closed

[2020-05-11 21:05] rubenmoor commented on #1217
Realizing now that `rust-lang/mdbook` under the name `mdbook` is a perfectly up-to-date package within the nixos package universe.

[2020-05-12 18:40] ericonr opened #1218 "Sidebar doesn't add a space character when item is split in two lines"
Hey there! We are using mdBook for the documentation for Void Linux, here: https://docs.voidlinux.org/.

If you look at the sidebar, under graphics drivers, there's a "NVIDIAOptimus" item. This item is specified in `SUMMARY.md` as:

[code]

It is split in two lines due to our linting, where lines are constrained to 80 columns. The original source can be found in https://raw.githubusercontent.com/v

[2020-05-13 07:43] FabienTregan opened #1219 "Add a white glow or background on the favicon."
Hi,

The mdBook favicon is black and transparent. On dark browser themes, it is not easy to see. Since rust book uses it and the rust documentation and github also have this particularity, it's hard to find the tab among the other ones.

Not really important, but if it is cheap to fix that would help :)

My tabs right now:
![image](https://user-images.githubusercontent.com/2663407/81784921-e4885c8