[2017-05-17 21:11] steveklabnik commented on #281
Interesting; I thought I copied rustdoc's behavior here exactly.

[2017-05-17 21:16] dtolnay commented on #245
We would find this useful in the Rust cookbook: https://github.com/brson/rust-cookbook/issues/111. We have a lot of links that are repeated on many pages and we would like to factor those into a markdown file that gets included (explicitly or implicitly) in every page.

[2017-05-18 00:41] tjis commented on #271
Alright. The problem is as follows.
Debian packages aren't supposed to make network connections without the user's consent. Also, packages aren't supposed to contain embedded resources that could be provided by other packages instead. Therefore, both the CDN and the fallback are problematic for Debian.
We are running into this issue while packaging rust, which uses mdBook to build the various rust

[2017-05-18 07:29] #282 closed

[2017-05-18 07:36] #281 closed

[2017-05-18 07:41] azerupi commented on #271
Ooh I see now, thank you for the explanation!
I would totally be ok with adding an option to allow this. I am not sure if this is common enough to put a key in the config file, but controlling this with environment variables seems like a good plan to begin with. :)

[2017-05-18 07:53] azerupi commented on #280
I checked and unless it has a different behaviour on your desktop, it is the desired behaviour.  They do indeed take the whole vertical space outside of the content but that is on purpose because it is easier to click. If you look at Gitbook, it does exactly the same thing.

I'm not sure I would consider this a bug, but if a lot of people  feel the same way as you, I can definitely reconsider.

[2017-05-18 08:28] azerupi commented on #275
Perfect, so I will take a look at the TOML configuration and see what needs to be done before we can push it as a replacement for the JSON config.

[2017-05-18 08:34] azerupi opened #285 "Push the TOML configuration as default"
As part of #275 we would like to push the TOML configuration as the default and deprecate the JSON config. We are not going to remove the JSON config just yet, but we are going to show a deprecation warning.

Here are some the things that need to happen:

- [x] Parity between the JSON config and TOML config
- [x] Move and rename `dest`, `src` and `theme_path` to
[code]
- [x] Add a key for an addit

[2017-05-18 14:40] cogwheel commented on #280
It makes sense for a touch interface; i could see this being handy on a tablet or e-reader where it's the only thing on a screen, but it definitely violates expectations of a desktop UI.

[2017-05-18 21:51] azerupi opened #286 "Move from try! to the questionmark"
A lot of code that hasn't changed in a while is still using `try!` but it often hurts readability. I would like to move away from `try!` and use the new question mark operator.

[rustfmt seems to have an option for that](https://github.com/rust-lang-nursery/rustfmt/blob/master/Configurations.md#use_try_shorthand), so I suppose this is just a matter of adding the option, running rustfmt on the code

[2017-05-19 04:42] budziq commented on #286
I would like to work on that :)

[2017-05-19 05:09] budziq commented on #286
Wow rustfmt with mdbook's rustfmt.toml (and `use_try_shorthand = true`
) makes **a lot** of additional changes https://github.com/budziq/mdBook/commit/1cc19e4b3eedd8a10895908a0a998bd5e0589a84.
Should I limit the changes to only to `try!` related or is a full PR ok?

@azerupi

[2017-05-19 06:52] azerupi commented on #286
It has been a long time since I have run rustfmt on the code, so that should be expected. A full PR is ok,  I can manage that :wink:

[2017-05-19 11:43] #286 closed

[2017-05-19 17:39] steveklabnik opened #290 "release process stuff"
@azerupi ; I just cut 0.0.22 for @dtolnay and the cookbook; they had several fixes they wanted to get out. That's when I noticed you had it as 0.0.22-pre; now that it's not just you that can do releases, we should talk about stuff like

* how version should be in cargo.toml
* do we push tags, and if so, what format

etc

/cc @frewsxcv

[2017-05-19 19:09] azerupi commented on #290
Yes, so actually for the last couple of releases I have been using cargo-release because it allows to quickly release a new version and not forget any of the steps. It's cargo-release that put the version number to 0.0.22-pre after the release.

I do want to push tags when releasing because it allows to quickly find the point in the git history where a specific release was done. First I tagged the

[2017-05-19 19:45] steveklabnik commented on #290
Ah neat! I am okay with whatever, personally.

[2017-05-20 14:41] budziq opened #292 "stylus instructions in CONTRIBUTING.md are not fool proof"
Hi, I was trying to correct https://github.com/azerupi/mdBook/pull/289

While the stylus itself and required changes seam pretty straightforward, the real problem was for actually making `cargo build --features=regenerate-css` work without crashing.

suggested `npm install` in mdbook dir results in:
[code]
cargo build --features=regenerate-css results in relatively cryptic
[code]

Installing `styl

[2017-05-20 15:34] budziq commented on #261
Should it not be closed due to https://github.com/azerupi/mdBook/issues/289?

[2017-05-20 15:37] azerupi commented on #261
Yes, it should :)

[2017-05-20 15:37] #261 closed

[2017-05-20 17:38] azerupi commented on #292
Oh right, this is my fault. :disappointed:
I didn't go through the procedure again while writing the guide and I made a mistake.
You are right, stylus and nib need to be installed with `(sudo) npm install -g stylus nib`.

[2017-05-20 17:42] azerupi commented on #292
I pushed a fix to the contribution guide, hopefully it is correct this time :wink:
Thank you for letting me now.

[2017-05-21 10:32] budziq opened #293 "unfriendly build.rs errors for stylus"
Hi,

As mentioned on #292
the build.rs output when of node / npm / nib / stylus is missing are pretty cryptic.

Would you be interested in a PR to make it more friendly?

Moreover, I guess that pulling error-chain as a dependency is out of the question?

[2017-05-21 12:59] azerupi commented on #293
Of course! I will never say no to a PR that improves error messages. :+1:

It is not, I have actually considered using it for some time but never had the time to take a closer look at it. I've heard many people praise its usefulness and simplicity so I am willing to try it out. If you want to pull it in as a dependency I am fine with it.

[2017-05-22 14:22] budziq opened #294 "generating css from stylus fails on Windows"
Hi,

I wanted to test my code fixing https://github.com/azerupi/mdBook/issues/293
And when testing the solution on Windows I have noticed that
`cargo build --features=regenerate-css` will always fail (with or without my changes).
It looks like Rust `Command` PATH finding is is broken https://github.com/rust-lang/rust/issues/37519 or at least works differently than expected.

Namely stylus is repre

[2017-05-22 14:42] azerupi commented on #294
Thank you for the report.
As I have no Windows machine, support for it is sometimes lagging a little behind. I rely very strongly on AppVeyor, and contributions from Windows users for that part.

Indeed, we could add the build script to the CI to assure it always works.

[2017-05-22 16:20] #294 closed

[2017-05-22 16:24] azerupi commented on #292
This issue can be closed now, thanks @budziq

[2017-05-22 16:24] #292 closed

[2017-05-22 16:25] #293 closed

[2017-05-23 11:28] budziq commented on #269
The problem still persists with latest released highlight.js (9.11.0) so I've opened an issue  https://github.com/isagalaev/highlight.js/issues/1527

[2017-05-23 20:42] budziq commented on #269
Problem is already fixed on highlight.js side.
We will just need to wait for next release or build from their master.

Thanks a lot @isagalaev!

[2017-05-23 22:05] azerupi commented on #269
Wonderful!
I propose we wait for the next release, unless this is a big issue for someone?

[2017-05-24 04:32] isagalaev commented on #269
Our next release is next Tuesday guys :-)

[2017-05-24 17:10] crazymerlyn commented on #249
This seems to have been fixed.

[2017-05-26 23:00] dtolnay opened #299 "Print the Serving message as a link"
[code]

If instead you print "Serving on http://localhost:3000", most terminals will print it as a clickable link. :wink:

[2017-05-27 09:37] azerupi commented on #299
Nice, I didn't know that :)

[2017-05-27 09:42] budziq commented on #299
Hi I've made a PR for it but I guess that `-o` option would be desirable for this usecase

[2017-05-27 09:54] #299 closed

[2017-05-27 10:10] budziq opened #301 "Single page support"
Hi,

It would be great to have support for single page rendering and serving.
For instance if I'd like to prepare a nice CONTRIBUTING.md or README.md for my project locally.

From the user perspective all the mdbook commands would work identically as if the [dir] were given but the target path would be a single Markdown file.

I do not know yet how much work would it take (most likely mdbook is qu

[2017-05-27 11:03] azerupi commented on #301
I have heard this desire from at least one other person and even though I have personally no use for it at the moment, it would certainly be a nice addition.

But before you dive in, I think it would be interesting to first think about what is needed and how it would look like. Write down a very informal idea with some requirements and expectations. With that we will have a better view of **how**

[2017-05-27 13:02] budziq commented on #301
Definitely will do! I'll write something constructive later today when I'm not on mobile 😃

[2017-05-27 20:01] marti1125 commented on #274
@azerupi could you give some instructions how I can get started ? please

[2017-05-27 21:21] budziq commented on #301
### 1. My original idea
`mdbook serve [FLAGS] [OPTIONS] [dir`**`|file]`**

Allow user to specify optional **[file]** instead of [dir] for `serve` and `build` subcommands (not sure about `test` yet). **[file]** and [dir] would be mutually exclusive.
- generate a single rendered page from specified file (and serve it)
- without sidebar
- config would not be mandatory (load defaults) but used if alre

[2017-05-27 21:24] budziq commented on #301
And don't wory about timing of your responses, there is no real urgency except or lack of something fun to tinker on :smile:. I really appreciate your help.

[2017-05-28 10:46] azerupi commented on #301
Very nice write up, thanks!

Point 1. and 2. sound good, nothing to say about that :)

I don't think an init phase is necessary for files. If the file does not exists, we error and exit.

I think that, in the long run, it would be better to provide more elementary methods like *'create config'*, *'create summary'*, ... And then actually implementing the init procedure in the CLI

I would use an em

[2017-05-28 15:18] budziq commented on #301
Thanks for your time. I'll try to carve out some free time to work on it this week and send some minimal PR's for review :)

[2017-05-29 12:14] azerupi commented on #274
I have never done any touch development myself, but I would look into JavaScript librairies like  [JQuery Mobile](https://jquerymobile.com/) or [Hammerjs](http://hammerjs.github.io/).

Particularily, [this demo](http://demos.jquerymobile.com/1.3.2/examples/panels/panel-swipe-open.html) might be of interest. :)

[2017-05-30 23:28] budziq opened #302 "Copy to Clipboard support for rust playpens"
Hi,

Sorry for jumping around topics but I have one more major pain-point. Namely it would be great to have support for copying rust snippets to clipboard (possibly other pre code to).

There is some interest in such feature in rust-cookbook https://github.com/brson/rust-cookbook/issues/171 and  I have backported my awful hackjob implementing such feature as I feel that it would an interesting fea

[2017-05-31 10:25] budziq commented on #269
@azerupi highlight.js has released a new version with fix for this issue. I would be glad to integrate it but it looks like mdbook has a very wide language support. I f you tell me which languages you wish to support I will gladly make the change.

Also the at /atelier-dune-light.css has a changed background color for light theme (or mdbook has historically made a change there) which makes it imho

[2017-05-31 10:43] azerupi commented on #269
Hah, I don't remember exactly which languages I choose. Maybe all of them? 😄

Yes, I have made a few changes to the style to make it fit better (my subjective opinion). Can the ones that make sense be applied to the updated version? :)

[2017-05-31 10:52] budziq commented on #269
At this moment the highlight.js looks like it supports large subset of available languages (including some less popular ones like "verilog" :) ) making it quite huge (>200KB). Maybe we could select a minimal list like:

**The the whole "common" section:**
Apache  Bash  C#  C++  CSS  CoffeeScript  Diff  HTML, XML  HTTP  Ini  JSON  Java  JavaScript  Makefile  Markdown  Nginx  Objective-C  PHP  Perl

[2017-05-31 12:15] azerupi commented on #269
Yes, we can do that. I would take at least:

- All the commons
- Rust
- Scala
- Swift
- Go
- Haskel
- Assembly
- Yaml (requested by a user)

Maybe
- D
- Handlebars (because mdBook uses it)

I am actually surprised to not find TOML in the languages. I thought there was support for it, but I guess I was wrong. :)

[2017-05-31 14:10] budziq commented on #269
@azerupi damn I forgot to add "fixes" to my PR. could you close this issue?

[2017-05-31 14:22] #269 closed

[2017-05-31 20:21] isagalaev commented on #269
It's supported as "ini" (and "toml" is recognized as its alias). It's a part of :common, so you should be fine.

[2017-05-31 20:24] azerupi commented on #269
Aah nice, thanks for the clarification!

[2017-05-31 21:19] budziq commented on #302
this issue can be closed. again I've forgotten to add "fixes"

[2017-05-31 21:22] #302 closed

[2017-06-01 00:01] projektir commented on #247
I've been poking at trying to add Ace to playpens for a bit. Since this is about adding features to mdBook, it would help knowing what mdBook's overall goals are, and this is my first time looking at this repo.

@azerupi does mdBook have interest in implementing editing functionality in the general case? I've seen what appears to be a dormant flag `editable` in the code. If mdBook does not want to

[2017-06-01 08:11] azerupi commented on #247
As an opt-in feature, yes. It is not something I want to force on all users if they don't need it.

Indeed, in the long run I was planning to take a look at [syntect](https://github.com/trishume/syntect) as an alternative in order to move syntax highlighting to the book generation phase. But that is not for right now.

[2017-06-01 10:49] budziq opened #306 "Changes in "theme" directory do not trigger book update when "serving""
It is driving me nuts when editing custom style or index.hbs.
I have a PR ready

[2017-06-01 11:56] #306 closed

[2017-06-01 19:03] azerupi opened #308 "Support the missing features for Rust By Example"
This issue serves to track the remaining issues before [RBE](https://github.com/rust-lang/rust-by-example) can be ported over to mdBook.

### Blockers
- [x] #247 - Editable code snippets (through [ACE](https://ace.c9.io/)?)
- [x] Test code snippets (maybe the existing test command is sufficient, but probably not)

### Nice to have
- [ ] Check for dead links
- [x] Good error message when a file to

[2017-06-01 19:05] steveklabnik commented on #308
I have a feeling that it is, personally.

The requirements look good to me 👍

[2017-06-04 09:45] LuisAyuso opened #309 "Suport spaces indentation in SUMMARY.md"
Hi there,

To nest chapters in the Summary, the line must begin with a tab character. Unfortunately I am used to turn tabs into spaces, and all of my editors are configured in this way.

How difficult would it be to implement this?
Can you describe the location and procedure currently in use?
 maybe I can find the time to implement it.

Cheers.

[2017-06-04 10:34] azerupi commented on #309
Are you sure spaces are not supported? They should be, and if it is not the case it is a bug! :)

The code parsing the summary and more specifically the code for the indentation can be found [here](https://github.com/azerupi/mdBook/blob/master/src/parse/summary.rs#L128).  Overall, the whole summary parsing would need to be rewritten IMHO. I have tried multiple times to rewrite it with [nom](https:

[2017-06-05 09:12] LuisAyuso commented on #309
Hi again,
I tried again and it is working. I must have done something wrong the last time.
Thanks for the reply.

[2017-06-05 09:12] #309 closed

[2017-06-05 10:48] budziq opened #311 "Include`custom.js` file if it exists"
Hi similarly to https://github.com/azerupi/mdBook/issues/178

I would be interested in adding support for "custom.js" to be loaded if one exists. This two would let us stop needing to pull index.hbs (some minimal js there) and full book.css into rust-cookbook.

[2017-06-05 11:30] azerupi commented on #311
Good idea, it should not be too difficult to add this to #287

[2017-06-05 11:42] budziq commented on #311
Thanks :) . Issues such as https://github.com/rust-lang/book/issues/55 could be implemented trivially downstream without any modifications to MDBook. If you don't feel like implementing it I'll gladly add it once https://github.com/azerupi/mdBook/pull/287 gets merged.

[2017-06-05 14:56] #178 closed

[2017-06-05 14:56] #240 closed

[2017-06-05 14:56] #285 closed

[2017-06-06 03:25] Cldfire commented on #223
Another status update! I deeply apologize for the large communication void on this; I came down with something just after I posted the last update, wasn't feeling good, and got bogged down with school / other projects after I recovered.

I just finished implementing a draft (if you will) of what this will look like as part of my Stylish theme:

![doc rust-lang org-stable-book-match html](https://c

[2017-06-06 10:26] budziq opened #313 "regression on default theme directory handling"
Hi,

Since  https://github.com/azerupi/mdBook/pull/287
The contents of "theme" directory is no longer taken into account by default (in case no book.toml config is present like in rust-cookbook).

Is this expected (code does not handle the "default case")?

[2017-06-06 10:46] budziq commented on #313
Otherwise maybe lets just drop the "defaults" and require book.toml to override the "theme".

[2017-06-08 20:30] msporleder opened #317 "misc mobile safari issues in private browsing"
Many code snippets, which are supposed to run in the playground, simply do not work and render the "hidden" parts of their code, causing newbies like me great confusion.
[code]
as found in enums.html, etc

When using private browsing on mobile safari (iphone) local storage is not available so:
`localStorage.setItem('theme', theme);`
throws an error.  I think modernizr might have a check for this?

[2017-06-08 20:31] msporleder opened #318 "mobile safari no way out of menu"
After clicking on the hamburger menu in the rust book on mobile safari there is no obvious way to get out of it.  An arrow pointing '<' that way might be nice.

[2017-06-08 21:36] azerupi commented on #317
Are all those issues only occurring in private browsing sessions?
Is there some extra limitations to JavaScript when running in private sessions? I would have to check how code hiding is implemented again. But as far as I can remember it is just using JavaScript with some JQuery. I'm not sure why it wouldn't work unless JavaScript is disabled.

[2017-06-08 23:19] budziq commented on #317
hi @msporleder

- which version of mdbook are you using?
- are you able to reproduce this issue in any other browser / environment?
- mdbook is very sensitive to changes in custom index.hbs / book.js do you have any? (this looks more like a script loading problem)
- are able to provide a minimal  repo / source code of  book showing this problem? I might be able to get a hold on iphone next week to

[2017-06-09 01:27] msporleder commented on #317
@budziq

I'm just browsing the (released today) rust book.  I was complaining in IRC and was asked to open bugs here.

When I referenced 'enums.html' I was talking about: https://doc.rust-lang.org/book/first-edition/enums.html ; sorry for not being more specific.

[2017-06-09 02:19] msporleder commented on #317
@azerupi private browsing is the cause of the localstorage failure as it is, basically, not allowed in private mode mobile safari.  use a cookie instead, probably.

Private window desktop safari shows the same behavior of the menu buttons not working.

Anyway I was able to add a function using vanilla js
`document.getElementById("sidebar-toggle").addEventListener('click', function() { ...`

googli

[2017-06-09 06:53] azerupi commented on #317
Ok, thank you for the details! :)
I don't have an iPhone to test on, but I can have a look at the bugs that also appear on dekstop safari. If it is really JQuery at fault then we should reduce our usage of it and return to plain javascript. It may however be just a strange safari bug (see stack overflow thread linked below).

For the localstorage, we should indeed check and fall back to a default

[2017-06-09 11:23] budziq commented on #317
I suspect that it is in fact problem with local storage
 most likely an exception raised early here:
https://github.com/azerupi/mdBook/blob/master/src/theme/book.js#L13 (it internally calls `localStorage.setItem('theme', theme);`) and rest of the script never gets processed (including code hiding  and sidebar toggling).
Sidebar toggle also uses `localStorage.setItem` which might be the cause of bu

[2017-06-09 11:40] budziq commented on #125
How about just closing the sidebar automatically after selection when on mobile?

Actually having to close sidebar manually on mobile it is driving me nuts.
It should be relatively easy to detect with `if (typeof window.orientation !== 'undefined') { ... }` as only mobile browsers should support this feature

[2017-06-09 11:51] azerupi commented on #125
On mobile (small screens) closing the sidebar seems like a good default behaviour. However I don't think it would be appropriate for tablets with larger screens.

[2017-06-09 12:00] budziq commented on #125
Yeah that is why I was thinking about the second solution in previous post. Arbitrarily deciding if screen is small via css and acting on it. I'm bored out of my mind on sick leave so I might as well tinker a little ;)

[2017-06-09 13:38] msporleder commented on #317
Luckily millions and millions of people have iphone or safari on their macs
to test. :)

[2017-06-10 08:15] budziq commented on #317
hi @msporleder would you be willing to test on https://budziq.github.io/ - it is my private fork of rust-cookbook with POC local storage fallback to cookies (I've no way of reliably testing it). It should also autoclose the sidebar on mobiles.

[2017-06-10 10:52] msporleder commented on #317
404

[2017-06-10 11:09] budziq commented on #317
@msporleder

sry i was posting from mobile and pasted half of url. please try with :
https://budziq.github.io/rust-cookbook/

[2017-06-10 11:22] msporleder commented on #317
Looking good. Now my other issue of getting stuck in the nav bar works in both private and non.

Do you have any playground links I can test the other parts with?

[2017-06-10 11:47] budziq commented on #317
@msporleder can you also check if:

-  hamburger menu works.
- theme setting and sidebar state is saved across pages
- expand and collapse works in examples in https://budziq.github.io/rust-cookbook/net.html#ex-url-origin
- any other issues that I've might missed from your report

playground is disabled on rust cookbook. I'll post some playground example when I have some more time.

[2017-06-10 17:03] budziq commented on #317
For future reference the `localStorage` polyfill used to render the [example](https://budziq.github.io/mdBook/format/rust.html) [pages](https://budziq.github.io/rust-cookbook/encoding.html#ex-json-value) was adapted from the first example on [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Storage/LocalStorage).

Please note that this is just a POC at the moment more suited to diagnose the p

[2017-06-10 17:27] msporleder commented on #317
Okay.  Mobile safari private and regular now work pretty much as expected.

However you have broken **desktop** safari's (private and regular) ability to click the hamburger or the theme selector!
It throws the following error:
book.js: 250 `    let text = code_block.find(".language-rust").text();`
is causing an error `SyntaxError: Unexpected identifier 'text'`

[2017-06-10 18:06] budziq commented on #317
Uncool but looking via browserling.com i see that the problem exists in mainline mdbook not in the POC for this issue.

If this (hamburger menu and theme selector in safari desktop error) problem exists in the [mainline](https://brson.github.io/mdBook/format/rust.html) pages then please open a separete issue.

[2017-06-10 20:01] azerupi commented on #317
A very recent PR has been merged to make the JS ES5 compliant again (somehow non ES5 JS got through review), maybe that is the issue here because it seems to throw the error on the same line that has changed in the PR?

[2017-06-10 21:37] budziq commented on #317
@azerupi my POC variant did not include the latest PR for ES5 compatibility (I've missed it as some of my older PR's are still queued for review). It still uses `let` instead of `var` binding.

I'll try to find sone time tommorow, rebase my POC and publish new sample for testing. If everything will be ok and there is interest I can submit a PR for review.

[2017-06-10 22:24] azerupi commented on #317
Yeah, it was a very small PR so it was quick to review in between my revision sessions. I will try to merge the other PRs in the queue when I'm done with my exams next week :wink:

For sure!
I'm always open for bug fixes.

[2017-06-10 22:31] budziq commented on #317
Sorry. I meant to excuse myself for missing that crucial PR rather than push for attention on mine. Don't worry, take your time and good luck :)

[2017-06-11 03:18] joshlf opened #322 "Inline code blocks do not display properly with cookies disabled"
When viewing [https://doc.rust-lang.org/book/first-edition/documentation.html](https://doc.rust-lang.org/book/first-edition/documentation.html) from Chrome (Mac, "Version 58.0.3029.110 (64-bit)") with cookies disabled but Javascript enabled, inline code blocks do not display properly. Because of this, the expand and play buttons are not visible (and thus, I was not able to test whether they work).

[2017-06-11 13:26] budziq commented on #317
Hi,

I've rebased to latest master and published a testing sample https://budziq.github.io/mdBook/format/rust.html (from checks on windows safari via browserling.com it seams that hamburger menu started working)

@msporleder are you up for another round of testing :smiley_cat: ?

[2017-06-11 14:23] azerupi commented on #322
Thank you for the bug report!
I think this is related to #317 where @budziq is working on a solution, so I am going to mark this as a duplicate. But feel free to correct me if you think it is unrelated to that issue.

[2017-06-11 14:31] azerupi commented on #317
I just tried on Safari and the hamburger menu works!
I just realised that mdBook is completely broken on private navigation sessions in safari...

**Normal session (safari)**
![image](https://user-images.githubusercontent.com/7647338/27011751-fcc3d006-4ec2-11e7-971c-a4fac693e10f.png)

**Private session (safari)**
![image](https://user-images.githubusercontent.com/7647338/27011758-184a1fce-4ec3-11e

[2017-06-11 17:15] joshlf commented on #322
Looks like you're probably right; cheers!

[2017-06-11 17:26] msporleder commented on #317
Phone is working as expected still (good) but safari private desktop is still broken, probably because of a security violation "Attempting to change the getter of an unconfigurable property."  on
[code]

I'm guessing safari desktop private does not allow access to the window object like that but quick googling did not find anything to back me up.

[2017-06-11 17:49] budziq commented on #317
darn you Apple ;)

well probably indirecting all storage requests through an additional global
object might be enought to circumvent this problem.

All in all will most likely need to dustup my windows dualboot install
safari to actualy solve this one.

On 11 Jun 2017 7:26 p.m., "msporleder" <notifications@github.com> wrote:

[2017-06-11 17:52] budziq commented on #322
right it looks like chromium disables localstorage in addition to cookies I
have a slightly different  POC for this one (as opposed to safari I can
actualy reproduce this ine ;) ) but it'll needsome cleanup prior to PR

On 11 Jun 2017 19:15, "Joshua Liebow-Feeser" <notifications@github.com>
wrote:

Looks like you're probably right; cheers!

—
You are receiving this because you were mentioned.
Repl

[2017-06-11 19:27] budziq commented on #322
Hi @joshlf,

Please check with [this build](https://budziq.github.io/mdBook/format/rust.html#hiding-code-lines) this is work in progress ATM.

[2017-06-11 19:34] budziq commented on #317
@azerupi current build of [my POC](https://budziq.github.io/mdBook/format/rust.html#hiding-code-lines) should work around problems with chromium blocked cookies / local storage https://github.com/azerupi/mdBook/issues/322 and mobile safari private mode (but the `security violation` in desktop safari private mode is not addressed yet).

I have an idea how to workaround safari limitations here but I

[2017-06-11 19:45] joshlf commented on #322
@budziq That works! The code renders properly and the "play" button works. I will note (although I suspect this is not related to this issue) that if I've already hit the "play" button and then I hit the "copy" button, the output of clicking "play":

is copied to my clipboard along with the source code. I don't know if that's intentional.

[2017-06-11 21:08] azerupi commented on #317
@budziq I just tried your link and it is working just fine in Safari private session now. So I guess you managed to fix it? 😄

[2017-06-11 21:34] budziq commented on #322
yeah I know about that one too . As I am working mostly with rust-cookbook
(where play button is disabled)  I have found it today :( . This is due to
the fact that clipboard gets whole innerhtml from code snippet and
playground overwrites the text with playpen output. most likely we will
need to change clipboard code or split playpen output to separate div.

It would be great If you could open a b

[2017-06-11 21:39] joshlf commented on #322
Sure, I'll open another issue.

[2017-06-11 21:45] joshlf opened #323 "Code block "copy" button copies output in addition to code"
On an inlined, executable code block, if the "play" button is pressed first, then a subsequent press of the "copy" button will cause not only the source code, but also the output from running the program, to be copied to the clipboard.

For example, consider the following code which is inlined at [https://budziq.github.io/mdBook/format/rust.html#hiding-code-lines](https://budziq.github.io/mdBook/f

[2017-06-11 21:57] budziq commented on #317
@azerupi actualy there are now two variants and both have their problems:

- [store.js based](https://budziq.github.io/rust-cookbook/format/rust.html) shows unstyled page in some cases on safari (windows) I did not have time to properly triage but works with safari private - this is most likely the one you have mentioned ;)
- [based on my adaptation of MDN polyfill](https://budziq.github.io/mdBook

[2017-06-12 00:11] budziq commented on #317
@azerupi  I've made a preliminary PR https://github.com/azerupi/mdBook/pull/324 with vendored store.js v2.0.3 as I was not able to find any problems with it.

@msporleder would you be able to test once more on the [latest variant](https://budziq.github.io/rust-cookbook/format/rust.html). I am reasonably hopeful in regard to desktop safari but there was no way to verify on mobile (and there is a bu

[2017-06-12 01:03] msporleder commented on #317
things look much better on mobile and desktop safari private mode.  The menus work and the #fn main's are hidden (the play button is missing but I am not sure if that is intentional or not).

I'd say this is good enough.

[2017-06-12 09:03] #125 closed

[2017-06-12 09:03] #317 closed

[2017-06-12 09:03] #318 closed

[2017-06-12 09:03] #322 closed

[2017-06-12 09:10] #311 closed

[2017-06-12 09:11] budziq commented on #317
@msporleder thanks for all your help!

The missing buttons are in no way intentional but it looks like another bug. The latest master without my changes to localStorage shows identical behaviour (actually on iphone 6 I was able to borrow for a few minutes and on browserstack.com all of playpen buttons are hidden both on mobile safari / chromium standard and private mode). The buttons are visible o

[2017-06-12 09:26] budziq opened #325 "Missing playpen icons on mobile safari / chromium (iPhone 6)"
On an iphone 6 I was able to borrow for a few minutes and on browserstack.com all of playpen buttons are hidden both on mobile safari / chromium standard and private mode). This happens even before my recent changes to local storage.

The buttons are visible only if the theme does not load properly (and then they are at the left instead of right side of playpen).
![browserstack](https://user-image

[2017-06-12 09:26] #223 closed

[2017-06-12 09:38] azerupi commented on #325
I can't reproduce this in any of the browser simulators (chrome and safari) when emulating an iPhone screen. So I suppose this is a bug specific to the iPhone.

Interesting, let me know what they say 😉

[2017-06-12 09:58] budziq commented on #325
Yeah it seems to be a problem with actual device maybe even on specific firmware. I was able to reproduce it with physical iPhone and with browserstack iPhone 6 connection (this is supposedly a direct connection to a physical device with some remote desktop. It is laggy and choppy enough that I believe it ;) )

Well they have responded quickly but unfortunately they have requested to add a badge a

[2017-06-12 10:33] azerupi commented on #325
It's tempting and I understand their request. It's only fair when they offer you free access to a paid product, but I would prefer not to be used as advertising so I think I'm going to respectfully decline the offer.

I might be able to get a hold of an iPhone sometimes to test and for the rest I hope we can rely on occasional contributors / users who would be willing to test some things for us.

[2017-06-12 10:37] azerupi commented on #313
That might be a good idea! In that case, the `--theme` argument should add the corresponding path to the config in addition to create the theme dir. I'm not sure this is such an easy task however.

[2017-06-12 10:39] budziq commented on #325
More than understandable :smiley:  I'll forward your response to them.

[2017-06-12 12:15] #323 closed

[2017-06-12 12:45] budziq commented on #325
I was able to reproduce this problem with iPhone 7 simulator (IOS 10.3)
![saucelabs com](https://user-images.githubusercontent.com/221000/27034310-6534e304-4f7d-11e7-92b1-e61216dec5c6.png) on virtual image provided via saucelabs (unfortunately they do not provide a developer console so I will leave this issue to someone else).

On positive side it looks like anyone with access to MacOS willing to

[2017-06-12 13:35] azerupi commented on #325
How interesting! I have a MacOS desktop, I will see if I can get that working after my exams.

[2017-06-13 08:25] budziq commented on #313
Yeah, but on the other hand there is a problem with backward compatibility. At the moment rust-cookbook (and possibly other clients) uses latest mdbook from crates.io in their CI to build content on merge and automatically publish.

If we remove the default theme directory handling, content build step will silently produce output different from expected :(. I can easily fix the problem in rust-coo

[2017-06-13 09:51] azerupi commented on #313
Hmmm, but at some point we are going to make a breaking release. In fact, current master is already a breaking some things from the config file.

Making a breaking release is inevitable and will certainly happen again in the future. So the next best thing that we can do is figure out a way for the users to pin their CI to the latest non breaking version of mdBook until they want to upgrade. I'm go

[2017-06-13 10:02] azerupi opened #327 "How to handle breaking releases, and how can we help users?"
Current master has breaking changes to the configuration file. I expect there will be more breaking changes in the future as we improve and refactor mdBook. So we can't guarantee stability. However, users might automate deployment of books through CI and we don't want to break their deployments every time we make a breaking release!

So, can we figure out a way to pin CIs to a specific non-breakin

[2017-06-13 10:30] budziq commented on #327
`cargo install` supports `--vers` flag also for binaries
Basically we can endorse all users to pin their CI to specific mdbook binary version like below:
`cargo install mdbook --vers 0.0.22`

Then changing version of mdbook with which the artifacts are built in CI would have to be conscious decision on user side. And if they would like to benefit from bugfixes and new features they would have to f

[2017-06-13 12:32] azerupi commented on #327
Beginning with the `0.1.0` which should be the next release, we will bump the minor version every time we make a breaking release. I just tested and cargo supports `cargo install mdbook --vers "0.0.*"` so I think we should start by making users use that instead of just any version.

[2017-06-13 13:26] budziq commented on #327
`cargo install mdbook --vers "0.0.*"` (or any other incomplete semver triple) produces a depreciation warning from cargo
[code]
since https://github.com/rust-lang/cargo/issues/3321 cargo depreciated using --vers with "semver requirements" (as in lib requirement) in favour of specific "semver versions".

Imho it is a shame as it was a nice feature.

[2017-06-13 16:22] steveklabnik commented on #327
cargo install mdbook --vers 0.0.22

Yes, this is what I'd suggest as well.

[2017-06-13 16:41] azerupi commented on #327
Oh so you can't specify semver ranges for binary install? That's a bummer...

[2017-06-13 23:37] budziq opened #330 "close theme selection popup after interaction"
Hi,

I find it slightly irritating that theme selection popup stays open until the brush icon is clicked again (it is especially vexing in case of mobile browser).

I would suggest to close the theme selector popup after:

1. user selects the theme - this might not be always desirable (but it would find it as a nicer default)
2. user interacts outside of the popup (click/swipe/pan) - imho this wou

[2017-06-14 00:21] budziq opened #331 "`mdbook init` should create a stub book.toml based on args"
This is connected with discussion in https://github.com/azerupi/mdBook/issues/313

I currently find 3 problems in this area:

- [ ] I guess that book `init` should create book.toml filled with defaults (possibly from gitconfiig) and updated with info from flags such as `--theme`
- [ ] Currently options such as `mdbook init --theme` do nothing if book.toml is not present.
Namely the book `init` tri

[2017-06-14 09:23] azerupi commented on #330
I'm okay with both. I've found it to be an annoyance as well, just not enough to try to solve it.. For mobile it is indeed a very desirable behavior. :+1:

[2017-06-14 17:46] Aaron1011 opened #333 "Add 'Next Page/Previous Page' buttons"
*Originally filed at https://github.com/rust-lang/book/issues/766*

When reading through a generated book, it's time-consuming to need to continually find the next in the sidebar. This becomes even more of an issue when hiding the sidebar.

It would be nice to have 'Next Page' and 'Previous Page' buttons/links at the bottom of each page, to make it easy for readers to navigate through a book.

[2017-06-14 17:48] Aaron1011 commented on #333
Never mind - the left/right arrows weren't rendering for me for some reason. Sorry for opening the issue.

[2017-06-14 17:48] #333 closed

[2017-06-15 21:25] budziq commented on #217
Hi,

This was fixed in https://github.com/azerupi/mdBook/pull/324

cc @azerupi

[2017-06-15 21:26] budziq commented on #249
Hi,

this has been fixed a while ago in master.

cc @azerupi

[2017-06-16 10:20] #249 closed

[2017-06-16 10:20] #217 closed

[2017-06-16 11:40] #235 closed

[2017-06-16 13:31] Anachron commented on #217
Thanks!

[2017-06-19 06:02] messense opened #339 "`mdbook test` with extern crates"
[When invoking `rustdoc`](https://github.com/azerupi/mdBook/blob/master/src/book/mod.rs#L382) it should be possible to specific some options namely `-L` and `--extern` for `rustdoc` to allow testing examples with `extern crate xxx;`

[2017-06-19 18:52] asgs opened #341 "code snippet font size a little smaller in FF"
Hello! On Firefox, the font size of the section where the code snippets are shown is smaller than the rest of the text. Please check the [FF Screenshot](https://user-images.githubusercontent.com/833190/27252205-e2fbae3e-5375-11e7-8c11-5b23c47db220.png)

On Chrome, it's better as the size seems to be consistent with the rest of the content.

I'm not sure how a size of 0.875 em makes that noticeable

[2017-06-19 23:05] projektir opened #342 "--features=regenerate-css does not work on nightly (Windows 10)"
mdBook uses custom Rust code to detect the presence of packages `stylus` and `nib`. From what I can see, it expects to see files `stylus.cmd` and `nib.cmd`. While `stylus.cmd` is created when installing these packages, `nib.cmd` is not, so the command `cargo build --features=regenerate-css` does not work and insists that `nib` is not installed.

I've attempted installing the packages in different

[2017-06-19 23:25] azerupi commented on #342
I'm sorry for the trouble!
This has recently been changed to improve the error messages when stylus and nib where not installed but maybe it wasn't correctly tested on all platforms.

@budziq do you know more about this?

[2017-06-20 01:43] budziq commented on #342
I'll look into it. Althought I do not have access to Win 10 machine neither privately nor at work :/.

The code does not look for `nib.cmd` (it looks for `npm.cmd` and `stylus.cmd`). The nib dependency is checked only if `npm list -g nib` returns success.

@projektir could you post the full output of
- `cargo build --features=regenerate-css`
- `npm list -g nib`
- `npm list -g stylus`

and informat

[2017-06-20 02:39] projektir commented on #342
Oh, whoops, totally read `npm` as `nib` there. My `npm.cmd` is in `C:\Program Files\nodejs` and that's definitely in PATH. `stylus.cmd` is also in PATH. I can call both `npm` and `stylus` from the command line, as well, but not `nib`.

`cargo build --features=regenerate-css`

`npm list -g nib`

`npm list -g stylus`

Also for reference, when I removed the `Package("nib").exists()?;` line, it starte

[2017-06-20 03:02] budziq commented on #342
Yeah nib is just a library that stylus uses.

Hmmm. It looks like there is either a problem with the instalation or npm binary stoped setting proper process exit status.

Do you have the final error output handy? It might speed things up. It looks like npm cannot find / run stylus + nib internally which might be an installation problem or unlikely regression on their side.

Sorry for the problems

[2017-06-20 03:33] projektir commented on #342
Note that this is on a relatively fresh install of Windows, and with reinstalled Node with nothing else, so I seriously doubt there's a problem with the installation. Is there a different version of Node/`npm` worth trying?

Not sure how useful it is:

`C:\Git\mdBook\node_modules` is empty... should it not be?

[2017-06-20 05:51] budziq commented on #342
I'm inclined to think the same but until I have access to some Win10 box this is my only lead except for changes in OS behaviour or bug in npm.

I'm verifying on Win7 pro and it works ok with following
[code]

I'm no `node_modules` is searched only for local instalations and we are explicitely using `npm install -g` for global. (I've tested with and without the dir anyway with no difference)

I do

[2017-06-20 06:05] budziq commented on #342
@projektir

Well the output looks like stylus just does not work on your setup as it has problems with internal dependencies.
does following work?
[code]

[2017-06-20 09:24] budziq commented on #342
@azerupi
I was able to reproduce the problem with appveyor "Visual Studio 2017" image.
It fails only on rust nightly on on this appveyor image (I assume that it is the closes to you box ;) )

https://ci.appveyor.com/project/budziq/mdbook/build/1.0.2
[code]

Sadly, this is still not reproducible on the same nightly on my Win7 box :disappointed:

@projektir I hope that you are compiling with rust ni

[2017-06-20 13:26] projektir commented on #342
Aaaa, it is a nightly issue! Switched to stable and it works!

Excellent detective work! I forget I'm even on nightly half the time and that it may cause issues.

Interesting that this only fails on Win10, though, no idea what's going on there.

[2017-06-20 13:51] budziq commented on #342
Ha, exciting! I'll try to get my hands on a win10 box and debug a little (debugging via appveyor logs is far from painless ;) )

@azerupi I would motion to change this issue title and add a separate issue aimed at adding `regenerate-css` to appveyor (https://github.com/azerupi/mdBook/issues/343) and travis

[2017-06-20 14:02] azerupi opened #344 "Add --features=regenerate-css to CI"
We had an issue where `--features=regenerate-css` would fail on nightly on Windows 10. It would be a good idea to add it to the CI to test it.

#342

PR: #343

[2017-06-20 14:02] azerupi commented on #342
Done :)

[2017-06-21 03:30] projektir commented on #308
I've tried out `mdbook test` and it seems to be working fine for code blocks.

[2017-06-21 04:47] projektir opened #345 "Reserved characters are not replaced by character entities when using files for playpens"
I've tested this on [rust-lang/book](https://github.com/rust-lang/book) with latest `mdBook` code on `master` with this page: [Creating Reference Cycles and Leaking Memory is Safe](https://doc.rust-lang.org/stable/book/second-edition/ch15-06-reference-cycles.html).

I moved the first block of code to a file called `file.rs`, and all code was preserved in that file, i.e., `RefCell<Rc<List>>` and su

[2017-06-21 05:54] projektir commented on #345
I've talked to @cbreeden about this and they had an interesting suggestion: instead of adding `<pre><code>` tags around the file contents, surround them with ```` ``` ````. Then they will get fed through the same process as normal code blocks and the Markdown parser will take care of it.

Right now, since code blocks and files are handled separately, there's a bit of duplication of effort.

[2017-06-21 07:53] budziq commented on #342
@azerupi  I've posted the problem upstream https://github.com/rust-lang/rust/issues/42791
I guess that we can mark it as blocked upstream. Don't know if we should merge https://github.com/azerupi/mdBook/pull/343 akready or wait for it to be fixed upstream.

[2017-06-21 14:43] azerupi commented on #345
That's a clever solution!

[2017-06-21 15:44] azerupi commented on #327
Ok, we should start pinging projects that use mdBook to warn them of an 'imminent' breaking release and that if they deploy with CI they should pin the version number. If you know of any projects using mdBook, please let me know here!

- [x] [Rust Cookbook](https://github.com/brson/rust-cookbook) is already using a pinned version.
- [ ] [The Rust Programming Language]() is using master.
- [ ] [Bin

[2017-06-21 17:37] steveklabnik commented on #327
TRPL is using a pinned version, not master: https://github.com/rust-lang/rust/blob/master/src/tools/rustbook/Cargo.toml#L11

I am happy with intermezzOS automatically updating, no need to warn me 😄

[2017-06-21 18:33] budziq commented on #327
Hi these are the ones I know of:
- [ ] [gentle-intro](https://github.com/stevedonovan/gentle-intro) - not sure if they deploy automatically
- [ ] [wayland-rs](https://github.com/Smithay/wayland-rs) - uses unpinned version
- these two are owned by Steve so I post them just for refference ;)
    - [ ] [nomicon](https://github.com/rust-lang-nursery/nomicon) - uses unpinned version
    - [ ] [referenc

[2017-06-21 18:54] azerupi commented on #327
Good to hear, I suppose that applies to all the books in the Rust org? :)

[2017-06-21 20:25] steveklabnik commented on #327
Yes, the same thing is used for all of the ones on doc.rust-lang.org.

On Wed, Jun 21, 2017 at 2:54 PM, Mathieu David <notifications@github.com>
wrote:

[2017-06-21 21:57] #345 closed

[2017-06-23 09:27] #183 closed

[2017-06-23 09:27] #233 closed

[2017-06-23 11:49] budziq opened #347 "Make MathJax optional"
Basically like in case of ACE.
MathJax is a large dependency that might be seldom required

Additionally it blocks offline reading https://github.com/rust-lang/book/issues/711 due to how it is incrementally loaded from cdn.

It would be preferable to have MathJax as an optional dependency with key in the book.toml.

~~blocked on https://github.com/azerupi/mdBook/pull/335 - will need to wait until

[2017-06-23 12:15] #330 closed

[2017-06-23 13:10] budziq opened #348 "Extract MdBook binary commads to separate files"
As discussed on https://github.com/azerupi/mdBook/pull/332#issuecomment-310618707

Separate MdBook binary commands should be separated to own modules and files.

Additionally whole `watch` module would be conditionally compiled with `#[cfg(feature = "watch")]`

[2017-06-23 13:23] budziq opened #349 "Conditional MdBook commands are always added to commandline"
Both `serve` and `watch` commands are always added to the command line parameters even if
`#[cfg(feature = "watch")]` and `#[cfg(feature = "serve")]` are disabled (and unhandled). These parameters should be added only conditionally.

[2017-06-23 13:34] budziq opened #350 "Support alternative remote playpens for code execution"
Like:
- https://play.integer32.com/ for rust
- https://rust.godbolt.org/ - compiler explorer is not a playpen pe se but it's immensely useful. (Also for other languages)

Also take into consideration support for other languages:
- https://play.golang.org/
- https://code.sololearn.com/#cpp

See https://fiddles.io/ for extended list

[2017-06-23 13:38] budziq opened #351 "Rethink theme management"
As discussed in https://github.com/azerupi/mdBook/pull/338#discussion_r123618836

Discussion points:
- Themes should be easily configured (added, removed via configuration)
    - should the themes be opt in?
- Themes should be easily implemented.
- Consider switching to SASS from stylus due to nice rust bindings.

[2017-06-23 13:46] budziq opened #352 "Rethink book.js organization"
As discussed in https://github.com/azerupi/mdBook/pull/338#discussion_r123618836

Discussion points:
- Consider splitting book.js by feature
    - Separate into smaller js files included in index.hbs?
    - book.js generated like index.hbs?
- Consider switching to TypeScript for type safety.
    - Adds dependency on TypeScript compiler
    - Slightly harder to start contribution for newcommers

[2017-06-23 14:01] budziq opened #353 "Rethink index.hbs organization"
As discussed in https://github.com/azerupi/mdBook/pull/338#discussion_r123618836

Discussion points:

index.hbs is currently coupled to hbs_renderer and book.js. Book substituting the index with their own, takes a large maintenance burden and looses bugfixes and new features.
- Consider splitting index.hbs into core.hbs (all the js includes and core styles) and index.hbs that would be almost empty

[2017-06-23 14:09] budziq opened #354 "Rethink playpen configuration"
As discussed in https://github.com/azerupi/mdBook/pull/338#discussion_r123618836

Expanding the playpen config to make features opt in or opt out might be a good idea.

Discussion points:
- Should the features be opt in or opt out like (clipboard support, editable, resetable if editable, code runnable)?
- Should playpen styling be a plugin too? https://github.com/rust-lang/book/issues/55
- Playpen

[2017-06-24 05:12] projektir opened #355 "Implement warnings for missing playpen files"
mdBook currently doesn't seem to say anything if I try to include a file that doesn't exist in a playpen. It would be nice to have a warning for that. This is a nice to have for #308.

There's a warning [here](https://github.com/azerupi/mdBook/blob/master/src/renderer/html_handlebars/helpers/playpen.rs#L24), but I'm not entirely sure where it's meant to show up.

I think a good place for this woul

[2017-06-24 05:15] projektir opened #356 "Add a linkchecker"
A linkchecker is a convenient tool to have for avoiding errors and keeping track of dead links. It is also a nice to have for #308.

The RBE linkchecker and the one used in [rust-lang/rust](https://github.com/rust-lang/rust/blob/master/src/tools/linkchecker/main.rs) both scan the files line-by-line while applying a regex to find links and check them. I don't know if it'd be OK for us to adopt the

[2017-06-24 05:18] projektir commented on #308
I've made two issues for the nice to haves and plan to work on them unless anyone objects. I think they're straightforward enough to implement, useful for mdBook in general, and worth doing to make @mdinger's life easier. :smile:

[2017-06-24 08:40] Michael-F-Bryan commented on #356
This would be a good candidate for the plugin system (#163). Ideally, after the rendering stage you'd be able to make a plugin which gets passed the rendered output's location and then checks all the links in all the `*.html` files it can find.

We're planning on refactoring the current system to make it a lot easier to write your own plugins and renderers.

[2017-06-24 09:45] azerupi commented on #348
I think, but I would have to check, that it is possible to move the subcommand related Clap code to the new files too. This would put everything related to a subcommand in one file.

[2017-06-24 11:14] budziq opened #357 "Add a spellchecker"
It would be nice to have a spellchecker
rust book uses a [shell script running aspell](https://github.com/rust-lang/book/blob/master/second-edition/spellcheck.sh)
We might consider using  https://crates.io/crates/ispell

[2017-06-24 12:03] #313 closed

[2017-06-24 12:12] azerupi opened #358 "Logging to stdout seems to be disabled"
Since some time, mdBook doesn't log anything to stdout anymore. Users don't get any feedback from mdBook, which is not good...

Related to #355

[2017-06-24 12:16] azerupi commented on #355
I think logging somehow got disabled at some point, that's not good.

I think this is definitely something that should spawn at least a warning at build or even an error. Actually we could have a new config flag `deny-warnings` or something similar that would let you choose between warnings or errors.

I wouldn't put it in `mdbook test` alone because I'm not sure it is used that much, but it could

[2017-06-24 12:20] azerupi commented on #308
Oh yes, my bad! I forgot the link 😊

I am certainly not going to object 😉

[2017-06-24 12:28] azerupi commented on #356
Definitely in `mdbook test`

I agree, this could potentially be written as a plugin **in the future** :)
I emphasised "in the future" because I don't want to stall progress on changes that are coming *soon-ish*. We don't have a deadline for the plugin system, so if someone wants to contribute a solution right now, I wouldn't want to break their inertia.

However, we can keep this use case in the b

[2017-06-24 12:41] azerupi commented on #357
One thing I want to really stress here is that I want to avoid an english-centric solution at all cost. I think it would be a shame to lock ourselves in with a solution for "the majority".

For the rest, I don't know much about spellchecking tools, so I'm open to everything. I also think this is a very desirable feature.

Things to think about:
- What not to spellcheck? code blocks obviously, but

[2017-06-24 13:21] Michael-F-Bryan commented on #347
#335 just got merged, so it should no longer be blocking this.

[2017-06-24 13:39] budziq commented on #347
Yup ;) I'll look into this issue later on.

[2017-06-24 13:44] steveklabnik commented on #356
I've thought about trying to put the rust-lang one on crates.io so others
could use it too, to be honest.

On Sat, Jun 24, 2017 at 8:28 AM, Mathieu David <notifications@github.com>
wrote:

[2017-06-24 13:56] Michael-F-Bryan opened #359 "Refactor the book structure into its own type"
The in-memory representation of a book is currently really tightly tied into `MdBook` and has a lot of functionality that it probably doesn't need. This complicates the current library quite a bit, makes testing difficult because you often need to create a temporary book on disk, and makes it hard to implement much-desired features like plugins and alternate renderers.

My thoughts are that a "boo

[2017-06-24 15:18] budziq commented on #356
It might be nice to have it as a warning also on `mdbook build` stage

could use it too, to be honest.

@steveklabnik That would be awesome!

[2017-06-24 15:23] Michael-F-Bryan commented on #14
It looks like [error-chain] is quickly becoming the de-facto tool for doing good error handling. In particular, the [rust cookbook] is pushing it as the way to do error handling in all examples.

Would it be a good idea to switch to using `error-chain` instead of `std::io::Error` or `Box<Error>` everywhere? I feel like the `chain_err()` method in particular would help with returning a nice human-r

[2017-06-24 15:27] azerupi commented on #14
Yes, error-chain was already pulled in as a dependency for the build script to 'test out'. I haven't had the time yet to catch up with what error-chain can do, but I've heard a lot of good. So I'm ok to start using it pervasively throughout the code base :)

[2017-06-24 22:56] budziq commented on #358
Well it is not really disabled we just don't log messages on `Error` level which are displayed by default. If we set `RUST_LOG=info` or `debug` we see some additional logs. It depends what you would like to achieve.

Cargo for instance uses dual logging system. `env_logger` like mdBook does for its backend/library part (that is controlled by `RUST_LOG` env var). And `termcolor` based colored  outp

[2017-06-24 23:08] tyoc213 commented on #5
For you information, what about single file for the source???

like

[code]

Well, just saying :) (I mean for example for making a book/tutorial with code examples it will be better to only have one source code but the explanation in different languages.

And sure, switching between languages could be possible, and if there is no paragraph, show the default language of the document.

[2017-06-25 19:43] Songbird0 opened #365 "playpen files: Generic parameters aren't parsed ?"
Hi!

When I use `{{#playpen my/rust/file/path}}`, all generic parameters, like `<i32>`, are missing.

I tried this code (in my playpen file):
[code]
I expected to see this happen: When my playpen file is merged, generic parameters are presents.

Instead, this happened: The HTML page prints:
[code]

## Meta

`mdbook --version`: mdbook v0.0.22

Regards.

[2017-06-25 22:36] budziq commented on #365
Hi @Songbird0 this is most likely https://github.com/azerupi/mdBook/issues/345 and was solved by in git master but not yet released to crates.io.

Would you be willing to test against git master (there are some other breaking changes so do not be alarmed ;) )?

[2017-06-26 14:32] azerupi commented on #358
Interesting. I assume this is to split the output into messages for the devs and messages for the users, which is nice. We could go that route if it doesn't add a lot of complexity. Otherwise we should set the logging level to info I think, and make sure that all the messages for ìnfo`, `warn` and  `error` are directed at users. We can keep `debug` and `trace` for development purposes.

Having col

[2017-06-26 14:57] budziq commented on #358
Having split logging would certainly add complexity [cargo seams to prefer logging to user](https://github.com/rust-lang/cargo/search?utf8=%E2%9C%93&q=warn&type=) (with several variants of their `shell.warn` as opposed to seldom used `warn!`).

I would go with `info` bumping the level to `info` and see how do we like it. Also colored output is pretty trivial to add with https://github.com/seanmons

[2017-06-26 15:01] #347 closed

[2017-06-26 18:55] Songbird0 commented on #365
​Hi!

Sorry for duplication.

Would you be willing to test against git master (there are some other
breaking changes so do not be alarmed ;) )?​

​Done! It's all right. My generic parameters are printed in `mdbook
v0.0.22-pre` version.​ Thanks!

Regards.

[2017-06-26 19:01] budziq commented on #365
no problem :) be sure to comeback

[2017-06-26 19:14] #365 closed

[2017-06-27 10:31] azerupi commented on #327
I have made a PR to cargo rust-lang/cargo#4229 to add semver ranges to `cargo install --vers`. Once this is merged we can start to recommend users to pin the version of mdBook like this

[code]

It should already work with Cargo right now (with a deprecated warning) but if the PR gets merged we are guaranteed that this behaviour will stay and that the deprecated warning will go away in future rele

[2017-06-27 11:37] #348 closed

[2017-06-27 11:37] #349 closed

[2017-06-28 11:20] azerupi commented on #327
I have opened an issue in each repository listed here. Maybe I should also make an announcement on the users forum?

Another thing that needs to be done is to mention the version pinning for CI scripts in the readme. This will hopefully allow new projects to pick up the good habit from the start.

[2017-06-28 11:33] budziq commented on #327
We have a users forum :smile_cat:? How can one find it?

Good idea. We have to update the docs anyway for 0.1.0 release

[2017-06-28 11:35] azerupi commented on #327
Well I was talking about the [Rust user forum](https://users.rust-lang.org/) :smile:

[2017-06-28 11:37] budziq opened #368 "update the documentation for 0.1.0 release"
we have to document all the new features and options in config
as well as non backwards compatible behaviour.
- [x] clipboard support
- [x] optional MathJax
- [x] additional js
- [x] additional css
- [ ] ~~new theme (ayu)?~~
- [x] Document the version pinning for CI in the README
- [x] Document the `{{# include }}`
- [x] the `-L` option
- [x] editable playpens with ACE
- [x] Update contributor lis

[2017-06-28 11:41] budziq commented on #327
Also a good idea. https://www.reddit.com/r/rust/ is also a popular place for rustaceans to visit

[2017-06-30 13:37] budziq commented on #245
As mentioned rust cookbook would be interested in such feature (and there is at least one more [identical request](https://github.com/azerupi/mdBook/issues/140)).

In general such feature would be renderer agnostic (just like the `{{#playpen}}` would be) this is just a preprocessing pass prior to rendering. In such light also the `playpen.rs` would not belong to hbs_renderer but should live and op

[2017-06-30 15:41] azerupi commented on #245
Yes of course!

Indeed, this feature can be completely independent of the renderer. However, `{{#playpen}}` is only half independent. The code inclusion should work for any renderer, but the behaviour depends on the renderer.

[2017-06-30 20:07] budziq commented on #245
Hmm actually I meant the `render_playpen` and `find_playpens` which imho are renderer agnostic as opposed to `add_playpen_pre` which is tightly dependent to html/hbs (but these two domains are orthogonal)

I'm thinking about:
- moving the playpen.rs and the new include.rs to a new dir `src/preprocess/`
- maybe some refactoring of how the processors are called/registred (this will wait until I have

[2017-07-02 03:19] Songbird0 opened #370 "Default language for code tag"
Hi,

Basic code tag (without language name specified) not supported by markdown interpreter when I put a piece of Rust code.

I tried this code:

(No language name specified in code tag)
[code]

I expected to see this happen: No error thrown by `mdbook test`.

Instead, this happened: `mdbook test` throws an error.

## Meta

Backtrace:
[code]

You should "skip" code compilation when language name i

[2017-07-03 09:55] azerupi commented on #370
Thanks for the bug report!
I suppose this is because rustdoc assumes every code block is Rust unless told otherwise.

I'm not very very familiar with the options for rustdoc, but @steveklabnik will certainly be. Is there a conservative mode for rustdoc that onlyc checks codeblocks explicitely marked as Rust?

[2017-07-03 13:15] steveklabnik commented on #370
There is not, or at least, not one I'm aware of.

[2017-07-03 15:30] Songbird0 commented on #370
Hi,

Ok, so I'll mark all of my piece of code with the `text` lang name for now.

[2017-07-03 17:38] azerupi commented on #370
Actually, now I wonder if I didn't already open an issue on rustdoc for this specific feature some time ago. This feels like déjà-vu.. :smile:

[2017-07-05 15:09] vberger commented on #327
I have a question regarding this, how does
[code]
interact with
[code]
that I use in my CI ?

[2017-07-05 15:15] budziq commented on #327
@vberger
`cargo install-update -a` does not seam to be a standard cargo command?
so  I can't really say. do you use some helper crate to get this command?

[2017-07-05 15:23] vberger commented on #327
yes: https://github.com/nabijaczleweli/cargo-update

This allows me to use the travis cache to avoid rebuilding mdbook & friends every time (this tends to make the builds timeout, as some dependencies are quite long to compile), while still keeping them up to date.

I was just asking in case you knew, but I should probably ask them directly.

[2017-07-05 15:53] budziq commented on #327
@vberger I've tested the `cargo-update` crate with your command.
It forces installation of newest mdbook available via crates.io.

So basically when mdbook v0.1.0 is suddenly released yo would have to call
`cargo install mdbook --vers "^0.0.22" --force` (to install the older version if newer is installed)
right after `cargo install-update -a` and prior to `mdbook build`.

But I understand that tra

[2017-07-05 18:01] azerupi commented on #327
`cargo install mdbook --vers "^0.0.22"` will install the latest version compatible with `0.0.22` in a semver sense. As far as I know, `cargo install-update` doesn't offer any flag to specify a version so it will always update to the latest version. Maybe they would consider adding this feature? It's worth opening an issue on their repo.

[2017-07-08 17:38] crumblingstatue commented on #51
Just here because I also ran into https://github.com/rust-lang-nursery/reference/issues/73.

[2017-07-08 17:56] #358 closed

[2017-07-08 21:27] #339 closed

[2017-07-09 04:07] matthewleon opened #375 "links to next page should set rel="next""
I was surprised, when reading The Rust Programming Language (https://doc.rust-lang.org/book/second-edition/ch01-00-introduction.html), that the keyboard shortcuts I normally use to move through the pages in a document weren't working properly. I believe that simply setting the `rel` attribute to "next" on the next page arrow button should fix the problem.

[2017-07-09 08:06] budziq commented on #375
Hi @matthewleon

Mdbook already allows for next/ prev page navigation with left/right arrow.
Could you tell what exact browser are you using and which keyboard shortcuts do you mean (key combination and desired effect).

I'm not even a part time webdev by trade so please bare with me :)

[2017-07-09 08:21] azerupi commented on #375
I think this has been fixed in master recently by #228 but is not yet released. We are currently waiting to make a new release because some projects don't pin their mdBook version in their CI deployment scripts, and we want to give them some time to fix that before we release (see #327)

[2017-07-09 17:47] matthewleon commented on #375
Looks good, thanks. Closing.

[2017-07-09 17:47] #375 closed

[2017-07-09 18:25] rinthel opened #376 "The emph(*) tag does not seem to properly work with a non-english text with parentheses"
Hi, I'm trying to translate the second edition of the Rust book into Korean.
And I found a strange behavior when I use emph tags.
While the english text with parentheses, something like 'Gabarge Collector(GC)',
was well emphasized by using one * tag, like *Gabarge Collector(GC)*,
its Korean translation version of the text '가비지 콜렉터(GC)' wasn't
emphasized with just one * tag. *가비지 콜렉터(GC)*
Instead,

[2017-07-09 18:51] budziq commented on #376
hi @rinthel

this us most likely problem with our markdown renderer backend https://github.com/google/pulldown-cmark

could you post a minimal reproducing snippet ideally in escaped markdown section?

<pre>
[code]
</pre>

I'll try to look into it when I'm on pc next week.

[2017-07-10 00:43] rinthel commented on #376
Thanks, here is a example:

<pre>
[code]
</pre>

Please notify me for any other thing I can do. Thank you!

[2017-07-10 08:39] budziq commented on #376
Hi,

I am having trouble in reproducing this problem on latest mdbook v0.0.22 from crates.io The provided snippets is rendered as:
![rendered_em](https://user-images.githubusercontent.com/221000/28009180-c8911c68-655a-11e7-9cb0-5e5811d75355.png)
I'm no expert on Korean typography but the text looks properly slanted between the `*` marks. And the html source of the rendered document puts the \<em\>

[2017-07-10 09:01] rinthel commented on #376
Thank you for your kind report, and you produce what I expect exactly, so maybe I wrote a wrong code or my mdbook version was too old.
I would like to check my problem again when it's possible, and I'll report what was wrong. Thank you so much!

[2017-07-10 10:01] lilianmoraru commented on #51
I wanted to open this same issue...
The reference has become very hard to use(trying to abstain myself from harsher words) - I just use the [Rust 1.12 reference manual](https://doc.rust-lang.org/1.12.0/reference.html).
I did not think of the print icon(usually this creates a PDF file or something like this) but it is definitely not intuitive, I expect most people to not reach for it.
I use the ref

[2017-07-10 11:39] budziq commented on #51
Hi @crumblingstatue and @lilianmoraru search is certainly somewhere on the wishlist but currently we have no ETA for such a feature. But if anyone is willing to start working on it (or even start a discussion about possible implementation) they are very welcome!

[2017-07-10 11:49] budziq commented on #376
If there are any further problems, do not hesitate to ask. There might be a real bug somewhere in there, so it is worth double checking checking on your side.

[2017-07-10 17:17] rinthel commented on #376
After several experiments, I found how to reproduce what I saw.
Consequently, it's not about the ascii and non-ascii code,
but about the closing asterisk right after closing parenthesis without following whitespace.
here is my experimental code:
<pre>
[code]
</pre>

And its results:

---

some *text* here

some*text*here

some *(text)* here

some*(text)*here

some*(text)* here

some *(text)*here

[2017-07-11 11:07] budziq commented on #376
@rinthel I would not exactly state that githubs markdown is 100% compliant with the spec (neither is pulldown-cmark at the moment). So if one of your failing usecases should work under the [commonmark specification](http://spec.commonmark.org/0.27/) then I would open an issue in https://github.com/google/pulldown-cmark. I am closing this issue for now :)

[2017-07-11 11:07] #376 closed

[2017-07-17 17:23] Songbird0 opened #378 "The source code typography is broken"
Hi,

I'm translating [RBE](rustbyexample.com) from English to French so I copied this source code to translate its comments:

[code]
I preserved the originals comments not to break typography. When I put this code in `{{#playpen source/foo.rs}}`, the server displays:

![image](https://user-images.githubusercontent.com/13397428/28280740-06aeb206-6b25-11e7-878f-14d2f7aaf26e.png)

How to fix this ?

[2017-07-17 19:39] budziq commented on #378
Hi @Songbird0  as far as I know RBE is not yet ported to mdbook (it uses a customized gitbook). And if the snippet you have pasted your comment is any indicator it looms like the typography is broken already and the text gets misaligned on monospaced font (possibly the RBE gitbook uses non monospaced font and the snippet was hand edited to make it align.) I was able to realign it by hand reasonabl

[2017-07-17 20:02] steveklabnik commented on #378
Yes, RBE is not yet using mdBook, see https://github.com/rust-lang/rust-by-example/issues/248

[2017-07-17 20:50] Songbird0 commented on #378
Hi,

Thanks all for answering.

Yes, I know, but it will be ported and you'll find the same problem certainly, so I'd like to solve it on my own.

I'm not sure to understand. I cannot hand edit a snippet rendered by mdbook. :/

[2017-07-17 21:04] budziq commented on #378
What I meant is that most likely the foo.rs that you are including has already misaligned comments ( the code that you included in your comment certainly does) and as a result it does not align on the final rendering by mdbook. If I'm correct then the problem should be corrected in the foo.rs instead of mdbook. You can check if the code is properly aligned by viewing it in an editor and choosing a

[2017-07-17 23:16] mdinger commented on #378
The page alignment doesn't appear to render correctly on mobile. I don't know the reason for that behavior but it should be well behaved in most normal desktop text editors. It looks like mdbook use [pulldown-commonmark](https://github.com/google/pulldown-cmark) as the renderer. You should use a small testcase of the problem, such as something like this and run it though the markdown and see if th

[2017-07-18 02:53] Songbird0 commented on #378
@budziq:

Ok, I tried with Sublime Text 3.

`font_face`: `Consolas`

Result (in Sublime Text 3):

![image](https://user-images.githubusercontent.com/13397428/28298030-50eb3d0c-6b71-11e7-9d8e-6a5576b18ebc.png)

Refresh... Result (in my Firefox browser):

![image](https://user-images.githubusercontent.com/13397428/28298161-06f19dd0-6b72-11e7-9aed-4fa83c9b32f8.png)
Same thing.

Note(**!**): When Java

[2017-07-18 03:03] mdinger commented on #378
It looks correct on my computer in firefox. Did you try a fresh profile? It might not be markdown rendering in that case. It might be a font related issue or something else.

[2017-07-18 12:52] budziq commented on #378
@Songbird0 I've looked on the attached file with mobile text editor and the lines match perfectly on "DejaVu Sans Mono" font and are completely broken on any other (monospaced or not) so this has nothing to do with renderer and most likely the default pre font on your browser (and the one used by RBE gitbook variant) happens to be DejaVu or compatible while the downloaded google fonts from cdn are

[2017-07-18 15:34] ffissore opened #379 "Release 0.0.23?"
The latest tag is 0.0.21 https://github.com/azerupi/mdBook/tags
However on crates.io, version is 0.0.22 https://crates.io/crates/mdbook

Rust book has the navigation bug, fixed in #337, but the fix is not included in latest 0.0.22.

Can you release 0.0.23?

[2017-07-18 16:38] Songbird0 commented on #378
It won't be necessary.

When "*Allow pages to choose their own fonts, instead of my selections above*" is unchecked, all is fine. Here's my configuration (works with other fonts too):

![image](https://user-images.githubusercontent.com/13397428/28328227-2151e0a8-6be6-11e7-9d1e-e33b2bbaa931.png)

->
![image](https://user-images.githubusercontent.com/13397428/28328280-5781145a-6be6-11e7-8e38-21c7dea

[2017-07-18 16:53] budziq commented on #379
Hi @ffissore

in fact there are a lot of other unreleased bugfixes but there are already several  breaking changes in master as well as we are pushing for 0.1.0 release which will be a major one (most of the work has been [already done](https://github.com/azerupi/mdBook/milestone/6). And due to the breaking changes we are unlikely to release another patch release in the meantime.

Please bear with

[2017-07-18 17:24] budziq commented on #378
@Songbird0 unfortunately requiring readers to change their browser settings for the webpage to render properly is a nonsolution 😞 . I'll look into the problem further when I'm back behind proper keyboard.

[2017-07-18 17:27] Songbird0 commented on #378
All right. See you soon! :)

[2017-07-28 10:15] dns2utf8 opened #383 "serve: double reload on backup files deletion"
The problem arises when working with an editor like [Kate](https://kate-editor.org/) which keeps your current edits in a swap file.

When saving the swapped contents to the real file an event occurs and triggers the rebuild of the book.
While the book is building another event occurs because the swap file is deleted.

On my machine this creates a race.
Sometimes the second thread is fast enough to

[2017-07-28 11:34] budziq commented on #383
Hi @dns2utf8 thanks for the bug report.
Trying to fix race conditions by sleep tuning is universally a bad idea 😉  . We will most likely need to introduce some synchronization with a command queue

[2017-07-31 23:30] budziq commented on #275
Hi, @azerupi How are we on the 0.1.0 front? There is quite a lot of demand for it and some downstream repos started backporting fixes. I'm back from holidays and even though I will need to step up in rust-cookbook and rust-skeptic maintenance (so even less free time) I would love to help in making the release happen!

cc https://github.com/azerupi/mdBook/issues/379

[2017-07-31 23:53] budziq commented on #378
Hi I'had a cursory look over the problem and Im not able to reproduce this issue on my Arch Linux Firefox (renders ideally) and chromium (also looks very good but not as pixel perfect).

On the other hand it looks that RBE's typography on android chromium is similarly broken.

I have to admit that I'm not a webdev and someone with cross browser webdev experience would have to look at this issue. S

[2017-08-01 09:44] azerupi commented on #378
With the `source code pro` font, that is set as default, I am experiencing a very slight misalignment of the vertical bars. But nowhere near as much as in the screenshots provided above. If I remove the `source code pro` font alternative from the CSS it renders perfectly.

@Songbird0 when you have some time, could you try to fiddle with the fonts on the rendered page to see if other fonts work bet

[2017-08-01 11:48] azerupi commented on #275
There is still some documentation work to do, but other than that we can release 0.1.0
We should at least do #368 before the release

[2017-08-01 11:50] #140 closed

[2017-08-01 11:50] #245 closed

[2017-08-01 11:53] budziq commented on #275
@azerupi great! I'll schedule some time to work on the docs this week :)

[2017-08-01 11:53] azerupi commented on #368
- [ ] Document the version pinning for CI in the README

[2017-08-01 11:54] azerupi commented on #275
I will try to do some too :)

[2017-08-01 12:32] #327 closed

[2017-08-01 14:11] Songbird0 commented on #378
Hello there!

With the `source code pro` font:

![image](https://user-images.githubusercontent.com/13397428/28829135-1adc61f6-76d3-11e7-84cf-e51368206b39.png)

Without the `source code pro` font:

![image](https://user-images.githubusercontent.com/13397428/28829193-40abbecc-76d3-11e7-9605-20e5fa97cd0f.png)

My page is properly rendered.

`Ayu` theme:

![image](https://user-images.githubusercontent

[2017-08-01 14:40] azerupi commented on #378
Thanks!
I am not sure why there is a problem, but clearly `Source code pro` seems to be the culprit.

This font was introduced in PR #250, maybe we should remove it from the list?

[2017-08-01 14:45] budziq commented on #378
Hmm the `Source code pro` seams to do exactly the opposite of what was advertised in #250. And what is the behaviour in mobile browser if we remove `Source code pro` from the list?

[2017-08-01 15:53] azerupi commented on #378
Unsure, but the fallback stack should be sufficiently exhaustive to have at least one monospace font  available on mobile?

[2017-08-01 15:57] azerupi opened #386 "GitHub pages is not updated anymore?"
It looks like GitHub page (documentation) has not been updated in a while?
Travis doesn't push to the gh-pages branch anymore. Maybe the access token has expired / been revoked?

I need to look into this.

[2017-08-01 19:12] budziq commented on #378
I've looked into android mobile chromium. It looks like like only `Source Code Pro` and `monospace` are the only ones recognized in the installed list (both being equally broken).
Also I've checked all monospace fonts on https://fonts.google.com and unfortunately all looked as bad.

[2017-08-02 10:10] azerupi commented on #386
I confirmed the issue, here is a snippet from the Travis log:

[code]

It has been failing for a couple of months, should be fixed with a new access token.

[2017-08-02 10:58] azerupi opened #387 "Update our CI infrastructure?"
A long time ago, Japaric contributed most of the Travis and AppVeyor configuration files to setup automatic deployments of release artefacts etc.

I think we should check if everything is still working fine and up to date. We can use his [trust](https://github.com/japaric/trust) repository for this. It is a template for a fully configured CI using Travis and AppVeyor.

[2017-08-02 11:49] azerupi commented on #386
Commit https://github.com/azerupi/mdBook/commit/ba719c00be2570545a2de48facfa18b3d3a3cd64 fixed this issue, the docs are now up to date again!

[2017-08-02 11:49] #386 closed

[2017-08-02 14:37] steveklabnik commented on #387
I have a feeling it's way more complicated than it has to be; I've looked at it before and then been like "This is too complicated, I'll work on something else."

Maybe @azerupi for this thread we can enumerate what we want in our CI infra? That way we actually know what we're trying to evaluate.

[2017-08-02 14:50] budziq commented on #387
I would suggest at least:
- tests including full blown styuls regeneration vide the yet unmerged https://github.com/azerupi/mdBook/pull/343 (once we implement the workaround suggested on https://github.com/rust-lang/rust/issues/42791)
- auto push of docs to gh-pages

I'm not sure if we need to keep al these variants in Travis and Appveyor. I guess 9 could be enough (Linux+MacOS+Win) x (Stable, Bet

[2017-08-02 15:12] azerupi commented on #387
Our infra or trust? Do you have any specifics about what you find too complicated and would remove?

To be honest, I have never been really comfortable with all the CI scripts and configurations. They were contributed by other people (mostly Japaric) and I never bothered to change them because they were working great. 😄

If you are talking about the build matrix, I agree. I don't think we need to

[2017-08-02 15:20] steveklabnik commented on #387
Our infra. trust is generally pretty good 😄

Yeah, the build matrix was part of it.

It's mostly just that there is a *lot* there, including three whole shell scripts, which includes stuff like https://github.com/azerupi/mdBook/blob/master/ci/install.sh which shouldn't be needed anymore at all?

These requirements look 👍 to me.

[2017-08-02 15:47] azerupi commented on #387
Indeed, that is very probable. It was added a year ago when rustup was just emerging. There are probably better ways to do it now, that is why I linked to trust as a source of inspiration.

[2017-08-03 12:48] azerupi opened #388 "Add tooltips to code buttons"
![image](https://user-images.githubusercontent.com/7647338/28922393-4f1ae716-785a-11e7-9fa6-3db5879bdf9c.png)

Buttons on code blocks do not currently have tooltips explaining what they do. It would be great to add tooltips with a very short explanation of what the buttons do (couple of words) when hovering over them.

[2017-08-03 12:55] azerupi opened #389 "Buttons sometimes overlap code"
![image](https://user-images.githubusercontent.com/7647338/28922612-2fe62544-785b-11e7-9fe4-d8cdb0d3561b.png)

In the image above, a long comment on the first line interferes with the button who are rendered on top. This makes the comment hard / impossible to read, but also the buttons less visible. I am not sure yet how we should fix this.

My first idea would be to add a background to the button

[2017-08-03 13:05] budziq commented on #389
Somewhat related https://github.com/rust-lang-nursery/rust-cookbook/issues/263

I was thinking about making the buttons more prominent. Hmm possibly blink on playpen hover. Maybe I should create a separate issue about buttons not being discoverable.

[2017-08-03 13:08] budziq commented on #388
Also any other icon like print/hamburger/paint brush could use a tooltip

[2017-08-03 13:16] budziq commented on #388
Ha I stand corrected, the print button already has a tooltip with the "title" attribute
We could easily implement the tooltips using the native browser tooltip like this

![tooltip](https://user-images.githubusercontent.com/221000/28923469-78840bec-785e-11e7-93c8-c4efad3d7f67.png)
[code]

[2017-08-03 13:32] azerupi commented on #388
Yes :)
This is a really trivial addition. Good first issue for new contributors, if not too easy. :)

[2017-08-03 13:35] budziq commented on #388
Well we might want to handle separately the expand/collapse code button so this issue would not be super trivial ;)

[2017-08-03 14:02] azerupi commented on #388
I guess trivial is relative, but by pointing out to new contributors that buttons are inserted in the page through JavaScript [here](https://github.com/azerupi/mdBook/blob/master/src/theme/book.js#L176-L201). I am confident that anyone can pick up this issue without much difficulties. 😄

[2017-08-03 14:07] budziq commented on #388
hmm we can even post [TWIR](https://users.rust-lang.org/t/twir-call-for-participation/4821/111). We met with great success in rust-cookbook when posting there :)

[2017-08-03 18:57] xor opened #390 "[Suggestion] Navigation, buttons, and other links, should be font independent."
I block web fonts on my browser for [security reasons](https://hackademix.net/2010/03/24/why-noscript-blocks-web-fonts/).

In most cases that makes little difference in the pages I visit. In a few instances though, where font characters are used in links and buttons, it makes the page harder to navigate. So it would be great UX was decoupled from the font used.

[2017-08-05 10:24] #247 closed

[2017-08-05 10:34] azerupi commented on #390
We are using [font-awesome](http://fontawesome.io/) for our icons, if the font is blocked I am not sure what we can do about it?

I don't want to throw out font-awesome over this issue, because to me it looks like an unusual situation. But if there is an easy fallback we can implement, that is something we would do.

[2017-08-05 10:46] budziq commented on #390
Hmm probably we could settle on one of the following fallbacks:
- textual description
- unicode glyph
- svg

We could make this issue "help wanted" and post to TWIR ;)

[2017-08-05 11:09] azerupi commented on #390
Before we can we need to detect the absence of font-awesome though. I haven't looked into it, so I don't know if it is possible and easy.

I would feel bad to post an issue to TWIR when it is not mentored. :)

[2017-08-05 11:30] budziq commented on #390
Right I tend to forget about such details. I somehow got locked on this TWIR idea to attract contributors. Hmmm, maybe just post a "run rystfmt and clippy over the source code" issue?

[2017-08-05 14:13] Songbird0 opened #391 "`mdbook test`: Compilation error has been skipped."
Hello there!

The `mdbook test` command doesn't inform me about the compilation error.

I tried this code:

[code]

[code]

I expected to see this happen: The `mdbook test` command prints the `rustc` error.

Instead, this happened: `mdbook test` displays this:

[code]

No error displayed.

When I'm trying to compile and run my sample via my book, the compilation error is here:

![image](https://us

[2017-08-05 14:25] carols10cents opened #392 "If a request to the playground errors, no indication is ever shown as such in the UI"
Right now, if you view TRPL locally via `rustup doc --book`, the playground requests [will all fail because of the playground's current CORS settings](https://github.com/integer32llc/rust-playground/issues/194).

But even if those worked, if you didn't currently have internet acccess and tried to click the play button from the local copy of the book, the playground requests would also fail.

In th

[2017-08-05 15:09] azerupi commented on #392
We should definitely notify the user on error. Thanks for the report!

Have the CORS settings been changed recently? I could swear it was working locally in the past.

[2017-08-05 21:06] projektir commented on #392
I've been seeing the CORS stuff, too. It was definitely working locally last time I worked with **mdBook**, though, so I figured it was just something up with my setup at the time.

[2017-08-05 22:34] carols10cents commented on #392
The playground recently changed over to https://github.com/integer32llc/rust-playground, which is a reimplementation from scratch. It's useful info for @shepmaster to know that the old playground allowed those requests, thank you!

[2017-08-06 01:09] projektir commented on #388
With the work in #338, there is now a new reset button which should also have a tooltip:
![f9wn5ec](https://user-images.githubusercontent.com/16269746/28999766-2d5ce18c-7a22-11e7-990f-5fa5e056b59a.png)

[2017-08-06 09:46] sebras commented on #5
How about a `src/SUMMARY.md` specifying the default chapter structure expected for all languages that are up to date and forcing specialized `src/*/SUMMARY.md` for the languages that have not yet made similar changes? This puts the penalty on the translations who have to keep a separate `SUMMARY.md` around for some time and do work to be up to date. The con is that the person updating the English

[2017-08-06 11:16] budziq commented on #392
Nevertheless we should handle error conditions such as these. This should be pretty trivial with adding `error` callback to book.js line 334 and possibly `timeout` value too.

[2017-08-06 12:11] azerupi commented on #5
Thank you for your input!

Unfortunately, I don't think this will work well in practice because there is a lot of overhead for the author of the original text. Every time the original texts diverge, the burden is on the the author to copy over the old summary to the translations before making a change. If he forgets, things will break, this seems very error prone.

I am more in favour of having on

[2017-08-06 13:16] #392 closed

[2017-08-06 13:34] budziq commented on #391
Yep I can confirm it in master. This is due too `preprocess::links::replace_all` (where we expand the playpen links) called only inside `HbsRenderer::render_item`which is not used in `mdbook test`. We will need to further separate the link expansion/preprocessing from rendering.

[2017-08-06 19:06] frankmcsherry opened #394 "`mdbook test` extern crate functionality"
I apologize if this isn't an "issue" per se, but I've not had much luck finding answers.

Is `mdbook test` intended to work for books containing references to crates (e.g. `extern crate my_crate;`)? I've tried the `-L` argument, which .. I couldn't get to do anything when pointed at the associated crate root.

I saw some language in other issues that perhaps `test` is mostly targeting the Rust boo

[2017-08-06 19:37] azerupi commented on #394
I think the feature you are looking for has been merged in https://github.com/azerupi/mdBook/pull/340 but not yet released. Is that what you tested?

`mdbook test` is quite rudimentary at the moment. It was mostly added for the Rust book but I would like to see it grow to be more useful in general.

[2017-08-06 19:42] frankmcsherry commented on #394
I have tried this. I cloned the repo, and then from the root of the book directory did

    ~/Projects/mdbook/target/debug/mdbook test -L PATH_TO_CRATE_ROOT

which came back with

    [*]: Testing file: "/Users/mcsherry/Projects/timely-dataflow/mdbook/src/./chapter_1.md"
    [*]: Testing file: "/Users/mcsherry/Projects/timely-dataflow/mdbook/src/./chapter_1_1.md"
    An error occured:
    Rustdoc

[2017-08-06 19:47] budziq commented on #394
As far as I know our current support for `-L` is not enough to test with `extern crate`. Looking at rustdoc documentation I think that we might also have to pass the `--extern` parameter to rustdoc in `mdbook test` (I'm prepared to by corrected here ;) ). Anyhow as @azerupi mentioned it is not yet released anyhow.

@frankmcsherry  At the moment I would suggest using [skeptic](https://github.com/br

[2017-08-06 19:51] frankmcsherry commented on #394
Ah, thank you! This is helpful info, and skeptic looks like like it fits the bill for keeping examples correct. :D

[2017-08-06 20:38] budziq commented on #394
I'll close this as
`mdbook test -L ./target/debug/deps`

works ok. We'll just need to update the docs

[2017-08-07 00:13] budziq opened #396 "enable `play` button only if play.rust-lang.org supports used crates."
Hi,

https://github.com/rust-lang-nursery/rust-cookbook/issues/87 Is a long standing bug in cookbook. We were forced to disabled the (awesome) play button due to its inconsistent behavior.

Firstly play.rust-lang.org did not support `extern crate` at all.
Now it supports the top 100 crates from crates.io which is a dynamic property.

Having the play button enabled by default is arguably not the be

[2017-08-07 09:29] azerupi commented on #396
I am not sure we should rely on `extern crate` on the playground :confused:
When reading through their issues I noticed two properties that make it very "unstable":

1. Every day the crate list changes, a crate that worked yesterday may not work today because it is no longer in the list
2. Only the last version of the crate is used, if a new breaking version is released, the snippet will not compi

[2017-08-07 10:07] budziq commented on #396
yep the current situation is not very nice. Abut arguably enabling the play button by default might be even worse because the button will stop working without any warning.

maybe an opt in variant via options. I for one am able to live with play button disappearing from time to time in the cookbook as it is a very desired feature by the users.

Maybe we can make the play button disabled with toolt

[2017-08-07 10:29] azerupi commented on #396
Why did you close the issue? 😄

I have a proposal that you might like.

**requirements**
- We want this to be disabled by default because we don't recommend using it (even if it is there)
- We want to issue a warning when using it
- The code should be fairly isolated

**proposal**
What I propose is to error if we find an extern crate in a playpen block. But add a new optional parameter to `{{#play

[2017-08-07 10:51] budziq commented on #396
Sorry wrong button. I'm a little preoccupied at the moment ;)

please note that a major usecase for playgraund are the inline markdown rust snippets. For instance cookbook does not use the `{{#playpen foo.rs extern-crates }}` style playgrounds (but we could solve the problem similarly).

I guess that from book writer perspective (as cookbook mainter) I would prefer to have a global opt in option i

[2017-08-07 11:01] azerupi commented on #396
I am not sure I understand what you mean by that, do you mean they use it just as an include?

[2017-08-07 11:05] budziq commented on #396
Sorry (as I said I'm multitasking now and the results are less than coherent :smile_cat: ).

What meant is that the play button appears also in the markdown rust snippets
<pre>
[code]
<pre>

So any functionality added to `{{#playpen foo.rs}}` style playground links would also have to be ported to markdown rust snippets.

[2017-08-07 11:20] azerupi commented on #396
Oh yes, you are right. I forgot that...
Now that we are in this situation, I think this was an arguably bad decision. We should not assume that all rust snippets are playable.

[2017-08-07 11:50] budziq commented on #396
Well it isn't that bad of a default. rust-book and RBE assume that all snippets are runnable and could live with some snippets being "opt out" instead of all snippets being "opt in" runnable.

I would propose to make the `no_run` snippets not runnable as the first order of business.
<pre>
[code]
</pre>

`no_run` attribute disables running of given snippet in skeptic (it is still tested for compila

[2017-08-07 19:42] #391 closed

[2017-08-07 22:46] dns2utf8 commented on #383
Another way to solve this would could be the 404 page. If it had code included for may displaying the index or detect the page beeing served (maybe again).
This would cover the scenario where the user switched from one branch of the book to another or merges.

[2017-08-07 22:59] budziq opened #397 "`no_run` and other playpen parameters not added to <code> classes if space separated"
The additional playpen parameters (in case of inline markdown rust code) are not added to class list of generated playpen <code></code> if separated by whitespace from the `rust` language specifier.

<pre>
[code]
<code class="language-rust no_run">...</code>
[code]

[2017-08-08 00:43] budziq commented on #397
The no_run,ignore,should_panic annotation is already eagerly used by several mdbooks and markdown preprocessors. The best I can think of to make the behavior more consistent is to preprocess the markdown codeblock headers in order to get rid of whitespace. Pushing non spec conformant changes to pulldown-cmark is not realistic nor desirable.

[2017-08-08 11:23] azerupi commented on #397
Sounds good to me, preprocess to remove withespace, feed to pulldown-cmark, post-process to replace commas by spaces.

[2017-08-08 11:25] azerupi commented on #383
Maybe we could add a command line argument to blacklist certain patterns of files, would that help?

[2017-08-08 12:21] sebras commented on #5
If there is one SUMMARY.md per language, what forces the files containing chapters to be named the same way in every language? I do agree about this design being less work for the original author of course. :)

[2017-08-08 15:16] azerupi commented on #5
Nothing, it would be a convention. A translation would keep the same file structure and just modify the content of the files. If the translations diverge, you loose cross-linking but everything still works.

I am open to alternative ideas, but I think we should go with something that has minimal friction. :)

[2017-08-08 15:23] sebras commented on #5
That's a good point. Maybe mdBook can warn if this is the case?

Yes, I absolutly. I was worried was no progress because of lack of design discussion, hence my suggestion to try to help you decide. I don't know the mdBook code base (or rust) yet. :)

[2017-08-08 19:42] budziq commented on #397
Right. Possibly another converter could be added to `utills::render_markdown` along the lines of `EventQuoteConverter`

[2017-08-10 15:02] budziq opened #398 "run rustfmt on the repository"
The codebase could use some minor cleanups:
We should run `rustfmt` on the codebase.

It is a nice introductory task to get someones feet wet in the project with some light mentoring.

please use [rustfmt-nightly](https://crates.io/crates/rustfmt-nightly) crate for the job

[2017-08-10 15:02] budziq opened #399 "run fix clippy warnings in the repository"
The codebase could use some minor cleanups:
We should run `clippy` on the codebase and fix its warnings.

It is a nice introductory task to get someones feet wet in the project with some light mentoring.

[2017-08-10 15:15] azerupi commented on #398
The new version of rustfmt that only runs on nightly at the moment. I heard the style changed quite a bit for the better.

[2017-08-10 15:17] budziq commented on #398
Good idea. I've updated the description

[2017-08-10 15:55] azerupi opened #400 "Improve MathJax support by enabling $$ for math equations"
Currently, Mathjax is a little akward to use because we only support the `\( ... \)` and `\[ ... \]`method to indicate inline and block equations respectively. On top of that, backslashes need to be escaped so that the markdown parser doesn't remove them. Thus, equations need to be written like:

[code]

So when mathjax support is enabled in the configuration, it would be great to add a preprocess

[2017-08-11 06:19] hrektts opened #402 ""{{chapters}}" in the handlebars template does not work"
A handlebars template, that is described in [the documentation](http://azerupi.github.io/mdBook/format/theme/index-hbs.html#toc), does not work.

I added the followings in index.hbs:

[code]

then it was converted as follows in index.html:

[code]

I also tried to use an array of dictionaries for the context of the template on [an online compiler](http://tryhandlebarsjs.com/), and found that it di

[2017-08-11 10:39] #397 closed

[2017-08-12 17:48] mkovarik commented on #400
Couldn't this be implemented entirely in JavaScript (see the [MathJax Docs](http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-math-delimiters))?

[2017-08-12 19:21] mkovarik commented on #277
Is it planned for key-value pairs in the TOML header to be available for handlebars templating?

[2017-08-13 10:18] azerupi commented on #400
Ah thanks for reminding me, I forgot the most important part of this issue!

Currently, math expressions will collide with markdown syntax. If you write `a*b*c=d` the markdown parser will emphasise `b`, which is not what we want.

So to make mathjax fully usable, we need to preprocess the equations and replace it with something that will be skipped by the markdown parser. The solution in my first

[2017-08-14 11:32] hazama-yuinyan opened #405 "No links in .md but visible links in .html"
Hi! Above all, I don't know whether the topic would fit here, so __forgive__ me if I've posted the issue in a wrong place.

I'm currently translating the programming language Rust into Japanese. After fetching and merging the main repository's changes to my one, the issue starts to occur.
Backquoted strings in headers(lines beginning with `sharps`) and the index page(that is, in SUMMARY.md) would

[2017-08-14 13:50] budziq commented on #405
Hi @hazama-yuinyan

We'll gladly try to help :smile_cat:

If there are problems with rendering then it is either problem with mdbook or with our markdown renderer [pulldown-cmark](https://github.com/google/pulldown-cmark) so asking for help here is a good start :+1:

Here are some things that you may do to help us analyze the problem:
- Are you able to provide a simplified minimal reproducing samp

[2017-08-14 14:26] budziq commented on #405
![screenshot_2017-08-14_16-17-08](https://user-images.githubusercontent.com/221000/29275732-5d793294-810c-11e7-8dbe-38bb2b2d1bfe.png) (build from rust-book master with mdbook 0.0.22 from crates.io)

If you were describing the above screenshot. Then this seams to be the intended behaviour based on css used in current rust book. They have either not published a html version for some time so this wou

[2017-08-14 14:55] hazama-yuinyan commented on #405
Thank you for the quick reply :)

Yes, that's exactly what I tried to explain.

I see it's exactly what you are saying. Oh, this is my fault. Then thank you for taking your time to investigate and explain it to me.

I will close the issue.

[2017-08-14 14:55] #405 closed

[2017-08-17 19:59] frankmcsherry opened #406 "mdbook seems to ignore subdirectories"
When I put together a `SUMMARY.md` like so:

[code]

with all of the files where expected, `mdbook` finds none of them and produces an empty book announcing only **Chapter 1**, with no pages or anything.

At the same time, the links seem totally legit, and you can click around in the `SUMMARY.md` file just fine:

https://github.com/frankmcsherry/timely-dataflow/blob/master/mdbook/src/SUMMARY.md

T

[2017-08-17 21:28] azerupi commented on #406
Thanks for the bug report!
This should normally work. The example book has files in sub-directories too, but that seems to work.
I will take a look at this in the coming days and see if I can reproduce it on my machine.

[2017-08-18 09:50] azerupi commented on #406
I tried with the master branch and the summary snippet you gave.
I let mdBook generate all the files corresponding to that structure and I get a perfectly working book. I am going to try with the repository you gave to see if I can reproduce it there.

[2017-08-18 10:18] azerupi opened #407 "Improve output to stdout"
Currently, rendering a book prints lines like these on the terminal:
[code]

That is a lot of repetition and even information the user should not need to see. The `INFO:mdbook::renderer::html_handlebars::hbs_renderer:` should be hidden from stdout. Also, it may not be that interesting to list out all the files we create by default. We should probably hide this behind a verbose flag.

I think we ne

[2017-08-18 17:08] Kordalien opened #408 "Mdbook should translate internal references"
When working with links on a page, it would be nice if mdbook could translate a reference to a .md file to a reference to a generated HTML file.

E.g.
if I have
```[Chapter 0](./chapter0.md)```
```[Chapter 1](./chapter1.md)```

In my SUMMARY.md file,

it would be nice to be able to write something like:
In ```[chapter 1](./chapter1.md)``` we explain x...
In chapter 0, and have mdbook replace the l

[2017-08-18 17:10] Kordalien commented on #408
If someone had advice on where to start implementing the feature, I'd be happy to work on it; but I figured it would be best to make sure there wasn't some hidden problem with his idea before diving into it.

[2017-08-18 17:16] azerupi commented on #408
Hi, thanks for the feature request.
That is indeed something useful we could do. 👍

If you want to take a stab at this, you can probably look at the [`preprocess::links::replace_all`](https://github.com/azerupi/mdBook/blob/master/src/renderer/html_handlebars/hbs_renderer.rs#L45) function called in the handlebars renderer. Implementing this feature would probably be quite similar to it.

If you hav

[2017-08-18 17:25] frankmcsherry commented on #406
Ok, I'm not sure. I've just gone and tried `mdbook build` again, and now it is all hunky-dory. I'm not sure what was causing the problem. =/ I'll try and catch it in the act again and see if I can isolate what was causing the problem (this wasn't the first time, but it does work at the moment).

[2017-08-19 21:43] sebasmagri commented on #5
HI!

I'm probably going to reiterate on some already discussed topics but I'd still like to describe this case hoping it's useful to define the best mechanism for book translations in mdbook.

So I've been trying to define a process we could recommend for a localisation team to tackle tasks such as _The Rust Programming Language_ book translation.

One of the things is how to integrate translated

[2017-08-20 09:16] azerupi commented on #5
Hi @sebasmagri

Thank you for the input! I would love to work together with the concerned parties to end up with a strong design that is both useful for simple and more complex requirements.

Currently, the design we are considering is the following:

To make a book multi-lingual, you would have to add some information to the configuration file:
[code]

For the example above, we would expect to ha

[2017-08-20 17:34] frankmcsherry commented on #406
I can't repro, but if it does it again I'll be back! :)

[2017-08-20 17:34] #406 closed

[2017-08-20 18:24] azerupi commented on #406
Sure, no problem! Don't hesitate to post issues or feature requests. :)

[2017-08-24 08:50] hrektts commented on #402
I could access to all the values ​​of the {{chapters}} object by following code. Sorry for posting a javascript question not related to this program ...

[code]

[2017-08-24 08:50] #402 closed

[2017-08-29 14:34] ShalokShalom opened #410 "Option to increase the font-size"
Gitbook offers the option to increase the font size, which is important for my eyes.

[2017-08-29 15:27] steveklabnik commented on #410
Does using the browser to increase the size have problems?

[2017-08-29 23:26] #410 closed

[2017-08-30 18:17] steveklabnik opened #412 "breaking changes, intentional or not?"
I haven't been keeping up with mdbook super well, but [upgrading to 0.0.23 for rust-lang](https://github.com/steveklabnik/rust/tree/upgrade-mdbook) has a *ton* of breakage. After fixing up the internals, I'm getting things like:

* fragments like `#associated-functions` are now `#associated functions`
* the unstable book uses nested pages, and headers aren't generating the correct links, that is,

[2017-08-31 17:25] azerupi commented on #412
No, both of those changes seem strange and unintentional to me.
Could you perhaps create two issues for them with some more info to reproduce?

[2017-08-31 18:42] steveklabnik commented on #412
Will do!

[2017-08-31 18:42] #412 closed

[2017-08-31 21:56] behnam opened #414 "Incorrect title for print.html"
Looks like `print.html` inherits the title of the last item in the SUMMARY, instead of only only showing the book title.

Example: <http://code.behnam.es/rust-cargo/src/doc/book/book/print.html> has
[code]
where it's expected to be just
[code]

[2017-09-01 17:28] steveklabnik opened #416 "Breakage: fragments like `#associated-functions` are now `#associated functions`"
Originally filed as https://github.com/azerupi/mdBook/issues/412

Headings with spaces in the titles, like this:

[code]

Used to generate an id of `#associated-functions`. They now generate `#associated functions`.

Sample book here: https://github.com/steveklabnik/mdbook-bug-report/tree/master/416

[2017-09-01 17:32] steveklabnik opened #417 "Breakage: nested pages have wrong links"
Originally filed as https://github.com/azerupi/mdBook/issues/412

the unstable book uses nested pages, and headers aren't generating the correct links, that is, unstable-book\library-features\windows-stdio.html:89: broken link - unstable-book\windows-stdio.html (note the missing library-features path.

When using a book that has contents in subdirectories, headers used to properly generate links,

[2017-09-01 22:40] behnam commented on #417
You beat me to it, @steveklabnik! I noticed this on the Cargo mdBook docs, like this page: http://doc.crates.io/book/reference/publishing.html

Generally, I would expect all in-page links to be fragment-only URLs (starting with `#`). I'm surprised that the `href` value actually has non-fragment parts to begin with. Curious if there's any practical reason for it, or it's just because of some intern

[2017-09-02 00:09] behnam commented on #416
Looks like this diff changed the logic in an unexpected way: https://github.com/azerupi/mdBook/commit/33f3bec3019d49da62c88b094b10b3c7e592907c#diff-22028e040c17d23dbccf8fc78c428d53R465

I'm working on fix for this and <https://github.com/azerupi/mdBook/issues/417> to unblock the Cargo book.

[2017-09-02 11:20] RalfJung opened #420 "Tag for 0.0.22 is missing"
The git repo contains tags for most versions, but not for 0.0.22.

[2017-09-02 17:33] dns2utf8 commented on #383
What if mdbook were to ignore all changes coming from files marked by the `.gitignore` (or similar) file?

[2017-09-02 20:47] behnam opened #421 "Travis is broken since 1.20 release"
Travis has been broken since the rust 1.20 release. Looks like a problem with `rustup-setup`. (It was recently renamed or something, IIRC.)

History: https://travis-ci.org/azerupi/mdBook/branches
First failure: https://travis-ci.org/azerupi/mdBook/builds/270512490

[code]

I'm not sure why the normal travis/rust infra is not being used here and the rust/cargo installation is done manually.

[2017-09-03 10:33] azerupi commented on #421
The travis infra has been contributed mostly by Japaric two years ago and has been updated approximately one year ago. It has never been touched since. We should completely update our CI infra to the current best practices.

I opened #387 not long ago to start discussion about this. You are welcome to join the discussion and propose changes. :)

[2017-09-03 11:42] dragostis opened #423 "Ingorable Rust snippets"
Is there a way to add ignorable Rust snippets like in rustdoc?

[2017-09-03 13:29] azerupi commented on #420
@steveklabnik did the 0.0.22 release, but forgot to push a tag. I can't seem to find a commit indicating the release, I did narrow it down to may 19th or just before.

I'm not sure if crates.io/cargo offers a way to find the commit at which a release is made? Or maybe @steveklabnik can find the commit at which the 0.0.22 release was made?

[2017-09-03 13:32] azerupi commented on #423
There is a PR open #404 to add a `no_run` attribute on code blocks. Does that cover your use case?

[2017-09-03 15:15] dragostis commented on #423
`no_run` probably tries to compile the code, so it probably won't work. I would only need a code snippet that highlights Rust code.

[2017-09-03 18:55] budziq commented on #423
Hi @dragostis

The code snippets are not compiled unless you:
1. use the play button - then it is compiled remotely by the  https://play.rust-lang.org/
2. call `mdbook test` - then it is compiled by rustdoc
3. use some third party test runner like [rust-skeptic](https://github.com/budziq/rust-skeptic) which integrates with `cargo test`

In all cases all you need is one of two annotations for code

[2017-09-03 19:58] dragostis commented on #423
Oh, I see. That makes complete sense. However, is there a way to add crate dependencies?

[2017-09-03 20:33] budziq commented on #423
It depends on which of the three cases are you thinking.

1. play button - nothing. You'll get only the crates that are installed on https://play.rust-lang.org/. PR #404 disables play button if the used crates are not available there.
2. `mdbook test` - you'll have to use `-L /path/to/compiled/deps` introduced since https://github.com/azerupi/mdBook/pull/340/ which requires that your project someh

[2017-09-03 20:38] dragostis commented on #423
Thank you for the detailed answer. That makes sense. I guess this should probably be covered in book.

[2017-09-03 20:38] #423 closed

[2017-09-03 21:57] budziq commented on #423
Indeed it should! We are planning to release a new version (which is mostly blocked on minor regressions to be fixed and documentation update). Unfortunately the progress with docs update is slow as we do not have as much time on our hands as we would like ;) If you are willing to contribute some time to provide a PR that would update the docs somewhat It would be more than welcome :)

[2017-09-04 07:48] budziq commented on #396
@azerupi the https://github.com/integer32llc/rust-playground/pull/198 has enabled a lot of crates on rust-playground

What do you think about moving forward with #396 and #404?

[2017-09-05 15:26] steveklabnik commented on #420
Gah! sorry about that :(

What we could do is, download the source, and then diff it against different commits, and see which one is the same :/

[2017-09-05 17:33] #342 closed

[2017-09-05 18:19] azerupi commented on #387
I pushed some changes to a new branch [ci-infra](https://github.com/azerupi/mdBook/tree/ci-infra) where I started reworking the Travis config. We might want to merge this quickly because Travis is currently unusable.

But I had an idea for improvement:
For PRs and pushes we could run the tests only on stable and have a daily and weekly cron job for nightly and beta respectively.

It should be poss

[2017-09-05 19:12] steveklabnik commented on #387
I think this line needs a `&&` after? https://github.com/azerupi/mdBook/compare/ci-infra#diff-354f30a63fb0907d4ad57269548329e3R23

https://docs.travis-ci.com/user/cron-jobs/ is the general docs; I'm not 100% sure how to build it though....

[2017-09-05 19:13] steveklabnik commented on #387
Looks like this may not be possible today https://github.com/travis-ci/travis-ci/issues/7181

[2017-09-05 19:34] azerupi commented on #387
Ahn too bad :cry:
It would have been very useful to speed up the tests I think.

Indeed, good catch :)

[2017-09-05 19:41] budziq commented on #387
It might not be possible to express it in the yml file alone but it would be perfectly possible with shellscript and env vars exported in matrix (also travis exports "${TRAVIS_EVENT_TYPE:-}" == "cron" )

We have done something along [these lines](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/deploy.sh#L16) in rust-cookbook

[2017-09-05 19:48] azerupi commented on #387
You can do that, but I was talking about the build matrix. You can't spawn more or less builds (for different rust versions) depending on if it is a regular PR / commit or cron job. At least that is how I understand it.

[2017-09-05 20:06] budziq commented on #387
Right, but we can always spawn maximal number of builds and return early from the inconsequential ones. Or we can manually test few build variants in one session using rustup

[2017-09-05 22:18] #396 closed

[2017-09-06 13:45] dvberkel opened #424 "Inline mathematics documentation is contradictory"
The online documentation for [inline equations](azerupi.github.io/mdBook/format/mathjax.html) specify that

The example code shows

Which has different delimiters

[2017-09-06 13:55] dvberkel opened #426 "Paragraph links are broken for pages in sub-folders"
As seen in the online documentation, e.g. that of [Mathjax Support](http://azerupi.github.io/mdBook/format/mathjax.html), clicking on a header of a page in a sub-folder creates the wrong URL.

For example, clicking the inline mathematics header results in the URL

[code]

which should be

[code]

[2017-09-06 14:35] steveklabnik commented on #426
I believe this is a dup of https://github.com/azerupi/mdBook/issues/417 ?

[2017-09-06 14:38] dvberkel commented on #426
Yes, this seems to be a duplicate.

Sorry for the noise. I will close this issue.

[2017-09-06 14:38] #426 closed

[2017-09-06 20:44] budziq commented on #383
@dns2utf8 could you look on this PR https://github.com/azerupi/mdBook/pull/427? It solves multiple reloads on my system with vim (using notify crates builtin event aggregation logic which we have circumvented so far). It might not solve your case yet though.

[2017-09-07 02:49] clarcharr commented on #424
Both work; perhaps that could be documented instead?

[2017-09-07 06:03] dvberkel commented on #424
:+1:

I will update the pull-request and document both possibilities.

[2017-09-07 20:39] #416 closed

[2017-09-07 20:39] #417 closed

[2017-09-07 20:43] azerupi commented on #420
Yeah, I am not particularly motivated to do so 😉
@RalfJung is there a need for the 0.0.22 tag or was it just for consistency?

[2017-09-07 21:24] #414 closed

[2017-09-07 21:44] azerupi commented on #383
Release 0.0.24 includes the fix from @budziq.
Could anyone try with the new version and see if it fixed the issues?

[2017-09-08 06:41] dvberkel commented on #424
:+1:  I will revert back to the original pull request :-)

[2017-09-08 07:32] RalfJung commented on #420
I had wanted to find out what changed when I prepared <https://github.com/rust-lang/rust/pull/44267>. But TBH, consistency seems enough of a reason. ;)

[2017-09-08 16:26] steveklabnik opened #428 "More breakage: -- in anchors"
Yet more breakage when trying to use mdbook 0.0.24 on the rust book

A heading like this

    ## `--passes`

used to give `#--passes`, but now gives `passes`

    ## Method-call expressions

used to give `#method-call-expressions` but now gives `#methodcall-expressions`

Were these intentional?

This is semi-important to resolve as Rust's build is now warning due to the errors from back in `0.0.22

[2017-09-08 17:35] azerupi commented on #428
I am a little confused. How could `## `--passes`` become `#--passes-add-more-rustdoc-passes` where does the rest come from?

The old way seems more sensible. I'm going to take a look, once it is resolved we should definitely  make some tests for this because it seems like a portion that is particularly sensitive to breakage.

[2017-09-08 17:37] steveklabnik commented on #428
Ugh sorry, I mis-copy/pasted; the actual title is

    ## `--passes`: add more rustdoc passes

but since most of that doesn't matter for the purposes of this bug, I removed it. But apparently missed a spot. I will update the original issue.

[2017-09-08 18:02] azerupi commented on #428
Commit https://github.com/azerupi/mdBook/commit/84ef4d261769628474c1285bb07a96665c105f80 should solve this. Can you test with master? If there is any other breakage, let me know. Otherwise I will do a 0.0.25 release.

I added your two breakage examples to the tests. It is not much, we should probably add more but at least we have already something.

[2017-09-08 18:03] steveklabnik commented on #428
I will test right now 👍

[2017-09-08 18:08] steveklabnik commented on #428
🎊

[2017-09-08 18:20] azerupi commented on #428
I will release a new version then! :)

[2017-09-08 18:23] #424 closed

[2017-09-08 18:23] azerupi commented on #428
Version 0.0.25 released!

[2017-09-08 18:23] #428 closed

[2017-09-08 18:33] steveklabnik commented on #428
https://github.com/rust-lang/rust/pull/44430 ❤️

[2017-09-08 20:43] behnam opened #430 "Facilitate maintaining URLs with redirect mapping"
Most of the books being authored by *mdBook* are live documentations of projects under development, meaning that they require constant updates to the content and addition and removal of sections and chapters. Besides updating content to some URL or adding new URLs, all other kinds of maintenance/update changes result in broken URLs, which is not optimal for these projects, from a *being reference

[2017-09-08 20:58] azerupi commented on #430
I think this a very good idea! I would put it behind an opt-in option in the `book.toml` file, because not everyone needs it. But it would just be a one time option to enable.

Do you envision this file to be maintained manually? I suppose, because it would be hard to know which urls need to map to what file. Anchors should probably be out of scope for a first version.

[2017-09-08 21:18] behnam commented on #430
Yeah, maintaining the list manually would make the feature implementation much easier and keep the build system stateless (not depending on previous builds). From user perspective, I think it's fine as long as we set up warnings/errors for overlapping paths.

So, the option in `book.toml` would take a path to the map file, to be used like `redirect_map = REDIRECTS`?

Also, an additional features w

[2017-09-08 21:46] azerupi commented on #430
Yes, something along those lines. I think it would make sense to put it under the `[output.html]` table, because it is pretty specific to html versions of the book. In TOML I also prefer dashes instead of underscores. So it would be something like:

[code]

For the file itself, do you have a format in mind?
I was thinking about having something simple to parse, maybe lines with `old_url = new_url`

[2017-09-09 00:12] behnam commented on #430
Well, if we want to have a more formatted file, I don't see any reason to not put it in `book.toml` to start with. How about this?

[code]

[2017-09-09 09:19] azerupi commented on #430
That is a pretty good idea!
We can support that format and also support taking a path:
[code]
For when it becomes a bit unwieldy to keep it in the book.toml file.

[2017-09-09 22:11] azerupi commented on #387
Ok Travis has been revamped. It is very simple and doc / artefact deployment still has to be tested.
Next we should do the same for AppVeyor, I also noticed that AppVeyor does not do artefact deployment anymore so we should fix that.

[2017-09-09 22:12] azerupi commented on #421
Travis should work again with #429 :)

[2017-09-09 22:12] #421 closed

[2017-09-10 03:18] agauniyal commented on #379
Waiting for next release as well, any ETA we could get at this point 😄 ?

[2017-09-10 07:08] azerupi commented on #379
A new release has been made recently (0.0.25) it's not the 0.1 that we promised because the docs are not up to date yet, but it contains all the changes that were meant for the 0.1 :)

[2017-09-10 07:08] #379 closed

[2017-09-10 07:34] agauniyal commented on #379
Thankyou so much @azerupi :)

[2017-09-10 07:41] agauniyal commented on #370
Would it be possible to check for rust code explicitly since I'm thinking of using mdbook for other languages as well 😸

[2017-09-10 09:07] budziq commented on #370
@agauniyal could you describe what is your problem exactly?
Currently you can add other language code snippets by specifying the language name in the markdown fenced block

<pre>
[code]
</pre>

You'll get syntax highlighting (not all languages are supported but particular one can be added on request).
`mdbook test` and play button will not work.

[2017-09-10 12:34] agauniyal commented on #370
Oh I misunderstood the issue then 😅. Its okay to use different codeblocks for different languages in single book, right? eg

[code]

[code]

[2017-09-10 12:42] budziq commented on #370
Sure! We also support highlighting several markups. You only loose the additional functionality available for rust codeblocks that I've mentioned.

[2017-09-10 12:47] agauniyal commented on #370
And expanding on that, is it possible to add similar play button for other services like - https://wandbox.org/ or embedding [godbolt](https://xania.org/201611/compiler-explorer-now-supports-embedded-view) views. Wandbox provides similar play button service but for plethora of other languages throught same api (including rust) and godbolt is lang->asm converter for languages like c/c++, d, rust et

[2017-09-10 12:52] budziq commented on #370
Yep. We already have an issue for exactly that problem
https://github.com/azerupi/mdBook/issues/350 but I would not say it is of high priority at the moment.

[2017-09-10 12:59] azerupi commented on #379
I don't maintain the AUR package, so I am not sure if it is still maintained and if / when it will update. But I can speak for the releases. We have had some trouble with our CI infrastructure, so the release artefacts where not pushed to GitHub for the last couple of releases. Hopefully this will be fixed for the next release.

In the mean time, you can install from crates.io using cargo :)

[2017-09-10 12:59] agauniyal commented on #350
+1 for godbolt. I would like to present [wandbox](https://github.com/melpon/wandbox/blob/master/kennel2/API.rst) as common denominator here as well.

[2017-09-11 03:53] behnam opened #431 "Support in-repo links, with verification and output-dependent conversion"
While updating the new Cargo manual and preparing it for a release, I realized one big part of the work I was doing was to make sure the internal links are valid, after moving many pages around.

This made me realize that we don't have link verification for in-repo links, and partly it's because of the fact that the MD source files are linking to the HTML output files, but not to the respective MD

[2017-09-11 03:54] behnam commented on #431
By the way, a side benefit of this is that the links will work in github rendering of the MD files, allowing easier *source view* and transition between pages.

[2017-09-11 20:01] azerupi commented on #368
I just noticed that "copy to clipboard" is only available for Rust snippets. I would make it available on any code snippet. I am documenting it like that and we should fix it before the 0.1 release :)

[2017-09-11 20:11] budziq opened #432 "copy to clipboard is available only for rust snippets"

[2017-09-11 20:12] budziq commented on #368
agreed. I've created an issue for it
https://github.com/azerupi/mdBook/issues/432

On 11 Sep 2017 22:01, "Mathieu David" <notifications@github.com> wrote:

[2017-09-11 20:14] azerupi commented on #368
Thanks :)
I am going through the whole user guide updating where we need. I think I might be able to finish the documentation tonight. If I still have sometime left I will do the clipboard issue too. After that we should be good for a 0.1 release! :tada:

[2017-09-11 22:26] azerupi commented on #368
I can't get the Ace editor to work now, so I can't document it. I checked what I already covered in the documentation. I will push what I have to a branch. I will continue later.

[2017-09-11 22:31] budziq commented on #368
Awesome!

I've stumbled on it just today when bumping mdbook version for rust-cookbook.
You need to enable it both in book.toml and annotate each snippet with `rust,editable` for it to work but I've decided against enabling for now as ACE goes wonky with `#` hidden lines.

[2017-09-11 22:36] azerupi commented on #368
Oh I got it to work now!
I think it was a problem with enabling it while I used `mdbook serve`. Stopping the serve, running build and running serve again fixed it. :)

But it's late, I will continue another day 😉

[2017-09-12 07:50] budziq opened #433 "tests/testing.rs tests spuriously fail on latest nightly"
Either `mdbook_can_correctly_test_a_passing_book` or `mdbook_detects_book_with_failing_tests` fails in latest nightly

[appveyor nightly fail](https://ci.appveyor.com/project/azerupi/mdbook/build/job/2gn6q77kyps7w4dh)
[travis nightly fail](https://travis-ci.org/azerupi/mdBook/jobs/274377653)

[2017-09-12 08:25] azerupi commented on #433
Hmmm another nightly regression?
I will look at the logs in more details later today.

[2017-09-12 10:53] budziq commented on #433
looks like it's either problem with rustdoc or rustup.

calls to `rustdoc --test ./path/to/file.md` when run with nightly toolchain (`rustup default nightly` or `cargo +nightly`) will always fail:
- on linux silently without ever setting the error code (giving false possitives)
- on windows with "command failed: `rustdoc.exe`"

[2017-09-12 13:31] steveklabnik commented on #433
Yes, this is a bug in nightly Rust; it will be fixed soon. Nothing to do
here really.

On Tue, Sep 12, 2017 at 6:53 AM, Michał Budzyński <notifications@github.com>
wrote:

[2017-09-12 15:04] azerupi commented on #433
Ok, thanks! :)

[2017-09-12 15:52] steveklabnik opened #434 "Excluding some tests?"
So, in https://github.com/rust-lang/rust-by-example/pull/897, I'm porting RBE to mdBook. 🎊

There's one thing that's apparently still missing though: some of the examples start out failing to compile; the idea is that you should fix them. This means that `mdbook test` will fail, as they aren't compiling. I could mark them `ignore`, but then the Run button no longer shows up, which means you can't

[2017-09-12 16:40] budziq commented on #434
AFAIK the `ignore` and `no_run` annotations are the only way to make rustdoc to omit unwanted tests (but you would know it already ;)). Our web UI tries to follow the convention here. The best I can think here is to add another rust fenced block info string like `force_runable`  to enable the play button regardless of `ignore` / `no_run` / crate availability. I guess that this is a use case that m

[2017-09-12 16:48] steveklabnik commented on #434
Yeah, sounds about right.

What I could do is not rely on `mdbook test`, and write my own little thing that calls `rustdoc --test` on every file except a blacklist...

Yeah. It really just depends on if we think this is important enough to support. It's fairly niche, given that many crates won't even work on the playpen...

[2017-09-12 16:59] budziq commented on #434
Well RBE would probably be a second most important client after the rust book so it would be a fairly important niche :)

Practically all libz blitz crates were added to the play.rlo recently and we dynamically test for their availability. But I would not like to try to support all of the possible combinations via infostring (`force_runnable_only_when_crates_available` :smile_cat: )

[2017-09-12 23:09] steveklabnik opened #435 "Chapter named "print.html" brings up print dialog"
A chapter like this:

    - [Formatted print](hello/print.md)

when navigated to, brings up the print dialog.

I think we should check that it's the root's `print.html`, instead of any chapter named `print`.

[2017-09-13 02:02] Xaeroxe opened #436 "Overeager to delete files in destination"
In my repository I have folder called /book which contains the src files of our book.  I, not entirely knowing what I was doing with mdbook ran `mdbook build` in the root of the repository.  This builds a new book, and overwrote the src files in /book.  Luckily this is a git repository so I didn't lose everything but I did lose about a half hour of writing.  In order to prevent this in the future

[2017-09-13 16:31] steveklabnik commented on #435
This is effectively blocking RBE using mdbook.

[2017-09-13 16:32] steveklabnik commented on #434
@azerupi any thought on what the right thing to do here is?

[2017-09-13 18:22] azerupi commented on #435
https://github.com/azerupi/mdBook/blob/master/src/theme/book.js#L91

Is the line that is responsible for this behavior. I am not sure how we should change it yet.

[2017-09-13 18:34] azerupi commented on #434
I don't think I fully understand the issue.
So you want to skip the tests but still make the snippet runnable?
The only situation where I can imagine this being desirable is if you want to show the error messages in the book. But I don't think that would be the right way because error messages change etc.

I'm probably missing the real motivation behind this issue?

[2017-09-13 18:42] budziq commented on #435
I've been looking into it. Actually the print.md and print.html is hardcoded in few places in hbs_renderrer.rs to.

we can change it to something less likely to collide like:
- single_page_print.html
- cHJpbnQ_print.html with "cHJpbnQ" being base64 for "print" ;)
- {{some random string prefix}}_print.html (dynamically generated or hardcoded)

[2017-09-13 18:50] steveklabnik commented on #434
Consider this page: https://rustbyexample.com/hello/print.html

Here, there's some code showing you what to do with printing, but then there's this:

[code]

This code example doesn't work, and that's intentional; the idea is that you apply what you learned, fix the error in your browser, and click 'run' to see it work.

This code block will fail on `mdbook test`, and if we mark it as `ignore`, it

[2017-09-13 18:51] steveklabnik commented on #435
I wonder if this shouldn't be generated specifically on the print page, rather than on all pages and checking if it's the right one.

[2017-09-13 19:11] azerupi commented on #434
Oh yes, I understand now! :)
That is a tricky case, because adding a `run` annotation would be contradictory with `ignore` or `no_run`. It's not clear that one is for rustdoc and the other for mdBook. I would avoid any confusing / contradictory annotations if possible.

Maybe we should run snippets marked as `ignore` and require `no_run` for mdBook to not make it runnable? That would work and is m

[2017-09-13 19:14] steveklabnik commented on #434
That introduces a difference between how rustdoc works and how mdbook works though, which is confusing in its own way 😄

Hmmmmmmmm

[2017-09-13 19:14] azerupi commented on #435
Yes..! That is the best way to go!
Conditionally include an inline javascript snippet on the print page. It should be fairly easy to do with handlebars and will be the most robust solution. :+1:

[2017-09-13 19:17] budziq commented on #435
Right! But there would be still collision of the single page page printed content with any page generated from `print.md` -> `print.html`

[2017-09-13 19:26] budziq commented on #434
Yep. Both rustdoc and rust-skeptic follow the same conventions and I'd like for the play button in mdbook to emulate the behaviour in the common case (ie in the rust-cookbook). I would prefer to introduce something like `furce_runnable` if we need to cater to this edge case from RBE.

[2017-09-13 19:28] azerupi commented on #435
Hmmm I think that is acceptable?
We reserve the `print.html` name as well as `index.html` name at the root. We could lint for it too.

[2017-09-13 19:30] azerupi commented on #434
I suppose that, if we go that route, it would be better to namespace the annotation. `mdbook-runnable`?

[2017-09-13 19:31] steveklabnik commented on #434
👍 from me, I think this is the only way to do it. However, in the interest of keeping compatibility with the other tools, it would be `ignore,force_runnable`; so that way it's ignored for everyone else

This seems fine too; I wonder if maybe rustdoc shouldn't also grow this functionality though, in which case a generic name would make sense. Dunno. I'm happy with either.

[2017-09-13 19:33] steveklabnik commented on #435
This seems fine for me.

[2017-09-13 19:39] azerupi commented on #436
I suppose we could perform a couple of basic checks before deleting everything. I think I already heard someone making the same mistake and if we can avoid blindly deleting peoples work, then we should do it.

[2017-09-13 19:49] budziq commented on #435
:+1:

[2017-09-13 19:59] Xaeroxe commented on #436
Alternatively: requiring that a book.toml file be present would also avoid this in most circumstances.

[2017-09-13 20:55] budziq commented on #434
I've pushed a POC PR

[2017-09-14 08:46] dvberkel opened #441 "Copying resources into the destination directory"
**TL;DR.**  Is copying resources into the destination directory a feature @azerupi would want?

At the moment images need to have a standalone URL in order for them to be shown. When the files are served, e.g. from `mdbook serve` or via GitHub pages, they could be fetched from the same server.

I would therefore like to be able to configure mdbook to copy a resource directory into the destination

[2017-09-14 09:04] azerupi commented on #441
All files placed in your source directory should be automatically copied over to the output directory. So if you place your images in `src/img/...` everything should work.

Is that what you wanted or did I misunderstand? :)

[2017-09-14 09:06] dvberkel commented on #441
This is exactly what I wanted! :1st_place_medal:

[2017-09-14 09:06] #441 closed

[2017-09-14 15:44] #435 closed

[2017-09-14 16:48] #434 closed

[2017-09-14 17:57] steveklabnik opened #442 "Add tooltips for icons"
@shepmaster suggested tooltips for the various buttons, and I think it's a great idea!
<img width="55" alt="buttons" src="https://user-images.githubusercontent.com/27786/30445643-a5e9f774-9954-11e7-9c85-57de0c83994a.png">
 isn't very obvious

[2017-09-14 18:28] azerupi commented on #442
Closing as a duplicate of #388 :)

[2017-09-14 18:28] #442 closed

[2017-09-14 19:47] steveklabnik opened #443 "Styling flash on RBE"
This doesn't seem to be true 😄 Check out a page like https://rustbyexample.com/hello/comment.html; we get a flash of content.

[2017-09-14 19:58] steveklabnik commented on #442
Gah! sorry about that!

[2017-09-14 20:10] azerupi commented on #443
By flash you mean the code blocks being styled?
I may be wrong, but to me, the most probable cause for this is highlight.js, because styling happens after the page loads. The only thing I can think of that would effectively get rid of this flash is to style the code beforehand with something like [syntect](https://github.com/trishume/syntect) which is something I would like to experiment with.

Th

[2017-09-14 20:44] steveklabnik commented on #443
That's the biggest offender, yeah.

Ahh bummer :/ Hmmm

[2017-09-15 07:01] budziq opened #444 "styling regression on print media"
We seam to have a styling regression in post 0.0.22 versions.
![print_style](https://user-images.githubusercontent.com/221000/30470240-309e6644-99f4-11e7-8f0e-776ea73fa1a6.png)

The printed page should not have a left margin that big.

[2017-09-15 09:00] cetra3 commented on #51
There are two paths I can see with this implementation.

## Use Lunr JS in the front end

The first is simply using lunr.js and doing everything in the frontend (pretty inefficient as the site gets bigger).  This is something that [mkdocs](https://github.com/mkdocs/mkdocs/blob/master/mkdocs/search.py) does already.

Process would be to generate a JSON document that lunr.js can load and use to prov

[2017-09-15 09:09] azerupi commented on #51
Thanks for the input!

Yeah I think that loosing the static aspect is a really big drawback. I am not sure I would be willing to accept that. Gitbook uses Lunr, I think that is the way to go, at least for now.

[2017-09-15 09:19] budziq commented on #51
Unfortunately introducing dynamic backend requirement as a requirement would be a nogo for me in terms of rust-cookbook maintenance :disappointed:.

I would also go with the Lunr.js. It seams really snappy on large gitbooks (on par or larger than rust-book) that I've tested sofar (both when searching the index and with full text search). I think that we might think about optimization once we encou

[2017-09-15 09:21] cetra3 commented on #51
Yep, I figured that a dynamic backend wouldn't be appropriate, but put it out there as a possible option.  I still like the WASM idea though!  Don't know if that is feasible at this stage, but would be awesome.

Is NPM/Node already a requirement for building using mdbook? I couldn't see a package.json anywhere.  If so, you can use lunr.js to [prebuild](https://lunrjs.com/guides/index_prebuilding.h

[2017-09-15 09:23] azerupi commented on #51
It is not required for building mdBook, but it is required as a dev dependency to compile the stylus files.

[2017-09-15 09:35] cetra3 commented on #51
You can either supply a list of documents in json format and have lunr build the index in the browser.  This is simple because the json is basically just field and value.  But it does mean it is a bit slower.

Building the index ahead of time seems a bit [less trivial](https://github.com/olivernn/lunr.js/blob/master/lib/builder.js), and while doable, I think would involve reimplementing quite a lo

[2017-09-15 09:41] azerupi commented on #51
If there is some sort of "specification" of the JSON index that Lunr uses we can decide if we construct it ourselves or not. I am under the impression that it could be relatively easy to do with Serde. We could then release it as a separate crate that anyone can use, I'm sure other people would find it useful :)

[2017-09-15 15:12] steveklabnik commented on #51
One thing that I'd like to consider, just generally, is a way to do this separate from mdbook directly; that is, I have dreams of rustdoc integrating mdbook someday, and ideally search would work across all docs, not just the book. If there's a way to make that possible here, that'd be extra amazing. At the minimum, a way to turn mdbook's built in search off would enable this.

It's far-future wor

[2017-09-18 16:42] budziq commented on #341
closed by #445

[2017-09-18 16:42] #341 closed

[2017-09-18 20:19] budziq commented on #444
closed via #446

[2017-09-18 20:19] #444 closed

[2017-09-19 10:48] prertik commented on #357
I want to work on this. Any guidelines?

[2017-09-19 19:37] steveklabnik opened #448 "initial pageload has `"light"` set as the theme"
Originally found in https://github.com/rust-lang/rust/issues/44704#issuecomment-330648133

mdbook stores the current theme in localstorage. This changed between 0.0.23 and 0.0.25, with https://github.com/azerupi/mdBook/pull/337 and https://github.com/azerupi/mdBook/pull/324

It basically looks like this:

[code]

However, if you visit a book generated by 0.0.25, and run this in your JS console:

[

[2017-09-19 20:06] steveklabnik commented on #448
/me sighs
<img width="168" alt="store" src="https://user-images.githubusercontent.com/27786/30613022-8ea05d3e-9d54-11e7-8319-4b6ba75a26ac.png">

[2017-09-19 20:10] steveklabnik commented on #448
So, one possible solution here is to pick a new key, so that the older mdbooks don't get their theme stuff clobbered. It's not ideal, but at least it works...

[2017-09-21 02:35] projektir commented on #443
Some of this is also the Ace editor taking time to load?

There's a styling flash in the Rust Book, so that definitely seems to be highlight.js.

[2017-09-21 04:23] Zengor opened #451 "Add support for playground tests"
Discovered in https://github.com/rust-lang/rust-by-example/issues/593. PR #450 is the first step to fixing this, but before going on I wanted to get comments on how to go about it.

This could be achieved this by doing [the same thing the playground frontend does](https://github.com/integer32llc/rust-playground/blob/bc42662817a1c160574fa1d72384add0a15f6906/ui/frontend/selectors/index.js), but I wa

[2017-09-21 14:17] budziq commented on #51
@azerupi I've reached out to the lunr.js guys. The required work might be a little more involved than expected but they are [eager to help](https://github.com/olivernn/lunr.js/issues/299#issuecomment-331162758)  with inderstanding the fine details.
The JSON schema is described [here](https://github.com/olivernn/lunr-schema)

[2017-09-22 16:48] vandenoever commented on #88
A very naive conversion that works pretty nice for the rust book second edition:
[code]

[2017-09-22 18:08] dkotrada commented on #88
my 2 cents https://github.com/tectonic-typesetting/tectonic

[2017-09-23 16:50] budziq commented on #88
@vandenoever thanks, this seams similar to what @killercup had provided in https://github.com/killercup/trpl-ebook

@dkotrada tectonic looks interesting! I understand that it does require 3'rd party tools to convert TeX/LaTeX to pdf. Am I right?

[2017-09-23 18:37] dkotrada commented on #88
@budziq yes you are right.

[2017-09-23 18:42] #448 closed

[2017-09-23 19:34] azerupi commented on #451
I read through this and the linked issue on RBE, I think I understand the issue. But it is not clear to me how it should work in practice. In the example linked by steve, should the test run or not?

Adding extra annotations could be an option. I don't think that other future playgrounds for other languages should be an issue here. Each language will have it's own playground and eventually expose

[2017-09-23 19:38] budziq commented on #451
Hmm, at the moment we are searching the snippet code for "feature" to switch to nightly compiler. We could do exactly the same with "#[test]".

[2017-09-23 20:01] azerupi commented on #51
@budziq Thanks a lot for the initiative!
I am going to take some time to figure out the JSON schema. The idea of leveraging tantivy to generate the  index is interesting. I'm not sure how feasible it is.

[2017-09-23 20:04] budziq commented on #51
We could also think about stealing [rustdoc's search code index generator](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/render.rs) although its not really general purpose

[2017-09-24 00:25] steveklabnik commented on #51
We are basically not considering that a viable move forward for new rustdoc, as it's home-grown and not very good.

[2017-09-25 10:54] azerupi commented on #51
@steveklabnik what solution is considered in the new rustdoc? It might be better to join forces on this.

[2017-09-25 13:12] steveklabnik commented on #51
We haven't gotten that far yet; joining forces would be a great idea.

[2017-09-26 22:55] Havvy opened #453 "Add header.hbs"
Both the second edition of The Rust Programming Language and The Rust Reference put up a warning at the top of each page. To do this, we currently have our own `theme/index.hbs`. While this works, it does sort of pin us to a specific release of mdbook. We can occasionally rebase against index.hbs, but that has to be remembered to be done and takes away time from working on other things.

It'd be n

[2017-09-27 12:33] budziq commented on #453
Actually I was thinking about the exact same feature for some time to split the index.hbs into few sections with default implementation. Candidates for such extraction would probably be:
- sidebar
- button bar (this one actoulalby be required by "Rust Cookbook")
- header (needed by "The Rust Programming Language" and "The Rust Reference")
- footer

[2017-09-27 15:15] steveklabnik commented on #453
The Cookbook also does this, but for othe things.

[2017-09-30 07:21] Michael-F-Bryan opened #455 "Multiple books on the same host contaminate each other"
If multiple books are on the same host, changing the theme on one can magically change the theme on all the others.

Steps to Reproduce:

1. Open up the first and second versions of the Rust Book in separate tabs
2. Go to the first book and change its theme
3. Refresh the second book's tab

You'll probably also see this if you use mdbook on multiple projects and have them hosted on GitHub Pages.

[2017-09-30 08:01] projektir commented on #455
Bug or feature? :grinning:

[2017-09-30 08:53] azerupi commented on #455
Indeed, for some this can be a feature and for others this can be a bug. I am not sure what behavior we should adopt. If we conclude this is a bug, then prefixing all keys with the book's title should be enough.

[2017-09-30 09:09] Michael-F-Bryan commented on #455
It might be worth asking someone on the Rust docs team, seeing as they're the group most affected by this.

From a purity perspective I'd call this a bug. It's pretty much a web version of global mutable state and data races.

[2017-09-30 11:48] budziq commented on #455
It might be nice for people wanting to set coherent dark theme everywhere but its unexpectedly shared between domains. Moreover, not all mdBook clients are related to docs team or rust at all. So certainly a bug!

[2017-09-30 13:41] azerupi commented on #455
I doubt that, localstorage, or any other web storage, is scoped per domain as far as I know. I am not sure how sub-domains are handled though.

[2017-09-30 14:19] budziq commented on #455
Right I forgot about it!

[2017-09-30 14:31] Michael-F-Bryan commented on #455
It doesn't just affect dev environments though. For example, I've got multiple repositories which use mdbook and are published to GitHub Pages (e.g. my [FFI guide]). These will all be affected, likewise anyone else who has multiple books published to GitHub pages will be the same.

And of course, other big case of multiple books on the same domain is the multiple Rust Book versions and the Nomicon

[2017-10-01 00:33] mattico commented on #51
I have [a port of elasticlunr to rust](https://github.com/mattico/elasticlunr-rs) which may be useful. It's pretty early, but I plan on fleshing it out over the coming weeks.

[2017-10-01 02:10] Michael-F-Bryan opened #458 "Spaghetti Time!"
As mdbook has grown and gained features over time, a couple bits and pieces have suffered from rightward drift or turned into spaghetti code. I'm noting down a list of problem areas which need a little TLC.

This is just standard refactoring and code cleanup, so would be great as a first contribution.
If you want to help with the cleanup, make a comment here so we can assign it to you. I'm also av

[2017-10-01 02:12] Michael-F-Bryan commented on #458
@azerupi or @budziq, let me know if you can think of other places which could do with a little refactoring/cleanup.

[2017-10-01 04:25] huangjj27 opened #459 "bug: can't back to chapter after toggle the content on mobiles"
as is shown in the image follow, when I toggle the content, I can't back to the chapter that I was reading:
![image](https://user-images.githubusercontent.com/8068443/31051746-67a5b41a-a6a3-11e7-815a-f86f0308354e.png)

also, the printer icon also _shouldn't appear in the content.

please fix the bug soon!

[2017-10-01 05:23] prertik commented on #458
I am interested in this but a bit disappointed that my PR hasn't still been merged. I think if you label this `hacktoberfest`, it would be amazing.

[2017-10-01 06:18] budziq commented on #51
@mattico Awesome!

cc @phaiax

[2017-10-01 10:00] olivernn commented on #51
@mattico looks like a good start, I'm curious though why you went with elasticlunr instead of Lunr?

I might take a stab and putting something similar together for Lunr, I'm an enthusiastic amateur (at best) when it comes to Rust so will probably take it slow.

[2017-10-01 10:03] steveklabnik opened #460 "release a new version?"
We need to update the rust docs by Friday; should I cut a new version now, or are there PRs we want to land first, @azerupi ?

If we can't make the release, we'll have to go back to a previous version, but that reintroduces new bugs, so I'd rather not :)

[2017-10-01 10:59] azerupi commented on #460
I think we can publish a new version. I skimmed through the open PRs and there is nothing high priority to merge.

[2017-10-01 16:49] mattico commented on #51
@olivernn no big grand reason.

I liked that elasticlunr supported boolean queries, query-time boosting, and that its indexes are smaller. It uses a standard Inverted-Index which was easier to understand, though recursive trees like that are always a bit of a pain in Rust.

On the other hand, its documentation is not as good, it's not as popular (I assume), and none of the above features are super

[2017-10-01 23:41] budziq commented on #51
@olivernn @mattico @phaiax I'm thrilled that you are all interested in this super important feature. I'm basically game with whatever you decide on using :+1:

[2017-10-02 08:16] Phaiax commented on #51
@mattico I could also bring some of my time to this project, so I just go and do the UI and client side stuff. (hope you did not start that as well :D). Branch: https://github.com/Phaiax/mdBook/tree/search-eljs

[2017-10-02 08:20] budziq commented on #51
awesome!

[2017-10-02 12:58] Phaiax commented on #51
I did a first stab at the UI, please comment. For demonstration purposes, it indexes the current visible page with elasticlunr.js and searches that.
https://phaiax.github.io/mdBook/cli/init.html
 * `S` is the search hotkey
 * Currently uses 'AND' for the search criteria, but 'OR' would also be fine because of the scoring, but gives way more results.
 * I chose `<h1>/<h2>/<h3>` as the document divi

[2017-10-02 13:15] #460 closed

[2017-10-02 15:04] azerupi commented on #51
Nice! Very cool :)

Displaying the search results in the sidebar is pretty cool, but it limits the number of results we can display at any one time. I'm also not sure if it will be usable on mobile.

What about something like rustdoc or having a dropdown list with the results? This would give a little more playing room to display the results in a comprehensive way.

If we do something like rustdoc

[2017-10-02 18:01] mattico commented on #51
@Phaiax go for it! I'm not very experienced with web stuff.

Having each section be a separate document does seem to be the way to go. With the way fields are added to documents, you can't really support subsection headings unless each section is a document.

For results on other pages, I was thinking using `history.pushState()`. We could add url parameters that tell an in-page bit of JS where the

[2017-10-02 18:15] olivernn commented on #51
Lunr will only return you whatever you defined the 'document' reference to be, though this can be used to look up a title or summary from some other data structure.

Sounds like a url fragment, e.g. `#some-heading`?

[2017-10-02 18:20] mattico commented on #51
Sure, plus a span for highlighting `#some-heading?s=47&l=6` "Start at the 47th character of the body text and highlight the next 6 characters".

[2017-10-03 01:17] Phaiax commented on #51
I moved the search results to the center, added history functionality, and fixed mobile for chrome on android at least. Probably need browser cache flush (Ctrl+Shift+R):  https://phaiax.github.io/mdBook/cli/init.html

I also tried to integrate `elasticlunr-rs`, but I did not use the resulting index on the browser side. https://github.com/Phaiax/mdBook/commit/ac236e88edb5b99cf3f05f0bf75371f013d20f2

[2017-10-03 05:57] lilianmoraru commented on #51
@Phaiax This looks darn nice.
These is one issue though, it can search only within the same page(not the entire book).
Example: Trying to search for "MathJax" on that first page would not find anything.

[2017-10-03 06:36] azerupi commented on #51
@Phaiax great job! That looks very slick!

@lilianmoraru yes, it is just a design proposal for now using the current page as a sample. We still need to build an index during the build and hook the two up. But this is a great step forward! :)

[2017-10-03 11:42] budziq commented on #398
merged

[2017-10-03 11:42] #398 closed

[2017-10-04 17:43] olivernn commented on #51
So, I've put together a basic implementation of a [Lunr backend in Rust](https://github.com/olivernn/lunr.rs). It works, the included example will generate an index that can be loaded by lunr.js.

There is a lot still to do, I've opened issues trying to cover the major ones. Also, as previously mentioned I'm still new to Rust so I'm positive there are a thousand ways the implementation could be im

[2017-10-05 12:14] steveklabnik opened #463 "book is not truly offline"
Originally filed as https://github.com/rust-lang/rust/issues/44826

It'd be good to have a 100% offline mode for the local docs. We *used* to do this; I'm assuming some stuff sneaked in!

[2017-10-05 14:26] azerupi commented on #463
There have been a lot of different issues with the CDN related code. I am beginning to think we should remove it altogether. Loading everything from local sources would solve this issue.

[2017-10-06 13:47] jacwah opened #464 "Theme confusion"
I noticed the styling of the online Rust book being very weird today. I didn't remember it looking that way the last time I visited it (some months ago). Just resetting the theme with the drop-down menu fixed the issue.

After some digging around I found the `theme` key in local storage and played around with it a bit. Setting it to a bogus value restored the weird styling I saw before.

<img widt

[2017-10-06 16:39] steveklabnik commented on #464
This should have been fixed by https://github.com/azerupi/mdBook/pull/449

can you try clearing out local storage and trying again?

[2017-10-06 17:16] jacwah commented on #464
To be clear, everything is working fine after clearing local storage or setting a theme from the menu. I no longer have the problem because setting the theme clobbered the offending value.

It doesn't look like #449 is being served. https://doc.rust-lang.org/book/second-edition/store.js is a 404, so my browser is using a cached version which uses the `theme` (not `mdbook-theme`) key! Maybe that's

[2017-10-06 18:09] steveklabnik commented on #464
You're looking at the stable URL there, you need to look at nightly to see store.js.

[2017-10-06 18:10] #464 closed

[2017-10-09 00:44] Michael-F-Bryan commented on #463
Would it be better to vendor all required static assets and have them embedded in the `mdbook` binary? Then whenever we want to change/update an asset, it'll be added to the `themes/` directory with a corresponding `include_bytes()`.

[2017-10-09 10:56] jacwah commented on #463
Vendoring js assets through `include_bytes!` would be easier if we first concatenate them to a single file. This could be done through a build step similar to regen css.

    cat src/theme/*.js > src/theme/vendor.js

Then there's only a single file to vendor. This would probably improve performance as well, since fewer http requests are made from the browser.

[2017-10-09 11:09] jacwah commented on #459
Can reproduce in Chrome devtools with small screens. The reason is that sidebar has a fixed width of 300px, which is too wide for e.g. an iPhone 5 with screen width of 320px.

https://github.com/azerupi/mdBook/blob/c64384abc3df85354f524332d91d3d286bf8d4c3/src/theme/stylus/variables.styl#L1

[2017-10-09 11:15] jacwah commented on #399
Is this resolved by #466?

[2017-10-09 11:37] Phaiax commented on #51
[The search is usable now](https://phaiax.github.io/mdBook/README.html) .
Currently the generated index does not work properly, but I have not investigated yet. As a workaround, I use the documents in the index to regenerate it in the browser :D .

I'm not sure about the design of the results and the preview text yet.

Has anyone an idea for an algorithm to select a better snippet from the unforma

[2017-10-09 11:54] azerupi commented on #399
Was that all the clippy warnings?
I am surprised we got so few warnings on the whole code base 😲

[2017-10-09 13:16] Michael-F-Bryan commented on #463
I'm not sure how well this would work out. We currently allow people to override various CSS/JS files if they are present in a `src/themes/` directory. If the vendored versions were all concatenated together then I don't know how easy it'd be to split them apart again to exclude one or two that the user has overridden.

[2017-10-09 13:31] jacwah commented on #399
#466 fixes all but the two warnings I listed. I'm not sure what to do about those, so would love some feedback :)

[2017-10-09 13:33] jacwah commented on #463
Oh, right. I was unaware of that.

[2017-10-10 23:44] budziq commented on #459
Thanks for reporting this issue @huangjj27!

This looks like a regression, we used to have this **exact** usecase under control.

Untill the issue is resolved you can either:
- Select onenof the chapters to close the sidebar
- Scroll horizontally to the right exposing the hamburger menu

Probably we need to have sidebar width bounded between 300px and screen width percent.

Would you be interested

[2017-10-10 23:47] budziq commented on #344
Already present in ci

[2017-10-10 23:47] #344 closed

[2017-10-10 23:57] budziq commented on #51
This looks and works awesome! :+1:
The only suggestions I would have would be to:
- limit the number of results (or make it configurable)
- make the search highlight less permanent (currently there is no way to remove it other than page change or triggering empty search)
- is there a way to prioritize the results matching chapter titles or headings?

Also a slightly off topic question, would there

[2017-10-11 00:17] cetra3 commented on #51
For the snippets, have a look at how solr handles this: https://lucene.apache.org/solr/guide/6_6/highlighting.html

[2017-10-11 01:10] huangjj27 commented on #459
@budziq I think you could make it responsive and just make the toc button shown in the right edge, as the gitbooks does.

[2017-10-11 07:47] azerupi commented on #399
I would mark them as allowed (or ignore? whatever clippy understands) on a case by case basis. We should avoid disabling the warning on the whole code base and evaluate every instance as they come.

[2017-10-11 08:31] budziq commented on #459
Good call! We are very low on webdev contributors (I am certainly not one ;) so the idea did not even occur to me)

[2017-10-11 09:33] huangjj27 commented on #459
@budziq

It's not about the skill level of software development, but the real usage story of the product. I'm a user, as well as a tester, and thus I could more easily know what I really want.

[2017-10-11 12:29] jacwah commented on #459
I'll look into it!

@budziq Do you know a point when this was working?

[2017-10-11 14:25] budziq commented on #459
@jacwah I've just done a quick bisect. Unfortunately it is not a regression but a persisting bug. We have tested only with mobile screen sizes of iPhone6 and up (I just remembered that there was commit fixing the layout for screen sizes of iPhone6 and up).

The layout was always broken on lower screen sizes. So my bad for misinforming you.

[2017-10-12 04:35] jaroslaw-weber opened #468 "give more control over handlebars template"
current menu and content of the single page is entirely generated from code and not very flexible.
is it possible to pass only data and let the user decide how to style and place the elements?
I tried to use bulma with mdbook but it would require rebuild page after a load which is not a realistic solution.

[2017-10-13 19:42] jacwah commented on #459
I've looked at a responsive solution using `calc`. Due to my lacking experience with CSS and Stylus being completely new to me I haven't gotten it to work.

A quick fix is to just reduce the width. Something responsive seems like a more appropriate and long-term solution though.

[2017-10-18 12:07] #399 closed

[2017-10-22 14:17] Phaiax commented on #51
@budziq
 - Limiting the number of search results is possible, but i'll wait until the config overhaul is done
 - Search highlight is now removed when Esc is pressed. Is that enough?
 - Yes, the different fields of a search document can be 'boosted', that means prioritized. Just a number, but I will make that configurable.
- For the custom metadata: It is always possible to add a `<metadata>Crates:

[2017-10-22 14:18] Phaiax commented on #51
For the snippets, I chose my own algorithm, understanding the complex solr highlighters would take to much time.

[2017-10-22 15:50] budziq commented on #51
@Phaiax very cool!

I'd probably want the highlight as unsticky as possible (possibly removed on any kind of interaction). But someone with actual UX knowhow should probably give us some insight. For now I'd be happy to just have a js func to clear the highlight.

We might consult other stakeholders.
cc @steveklabnik & @carols10cents do you have any thoughts on how the search in RBE / TRPL should

[2017-10-23 01:25] dtolnay opened #473 "Render checklists"
I would expect the following markdown to turn into a checklist, as it does on GitHub.

- [ ] A
- [ ] B

[code]

Instead it turns into:

![73d8927b-7f27-4bb2-8fe5-66ef9ea4a006](https://user-images.githubusercontent.com/1940490/31868630-00d45a7a-b756-11e7-91f5-b58ad06c8ed1.png)

---

I use a checklist in https://serde.rs/derive.html from which it may be possible to port over the style.

[2017-10-23 05:11] budziq commented on #473
Hi,

Checklists are outside of the commonmark spec. There is a [request to add these as an extension in pulldown-cmark](https://github.com/google/pulldown-cmark/issues/28) but it has zero traction so far.

[2017-10-23 06:36] lilianmoraru commented on #51
This doesn't need to be perfect from the beginning.
This already improves the experience significantly(especially for the Rust book and the reference).

[2017-10-23 08:42] budziq commented on #51
Totally agree

[2017-10-24 16:21] marcusfollrud commented on #408
I took a stab at this and failed miserably, while waiting for this fix i simply added an additional JS that alters links with .md files to .html

`$(document).ready(function(){
    $("a")
    .each(function()
    {
    this.href = this.href.replace(".md",
        ".html");
    });
});`

[2017-10-25 00:28] jaroslaw-weber opened #475 "too heavy on mobile"
mdbook has lot of features but its getting heavy on mobile. i was able to make a static website with most of the functionality and go down to 70kb (cookbook is 250, rust book is over 300) so i think there is a room for improvement.

what can we do:
- remove jquery
- create custom icon pack
- ... ?

[2017-10-25 00:39] jaroslaw-weber opened #476 "mobile user experience"
i was working on cookbook but i think it would be better to write it here as its a problem of all docs using mdbook. mdbook works ok on pc, but some mobile aspects could use improvement.
- menu - opening it on half width looks weird and ugly. we should open it full width.
- menu animation - do we really need it? its super heavy on mobile
- playpen buttons - too small, maybe put it outside?
- playp

[2017-10-27 12:46] #388 closed

[2017-10-31 04:09] anirudh24seven opened #479 "Some styling (theme) doesn't load in Chrome"
I was trying to read Rust's documentation locally when I noticed that it doesn't contain some styling. I was asked to check my browser console and there was an issue with accessing local storage. This is because I am blocking third-party cookies in Chrome (default settings).

Issue doesn't happen in Firefox 56.0.2 (or when I disable "Block third-party cookies" in Chrome).

# Styling issue screensh

[2017-10-31 10:02] budziq commented on #479
Hi, this is fixed in mdbook since 0.0.26 but the
TRPL has not upgraded yet.

ping @steveklabnik

[2017-10-31 14:42] steveklabnik commented on #479
Ah ha! I didn't know this. We've upgraded to 0.0.26 on master, I believe that it'll be in beta too, but most importantly, this will end up being fixed by a new release, maybe the next one, maybe the one after that. Thanks so much for reporting @anirudh24seven !

[2017-10-31 14:42] #479 closed

[2017-11-02 10:35] StefanSchoof opened #480 "[Usability] Changing Chapter removes focus from main area"
I read the [Rust Book online](https://doc.rust-lang.org/book/second-edition/) on a Desktop Firefox. Using the arrow key to scroll down and up while reading. After the end of a chapter I press the left arrow and get to the next chapter. But now the main windows has lost the focus and I have to click in the man area to get scrolling with arrow down and up again.

[2017-11-05 03:00] baxebu opened #481 "Why are there no recent builds for windows?"
Hello! Why are there no recent builds for windows? The latest version is build a long time Mar 11 2017? Why are you ignoring Windows?

[2017-11-05 13:46] steveklabnik commented on #481
I use mdbook on Windows daily, though I don't use the binary builds.

I'm sure something just went wrong in the deploy process.

[2017-11-06 00:49] baxebu commented on #481
Can you add the latest builds for windows? I always want to see the latest builds in releases?

[2017-11-06 15:19] azerupi opened #482 "Project Maintenance Discussion"
Since last year, due to other projects, interests and scholar obligations, I have less and less time to maintain this project. I initially started this project to familiar myself with Rust and I think I achieved that goal. I now have different interests where I want to invest some time in. Therefore, I don't have the bandwidth anymore to maintain this project. In the last months, a lot of people h

[2017-11-06 19:04] steveklabnik commented on #482
Thank you for making this, and putting in all this work over such a long period of time! <3

I'm happy to at least help, but can't devote a *ton* of time; mostly working on stuff that's relevant to the features we use for the books in the rust distribution.

Given that we do use this internally, I wonder what the libs team would think about moving it to the nursery.

[2017-11-07 05:22] Michael-F-Bryan commented on #482
Thanks for everything you've done so far @azerupi! This has turned out to be a massively useful project and even now I use it all the time for documentation or writing up little guides on the side :)

I'm happy to put my hand up as a maintainer. Although it may also be a good idea to have two or three core maintainers to help share the load and increase the bus factor a bit.

[2017-11-07 09:16] budziq commented on #482
Thanks for this awesome project and all the help you have given the community!
Recently I'm finding myself with little free time to work on my Open Source commitments so taking on full maintainership here might be detrimental to the project :disappointed:. But I'll try to help out some more especially in the areas relevant to rust-cookbook.

I second Steve on puling the repo to rust-lang-nursery,

[2017-11-08 12:04] cetra3 commented on #51
What's the status of this? Ready for a PR or is there some more work to be done?

[2017-11-08 18:36] Phaiax commented on #51
I am just waiting for #457 , but that would not really be a blocker.
And I have to do some additional work with the index generation, maybe I am doing this today.
@cetra3 if you want, you can do a review of #472 which is the PR to this issue.

@azerupi Where are youuuuuuu? :smiley:

[2017-11-08 18:37] Phaiax commented on #51
I am just waiting for #457 , but that would not really be a blocker.
And I have to do some additional work with the index generation, maybe I am doing this today.

@cetra3 if you want, you can do a review of #472 which is the PR to this issue.

@azerupi Where are youuuuuuu? :smiley:

[2017-11-08 19:23] Phaiax commented on #51
I am just waiting for #457 , but that would not really be a blocker.
And I have to do some additional work with the index generation, maybe I am doing this today.

@cetra3 if you want, you can do a review of #472 which is the PR to this issue.

[2017-11-08 19:23] Phaiax commented on #51
I am just waiting for #457 , but that would not really be a blocker.
And I have to do some additional work with the index generation, maybe I am doing this today.

@cetra3 if you want, you can do a review of #472 which is the PR to this issue.

[2017-11-08 23:15] cetra3 commented on #51
Looks good! I have noticed a couple of things but not major, and are related to some other issues (#463 and https://github.com/mattico/elasticlunr-rs/issues/2)

[2017-11-09 14:54] Michael-F-Bryan commented on #482
@steveklabnik, do you know what would be required to move mdbook to the nursery?

[2017-11-09 15:16] budziq commented on #482
From purely technical point. @azerupi Will have to initiate the transfer to rust-lang-nursery account and one of the org members will have to accept.

From the logistics point of view I'm guessing that Steve will discuss the issue with libs team if they are interested in accepting the ownership.

[2017-11-09 15:24] budziq commented on #51
@Phaiax & @cetra3 The repo is currently [looking for new owner maintainer](https://github.com/azerupi/mdBook/issues/482). We (the collaborators) will try to help some more in the meantime. I'm especially interested in this PR and hope to start nudging it forward in the upcoming days.

Thanks!

[2017-11-09 15:56] steveklabnik commented on #482
Yes, that's correct. I actually even have permissions over there, IIRC, so
it's really just the social bit. I'm travelling right now so it's a bit
complicated for me, but should be able to find out in the next week or so.

On Thu, Nov 9, 2017 at 10:16 AM, Michał Budzyński <notifications@github.com>
wrote:

[2017-11-09 16:37] azerupi commented on #482
That would be awesome, I would be honored. :)
When you have more information about that, let me know so that I transfer the repository. In the mean time, @Michael-F-Bryan I will add you as a maintainer!

[2017-11-10 04:18] Michael-F-Bryan commented on #482
Awesome! In the meantime I've got a couple hours to kill so I might start doing a couple code reviews. I'm in the same boat as @budziq though in that I'm more of a systems-level programmer than a front-end dev.

[2017-11-10 21:13] aturon opened #483 "Allow for non-link parent items"
I'd like to have a layout like this:

1. A chapter about foo
  - Section 1
  - Section 2
2. A chapter about bar
  - Section 1
  - Section 2

where the top-level chapter items are *not* links, but rather, each chapter begins with the first subsection.

[2017-11-10 21:23] aturon commented on #483
In particular, I'm going for something like this: https://tokio.rs/docs/getting-started/tokio/

[2017-11-10 22:33] budziq commented on #483
This can be somewhat achieved already as it is:
![untitled](https://user-images.githubusercontent.com/221000/32681006-ad02e4c6-c66d-11e7-8f4c-6d63ba1c2540.png)

with empty SUMMARY.md links although the styling will be off.

[code]
Short term and ugly solution is to change the css. Cleaner solution is to add another type of SUMMARY.md links.

Just to be clear. Are you thinking about  TOC on the sid

[2017-11-11 03:44] Michael-F-Bryan commented on #483
What about saying if a summary item's link points to some special value (e.g. `[My Item](!)`) then we add a CSS class that renders it differently?

I'm not sure how this would interact with the internal representation of a book though. I'm pretty sure at the moment each chapter/item *must* point to a file...

[2017-11-11 07:49] budziq commented on #483
All things being equal i would suggest to use standard markdown ontology here. Like in the case of separator items  ("=========") we could just add support for standard non-linked list items ("- Some Item" vs "- [Linked chapter](pth/to/md)")

[2017-11-11 08:34] Michael-F-Bryan commented on #483
That sounds like a really nice solution! If we just have a normal list item with text instead of with a link then that's both intuitive and easy enough to handle.

It'd probably be easier to implement when we land #409 though.

[2017-11-11 13:58] steveklabnik commented on #482
I've gotten the green light to transfer it; feel free to initiate whenever you have time, @azerupi !

Basically, it will be similar to rustdoc: committers to mdbook will be "tool peers" under the devtools/doc team. :)

[2017-11-11 14:01] Michael-F-Bryan commented on #482
Just out of curiosity, what is a "tool peer"?

[2017-11-11 14:04] steveklabnik commented on #482
It's something slightly less than "team member", that is, you're a team member *for that tool* rather than for the team as a whole. It's jargon specific to the dev-tools team.

[2017-11-11 14:06] budziq commented on #482
Basically you retain the collaborator/commit rights to the repo

[2017-11-11 15:18] Michael-F-Bryan commented on #482
Sounds good to me :+1:

I guess the big question is... How will this affect the project from an organisational/logistical standpoint?

As it stands I really like what this project does and have a couple core features I'd like to see incorporated in some day (e.g. alternate backends and plugins), so I'm more than happy to keep helping out.

[2017-11-11 15:34] steveklabnik commented on #482
Basically, those of us who are maintainers operate on rough consensus. It feels to me like mdbook already works that way, so it shouldn't be a big change. The other difference is that the URL to the repo changes. That's about it though.

[2017-11-11 16:15] budziq commented on #482
Yeah some of your PR's are long overdue for final review and merging. Probably will need to get more focus on reducing that backlog.

As long as we don't introduce regressions I'm game with any new features.
Lets stick to some minimal discussion prior to merging significant changes and we'll do just fine 👍

[2017-11-11 16:16] budziq commented on #483
Yeah lets reduce some of that technical debt first

[2017-11-12 10:01] azerupi commented on #482
@steveklabnik I tried to transfer it to rust-lang-nursery but it failed because I don't have the permissions to create a repository on that organization. So I think it's best that I first transfer the repo under your name so that you can transfer it to the organization? :)

[2017-11-12 11:00] steveklabnik commented on #482
Sure thing!

[2017-11-12 11:41] azerupi commented on #482
Damn, looks like I can't do that either because it already exists (as a fork) 😅
I think you first need to delete your fork before I can transfer the repo. GitHub makes this way more complicated than it should be... 😋

[2017-11-12 12:11] steveklabnik commented on #482
Deleted!

[2017-11-12 12:30] azerupi commented on #482
Done! Thanks a lot :)

[2017-11-12 12:42] steveklabnik commented on #482
Boom! https://github.com/rust-lang-nursery/mdbook

[2017-11-12 12:45] azerupi commented on #482
Excellent!
I suppose we need to setup Travis, Appveyor and GitHub pages again for the new repo?

[2017-11-12 12:49] steveklabnik commented on #482
I'm not sure; given that you had permissions with the old repo.... here, let me open a PR and we'll see!

[2017-11-12 13:22] Michael-F-Bryan opened #485 "Updating Links"
After moving the repository (see #482) a bunch of links have become outdated.

A quick grep through the repo showed the following:

[code]

[2017-11-12 15:10] Michael-F-Bryan commented on #368
The configuration system has slightly changed ([see #457](https://github.com/rust-lang-nursery/mdBook/pull/457#issuecomment-343725475)) so that's another reason to put out `0.1` as the next release. I added a temporary compatibility thing which will still let you load the previous config file version, emitting a warning and migration instructions in the process.

I didn't know you could use the AC

[2017-11-12 17:33] Phaiax opened #486 "Watch command for book.toml changes"
The watch command does not reread the book.toml configuration data.
I'll include a fix for this issue in the search PR. #472

[2017-11-15 04:19] Alfriadox opened #487 "The documentation linked to on your crates.io site and readme both produce a 404."
I suggest changing the links to [https://docs.rs/mdbook/0.0.26/mdbook/]( https://docs.rs/mdbook/0.0.26/mdbook/) or something that's at least functional.

[2017-11-15 06:00] Michael-F-Bryan commented on #487
Looks like this comes under the umbrella of #485.

[2017-11-16 07:56] pi-pi3 opened #488 "Appendix B: Operators, compound assignment expressions"
The paragraph about compound assignment expressions in the 2nd appendix states that the `lval OP= rval` expression is equivalent to `lval = lval OP rval`. However this is might not be true for types which `impl` the `OpAssign` and `Op` traits.

In fact, the entire appendix never mentions the `OpAssign` traits.

[2017-11-16 07:57] #488 closed

[2017-11-16 07:57] pi-pi3 commented on #488
Ah, bollocks. I just posted this in the wrong repository. Sorry for the trouble.

[2017-11-16 08:11] Michael-F-Bryan commented on #95
This sounds like a nice first contribution for someone and I'd be more than happy to help with mentoring if need be.

It sounds like you'll need to do the following:

- Add an extra field to the `HtmlConfig` which specifies the default theme
- Tweak the `index.hbs` template so you can specify the default theme.
  - An easy solution would be to add an extra `<script>` tag at the bottom which will s

[2017-11-17 18:18] anna-liao commented on #485
@Michael-F-Bryan Is it just updating the links in the README?  If so, I can work on this.

[2017-11-17 18:43] anna-liao commented on #485
Is https://docs.rs/mdbook/0.0.26/mdbook/ the only working link for `mdbook`?  This is described as the API doc, so wondering if the original http://azerupi.github.io/mdBook/ is live at a different link?
- appveyor link still points to https://ci.appveyor.com/project/azerupi/mdbook/, is there a rust-lang-nursery appveyor link for mdbook?
- license image still points to https://img.shields.io/github

[2017-11-17 19:27] budziq commented on #485
Hi @anna-liao, Thanks for taking the interest!

Actually It would be great to change all of the links also in:
- source code (config.rs etc)
- the book-example
- cargo.toml
- deploy.sh
- any other place (grep for "azerupi" like @Michael-F-Bryan shown) in the bug report above.

Basically within all the links "azerupi" should be changed to "rust-lang-nursery" (except for appveyor which was not trans

[2017-11-17 20:37] Alfriadox commented on #487
@Michael-F-Bryan I think you're right.

[2017-11-17 20:37] #487 closed

[2017-11-18 11:14] Michael-F-Bryan opened #490 "Travis builds failing for OSX & beta"
For some reason we're encountering a permissions error when running the OSX/beta travis build. An [example] is trying to merge #465 or #422.

This is the error message:

![screenshot_2017-11-16_150757](https://user-images.githubusercontent.com/17380079/32878216-10054bd8-cae0-11e7-864d-c77597c8c49a.png)

@budziq or @steveklabnik, have you got any idea what may be causing this?

[example]: https://t

[2017-11-18 11:23] Michael-F-Bryan commented on #408
It may be better to handle this as part of the rendering process. It sounds a lot like something which would benefit from a plugin architecture, as a post-processing/pre-rendering step you'd run some plugin over our internal representation of a book and replace the relative urls (e.g. `./chapter_1.md`) with their equivalents.

[2017-11-18 15:50] Michael-F-Bryan commented on #482
Looks like someone in the rust-lang-nursery organisation will have to move appveyor across. Even though I've got commit rights to this repo it doesn't look like appveyor will let me add anything to rust-lang-nursery's builds.

cc: @rust-lang-nursery

[2017-11-18 15:56] budziq commented on #490
@Michael-F-Bryan on first glance it looks like https://github.com/rust-lang/cargo/issues/4699

[2017-11-18 16:05] Michael-F-Bryan commented on #490
I added a couple debug commands to see what's going on in that directory and that seems to be the issue.

![screenshot_2017-11-19_000033](https://user-images.githubusercontent.com/17380079/32982271-ce8cad3e-ccbc-11e7-9a08-f0ba14571ba7.png)

I'm thinking the easiest solution is to temporarily remove the OSX job until rust-lang/cargo#4699 is solved. @budziq, can you think of any other workaround?

[2017-11-18 16:49] budziq commented on #490
We can either disable osx (or just beta) temporarily or just wait doing nothing untill cargo gets fixed. I'd probably just disable the beta for now as the least valuable check.

[2017-11-18 16:56] budziq commented on #482
Given how many hoops we had to jump through with Alex to give me permissions for cookbook appveyor (without me joining nursery org) I'd suggest to just leave appveyor where it is as long as it works and we can trigger builds.

[2017-11-18 17:01] Michael-F-Bryan commented on #490
I think I'll disable `beta` because you tend to only ever use `stable` or `nightly`.

[2017-11-18 17:10] Michael-F-Bryan commented on #482
I was thinking it may be easier to ask someone already part of the nursery organisation to move things across, seeing as it's a one-time thing.

It doesn't look like the CI hooks are working any more because the repo's URL has changed. If you go to any recent PR and scroll to the bottom it's only firing off travis builds, meaning there's no guarantee that any changes we make work on windows.

A re

[2017-11-18 17:40] budziq commented on #482
Ouch! Then we need to move then. I'll try to dig up the steps we've done to allow me administrative access on cookbook appveyor (being collaborator is not enough, we'll need an additional account on appveyor)

[2017-11-19 01:12] steveklabnik commented on #482
I'm an owner of the nursery, I can do this.

I've been at conferences and on vacations so have been a bit MIA, but am
back now. Likely to catch up with the huge backlog monday. If you take care
of this before then, great, but if not, I'll do it then :)

On Sat, Nov 18, 2017 at 12:40 PM, Michał Budzyński <notifications@github.com

[2017-11-19 16:32] budziq commented on #482
of this before then, great,

https://github.com/rust-lang-nursery/rust-cookbook/issues/238#issuecomment-323971979

[2017-11-22 10:35] #485 closed

[2017-11-22 16:30] DeltaManiac commented on #95
I'd like to work on this issue.

[2017-11-22 21:26] behnam opened #494 "What's the best way to add version/commit signature to docs?"
Some books on the Rust bookshelf show the rust version and exact commit from which the documents were built.

For example, see the bottom-right corner of these pages:
* https://doc.rust-lang.org/stable/book/
* https://doc.rust-lang.org/beta/book/
* https://doc.rust-lang.org/nightly/book/

What's the best way to do that in mdbook land? Is it possible at all to do so automatically?

If we need to bu

[2017-11-23 06:12] budziq commented on #490
Looking at the 1.22.1 release notes, the problem with cargo on MacOS beta should be fixed.

[2017-11-23 09:00] budziq commented on #494
Hi @behnam

Currently one just builds mdbook against different versions and publishes the artifacts under different dirs/paths in the webserver. mdBook works here like any other static site generator.

It sure is! Just have a travis build publish to different dirs/urls (ie. in single travis build you can generate several mdBooks sequentially put it different dirs).

As described above, mdBook does

[2017-11-23 14:25] Michael-F-Bryan commented on #95
@DeltaManiac awesome! Would you like a hand getting started or finding your way around the code base?

[2017-11-23 14:29] Michael-F-Bryan commented on #494
You already have the ability to add custom CSS and JS which will be used by the generated book as well as the ability to tweak the template being used. It would probably be better to leverage a more general solution like that instead of adding corner cases to the HTML renderer.

[2017-11-24 11:11] budziq commented on #494
I did not mean to add any corner cases to the HTML renderer itself. Possibly some way to give key value pairs at commandline to include in hbs if given key is present. With the custom js you'd have to generate the included js file from some template to pass the commit/version string from outside env.

[2017-11-25 05:01] DeltaManiac commented on #95
@Michael-F-Bryan
So i have been going through the code and have an idea of whats is going on but it would be great if yoy could give a hand.

[2017-11-25 12:58] Michael-F-Bryan commented on #95
Sure thing! The easiest way would probably be to open a pull request and prefix its name with something like "WIP" so we know not to merge it.

That way we've got a place to discuss and can review what you've done without spamming this issue. How does that sound?

[2017-11-25 13:53] infinity0 opened #495 "Replacing playpen_editor with a placeholder"
Hi, version 0.0.26 of this package is included in the rust 1.22.1 release, and I'm packaging this for Debian.

Unfortunately it contains a lot of pre-built javascript files which I can't easily verify are FOSS. So I have to get rid of them. That is relatively straightforward to do, however as a courtesy for users I thought it would be nice to add a placeholder informing them that the playpen_edito

[2017-11-25 15:15] steveklabnik commented on #495
Sounds like we should fix this by being clearer about their licenses:

* store.js: MIT
* jquery: MIT
* highlight.js: BSD 3-clause
* clipboard.js: MIT
* ace editor: BSD 3-clause

I believe that covers everything that's vendored.

[2017-11-25 20:12] infinity0 commented on #495
It's not a licensing issue, it's the fact that those files are not source code ("preferred form of modification") in the first place. We don't include binary blobs in Debian on principle; declaring binary blobs as distributable under some particular FOSS license is missing the point of having free *source code*.

What normally happens is we remove the binary blobs, find their source code, and pack

[2017-11-25 20:26] steveklabnik commented on #495
Javascript souce files aren't source code? I've historically used debian, but not dug into its policies. That seems strange though.

[2017-11-25 21:01] steveklabnik commented on #495
Okay, so I've read the relevant policies. I'm admittedly quite frustrated by them, but such is life.

I care about my users, I want them to have this functionality. Is there a way we can make this work *without* turning this stuff off? Does the source for these libraries have to be debian packages, or if I add a minification step in, is that acceptable?

[2017-11-25 21:09] Manishearth commented on #495
Can we vendor these scripts in tree along with a bash script for minification; and have the Debian package -- only the debian package -- use that script?

[2017-11-25 21:10] Michael-F-Bryan commented on #495
Would a suitable alternative be to have both the source and minified versions side-by-side in the repository? That way we're still distributing the original source code and anyone who wants to can read/hack on that, while still using the minified versions to decrease the number of bytes transferred across the network.

[2017-11-25 21:38] Manishearth commented on #495
I think that's not enough -- I can't verify this myself but I think they want it to be part of the build system so if there are any vulns or bugfixes they can be ported with no manual intervention.

[2017-11-25 22:52] infinity0 commented on #495
The definition of source code we (and others) use is "preferred form of modification"; the point is to allow *easy* exercise of the "four freedoms of FOSS". Javascript minified code is about as easily-modifiable as assembly code so unfortunately we can't just include it as-is - if minified javascript code were acceptable as "source" then the same argument could be made for assembly.

Having the so

[2017-11-25 22:57] infinity0 commented on #495
The NPM ecosystem in general is not very easily adaptable to Debian and I gave up trying to do this a while ago. It's not a great situation I know, we just try to live with it the best we can. Sometimes, certain things can be packaged but it's an effort every time and I can't keep this up.

[2017-11-27 08:26] DeltaManiac commented on #95
Yeah thats cool.
Will do...

[2017-11-28 17:42] anna-liao opened #499 "bug: hyperlink to another section jumps to wrong location on Firefox 57"
While adding a new example in rust-cookbook, I noticed that the hyperlink jumps to the wrong location on Firefox 57.

See https://github.com/rust-lang-nursery/rust-cookbook/pull/371#pullrequestreview-79425714

Comment from @budziq

[2017-11-29 18:45] Michael-F-Bryan commented on #499
Hmm, so if I've understood this correctly the issue is that code snippet hiding changes the size of the page and the browser's viewport doesn't automatically move to reflect that. @budziq or @anna-liao, please correct me if I'm wrong!

What could we do to fix this? It sounds kinda like a browser issue, but at the same time it's caused because we're using javascript to play around with the page. I'

[2017-11-29 20:54] budziq commented on #499
Thats about right from my observations (but as you know I have zero webdev experience). I'd probably refrain from any hacky hotfixes as it is not super anoying and leave it to someone with webdev knowhow. I've marked it as Help-needed, we might think about advertising somewhere the need for help from webdev people, I mean in general and not only related to this issue.

[2017-12-03 08:06] Havvy opened #502 "[Suggestion] Special Links Document for Common Links"
In the Rust Reference, but presumably in other books as well, there is a lot of cross-linking. Every page has to copy this link around, and if the link changes, every page that links to it has to be updated. I'd rather there be a central list of these common links.

As such, much like there's a `SUMMARY.md`, I'd like to see a new special filed added called `LINKS.md` or `LINKS.mdbook.md` or `LINKS

[2017-12-03 08:41] Havvy commented on #453
This has been fixed. 😄

[2017-12-03 08:41] #453 closed

[2017-12-03 08:42] projektir opened #503 "Make an mdBook release?"
It seems that there wasn't a proper release since April, and the last release also lacked Windows versions as per https://github.com/rust-lang-nursery/mdBook/issues/481.

Could we get a new release/what's the process/timeline for releases? I would like to use one of the recent PRs about header partials in a project.

[2017-12-03 10:01] Havvy commented on #503
There was a release two months ago, and it was tagged, but not put in https://github.com/rust-lang-nursery/mdBook/releases (along with 0.0.23, 0.0.24, and 0.0.25). So adding those as actual releases might be helpful?

But other than that, with header partials in now, it'd be a good time for another release.

[2017-12-04 04:39] Michael-F-Bryan commented on #503
The configuration system has also completely changed, so technically we also need to bump the minor version. @Azerupi do you need to add me as an owner on crates.io for me to do a release?

[2017-12-04 04:41] Michael-F-Bryan commented on #502
This sounds like something which would be perfect for a plugin to do. *Technically* it could be added as part of the html renderer, but it sounds more like something you'd do as part of post-processing...

[2017-12-04 07:42] azerupi commented on #503
@Michael-F-Bryan Yes, I just added you and @budziq as crates.io authors. Let me know if it works.

[2017-12-04 08:13] Michael-F-Bryan commented on #503
I'd like to get some feedback from the other maintainers, but if it's alright with everyone I was thinking of doing a release tomorrow when I've got time.

From what I can think of, I'll need to:

- tag `master` with something like `v0.0.27` (or maybe `v0.1.0` because of the breaking configuration changes?)
- publish to crates.io (`cargo publish`)
- make a github release
- upload compiled binaries

[2017-12-04 12:34] azerupi commented on #503
I used to do this all manually at first, but for the last couple of releases I used [cargo-release](https://github.com/sunng87/cargo-release) with great success.

As for the pre-built binaries, they used to be uploaded directly from Travis and AppVeyor when a new tag was added. AppVeyor failed to do this for the last releases. I think Travis still worked for Linux and MacOS builds. Anyways, with t

[2017-12-07 10:43] Michael-F-Bryan commented on #503
There's a new release ([GitHub tag]/[crates.io]) :tada:

Binaries will be uploaded shortly.

[GitHub tag]: https://github.com/rust-lang-nursery/mdBook/releases/tag/0.0.27
[crates.io]: https://crates.io/crates/mdbook/0.0.27

[2017-12-07 10:43] #503 closed

[2017-12-07 20:33] teiesti opened #505 "Building books fails since 0.0.27"
For some strange reason, building books with mdBook fails since version 0.0.27. If I try, this is what happens:

[code]

If I create a new empty book with `mdbook init` and try `mdbook build` after, building fails.
If I try `mdbook watch`, building fails.

If I try the previous version 0.0.26, everything works just fine.

I am using the most recent version of Rust: `rustc 1.22.1 (05e2e1c41 2017-11

[2017-12-09 10:25] Michael-F-Bryan commented on #505
This is fixed in #506. It seems I didn't tell `mdbook` to use the default `Config` if `book.toml` is found, and our tests didn't pick up the regression because the books being tested all have a `book.toml`.

I've made a `0.0.28` release, so it should work now.

[2017-12-09 10:26] #505 closed

[2017-12-09 15:33] steveklabnik commented on #505
Thanks! :)

[2017-12-10 18:29] teiesti commented on #505
Works fine! Thanks a lot!

[2017-12-11 08:02] Michael-F-Bryan commented on #482
What do we need to make appveyor push compiled artefacts to GitHub releases? It seems like the easiest way to handle #481.

[2017-12-12 15:30] torkleyy opened #509 "Warn if a book.json exists"
I think that `book.json` was previously accepted, but it seems that now only TOML files are allowed. While I prefer TOML over JSON for config files, it wasn't easy to find out it's been changed.

Should such a warning be added to `MDBook` or should it go into the command-line tool only?

[2017-12-13 00:48] Michael-F-Bryan commented on #509
Thanks for pointing this out, when updating the configuration we added a compatibility shim for people using the legacy `book.toml` format but it looks like we forgot to mention the JSON format is no longer used.

 I think the easiest way to deal with this would be to check whether a `book.json` exists while loading the book (probably somewhere around [here]) and if it exists we emit a warning say

[2017-12-13 02:18] #509 closed

[2017-12-13 02:34] Michael-F-Bryan commented on #88
As a bit of an update on this front, I've started working on adding the ability to use alternative backends (#507). It's still very much in the experimental phase and nothing has been merged yet, but I've already got an [`EPUB` renderer][1] and it generates fairly reasonable outputs.

Under the hood we use @lise-henry's [epub-builder] crate (awesome crate by the way) to generate an `EPUB` document

[2017-12-13 03:32] #432 closed

[2017-12-13 19:34] ianopolous opened #511 "Include dependencies"
Thanks for the great tool! I'm very much enjoying it!

It would be great to have an option to include all dependencies like images, fonts and js etc. rather than linking directly to a cdn. So all the required media are included and served locally.

[2017-12-13 20:48] Havvy opened #512 "Poor Error Message for Missing Addition CSS File"
When you add an additional css file to the project, but that file doesn't exist in the filesystem, mdbook unhelpfully prints out:

[code]

It should specify which file doesn't exist and that it's looking for it because it's specified in the config file.